<section class="list-news">
	<div class="container" [class.mainPage]="mainPage">
		<div class="list" [style.marginLeft]=" -365*offset+'px' ">

			<ng-container *ngFor="let news of list">
				<a class="news" *ngIf="!news?.publicate"
					 [routerLink]="['/news', news?._id]" (click)="checkViewed(news._id)">
					<div class="photo-of-news" [style.backgroundImage]="'url(' + IMG_URL + news?.photoURL + ')'"></div>

					<div class="moderate-passed" *ngIf="user && !news?.viewed">
						{{ dictionary.MODERATION_PASSED }}
					</div>

					<div class="info">
						<div class="title">
							{{ news.title }}
						</div>

						<div class="description">
							{{ news.shortDescription }}
						</div>


						<div class="date">
							{{ dictionary.NEWS_COMMENTS_COUNTER}}: {{ news?.comments.length }}
						</div>
					</div>
				</a>

				<a class="news banner" *ngIf="news?.publicate && !news?.imageUrl "
					 [routerLink]="['/banner', news?._id]">
					<div class="photo-of-news" [style.backgroundImage]="'url(' + IMG_URL + news?.photoURL + ')'"></div>

					<div class="info">
						<div class="title">
							{{ news.title }}
						</div>

						<div class="adds">
							{{ dictionary.ADVERTISING_RECORD}}
						</div>

						<div class="description">
							{{ news.shortDescription }}
						</div>

						<div class="date">
							{{ news?.companyName }}
						</div>
					</div>
				</a>

				<a class="news banner" *ngIf="news?.publicate && news?.imageUrl"
					 [href]="news?.imageUrl" target="_blank">
					<div class="photo-of-news" [style.backgroundImage]="'url(' + IMG_URL + news?.photoURL + ')'"></div>

					<div class="info">
						<div class="title">
							{{ news.title }}
						</div>

						<div class="adds">
							{{ dictionary.ADVERTISING_RECORD}}
						</div>

						<div class="description">
							{{ news.shortDescription }}
						</div>

						<div class="date">
							{{ news?.companyName }}
						</div>
					</div>
				</a>
			</ng-container>

			<a *ngIf="user" class="news add" routerLink="/create-news">
				<div class="inner">
					<div class="circle">&#xFF0B;</div>
				</div>


				<div class="more-info add">
					{{ dictionary.NEWS_ADD }}
				</div>
			</a>

		</div>
	</div>
</section>
