<section class="list-news">
	<div class="container">
		<div class="row list">

			<div class="news" *ngFor="let news of listNews">
				<div class="photo-of-news" [style.backgroundImage]="'url(' + news.photoUrl + ')'"></div>

				<div class="info">
					<div class="title">
						{{ news.title }}
					</div>

					<div class="description" >
						{{ news.shortDescription }}
					</div>

					<div class="date">
						{{ news.changeDate || news.creationDate}}
					</div>
				</div>
			</div>

			<a class="news add" routerLink="/create-news">
				<div class="inner">
					<div class="circle">
						<div class="plus">
							+
						</div>
					</div>
				</div>

				<div class="more-info add" >
					Добавить новость
				</div>
			</a>

		</div>
	</div>
</section>