:host {
  .item-user {
    display: table-row;
    color: black;

    &.hidden {
      display: none;
    }
    &.unconfirmed {
      background-color: rgba(255, 103, 104, 0.4);
    }

    &.banned {
      background-color: rgba(117, 111, 208, 0.47);
    }
  }
  .item-user:focus, .item-user:hover {
    //display: block;
    background-color: #dcdcdc;
    cursor: pointer;
  }

  table {
    width: 100%;

    caption {
      text-align: left;
      padding: 20px 0;
      font-size: 1rem;
      font-family: 'Roboto';
    }

    th {
      text-align: left;
      vertical-align: middle;
    }
  }

  .full-info-user {

  }

  .pin-top {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;

    .scroll-container {
      height: 100%;
      overflow-y: scroll;
      position: relative;
    }

    .mat-card {
      margin-top: 10px;
    }

    .close-card {
      position: absolute;
      top: 29px;
      right: 30px;
      opacity: 0.7;
      z-index: 99;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }

}