<div class="row">
    <div class="col" [class.col-8]="checkedUser">
        <mat-card>
            <mat-tab-group>

                <mat-tab label="Все">
                    <mat-list>
                        <h3 mat-subheader>Список всех аккаунтов на сайте</h3>
                        <item-user *ngFor="let user of usersApi.userList; let i = index;"
                                   [user]="user"
                                   (click)="showFullInfo(user)"></item-user>
                    </mat-list>
                </mat-tab>

                <mat-tab label="Компании">
                    <mat-list>
                        <h3 mat-subheader>Список всех работодателей зарегестрированных на сайте</h3>
                        <item-user *ngFor="let user of usersApi.userList; let i = index;"
                                   [user]="user" [filter]="'employer'"
                                   (click)="showFullInfo(user)"></item-user>
                    </mat-list>
                </mat-tab>

                <mat-tab label="Соискатели">
                    <mat-list>
                        <h3 mat-subheader>Список всех соискателей зарегестрированных на сайте</h3>
                        <item-user *ngFor="let user of usersApi.userList; let i = index;"
                                   [user]="user" [filter]="'worker'"
                                   (click)="showFullInfo(user)"></item-user>
                    </mat-list>
                </mat-tab>

                <mat-tab label="Модераторы">
                    <mat-list>
                        <h3 mat-subheader>Список модераторов</h3>
                        <item-user *ngFor="let user of usersApi.userList; let i = index;"
                                   [user]="user" [filter]="'moderator'"
                                   (click)="showFullInfo(user)"></item-user>
                    </mat-list>
                </mat-tab>

            </mat-tab-group>
        </mat-card>
    </div>

    <div class="full-info-user col-4" *ngIf="checkedUser">
        <mat-card>
            <mat-icon class="close-full-info" mat-list-icon (click)="showFullInfo(null)">close</mat-icon>
            <full-user-info [user]="checkedUser"></full-user-info>
        </mat-card>
    </div>

</div>