<input
	type="text"
	class="search-field"
	[formControl]="search"
	placeholder="Поиск по ФИО"
>

<div *ngIf="search$ | async"></div>

<div class="row">
	<div class="col" [class.col-8]="checkedUser && !isShowAnalytics" [class.col-4]="checkedUser && isShowAnalytics">
		<mat-card>
			<mat-tab-group>

				<!--<mat-tab label="Все">-->
					<!--<table>-->
						<!--<caption>Список всех аккаунтов на сайте</caption>-->
						<!--<tr>-->
							<!--<th>Email</th>-->
							<!--<th *ngIf="!isShowAnalytics">Имя/Контактое лицо</th>-->
							<!--<th *ngIf="!isShowAnalytics">Количество <br/> резюме/вакансий</th>-->
							<!--<th *ngIf="!isShowAnalytics">Название компании</th>-->
						<!--</tr>-->
						<!--<a class="item-user" [routerLink]="['/admin/user', user._id]"-->
							 <!--*ngFor="let user of usersApi.userList; let i = index;"-->
							 <!--[user]="user"-->
							 <!--[class.unconfirmed]="user.status === 1"-->
							 <!--[class.banned]="user.status === 9"></a>-->
					<!--</table>-->
				<!--</mat-tab>-->

				<mat-tab label="Компании">
					<table>
						<caption>Список всех работодателей зарегестрированных на сайте</caption>
						<tr>
							<th>Email</th>
							<th *ngIf="!isShowAnalytics">Контактое лицо</th>
							<th *ngIf="!isShowAnalytics">Количество <br/>вакансий</th>
							<th *ngIf="!isShowAnalytics">Название компании</th>
						</tr>
						<a class="item-user" [routerLink]="['/admin/user', user._id]"
							 *ngFor="let user of userList; let i = index;"
							 [user]="user" [class.hidden]="user.typeAccount !== 'employer'"
							 [class.unconfirmed]="user.status === 1"
							 [class.banned]="user.status === 9"></a>
					</table>
				</mat-tab>

				<mat-tab label="Соискатели">
					<table>
						<caption>Список всех соискателей зарегестрированных на сайте</caption>
						<tr>
							<th>Email</th>
							<th *ngIf="!isShowAnalytics">Имя</th>
							<th *ngIf="!isShowAnalytics">Количество <br/> резюме/вакансий</th>
							<th *ngIf="!isShowAnalytics"></th>
						</tr>
						<a class="item-user" [routerLink]="['/admin/user', user._id]"
							 *ngFor="let user of userList; let i = index;"
							 [user]="user" [class.hidden]="user.typeAccount !== 'worker'"
							 [class.unconfirmed]="user.status === 1"
							 [class.banned]="user.status === 9"></a>
					</table>
				</mat-tab>

				<mat-tab label="Модераторы">
					<mat-list>
						<h3 mat-subheader>Список модераторов</h3>
						<a class="item-user" [routerLink]="['/admin/user', user._id]"
							 *ngFor="let user of userList; let i = index;"
							 [user]="user" [class.hidden]="user.typeAccount !== 'moderator'"></a>
					</mat-list>
				</mat-tab>

			</mat-tab-group>
		</mat-card>
	</div>
</div>