<div class="row">
    <div class="col" [class.col-8]="checkedUser">
        <mat-card>
            <mat-tab-group>

                <mat-tab label="Все">
                    <table>
                        <caption>Список всех аккаунтов на сайте</caption>
                        <tr>
                            <th>Email</th>
                            <th>Имя/Контактое лицо</th>
                            <th>Количество <br/> резюме/вакансий</th>
                            <th>Название компании</th>
                        </tr>
                        <item-user *ngFor="let user of usersApi.userList; let i = index;"
                                   [user]="user"
                                   (click)="showFullInfo(user, i)"></item-user>
                    </table>
                </mat-tab>

                <mat-tab label="Компании">
                    <table>
                        <caption>Список всех работодателей зарегестрированных на сайте</caption>
                        <tr>
                            <th>Email</th>
                            <th>Контактое лицо</th>
                            <th>Количество <br/>вакансий</th>
                            <th>Название компании</th>
                        </tr>
                        <item-user *ngFor="let user of usersApi.userList; let i = index;"
                                   [user]="user" [class.hidden]="user.typeAccount !== 'employer'"
                                   (click)="showFullInfo(user, i)"></item-user>
                    </table>
                </mat-tab>

                <mat-tab label="Соискатели">
                    <table>
                        <caption>Список всех соискателей зарегестрированных на сайте</caption>
                        <tr>
                            <th>Email</th>
                            <th>Имя</th>
                            <th>Количество <br/> резюме/вакансий</th>
                            <th></th>
                        </tr>
                        <item-user *ngFor="let user of usersApi.userList; let i = index;"
                                   [user]="user" [class.hidden]="user.typeAccount !== 'worker'"
                                   (click)="showFullInfo(user, i)"></item-user>
                    </table>
                </mat-tab>

                <mat-tab label="Модераторы">
                    <mat-list>
                        <h3 mat-subheader>Список модераторов</h3>
                        <item-user *ngFor="let user of usersApi.userList; let i = index;"
                                   [user]="user" [class.hidden]="user.typeAccount !== 'moderator'"
                                   (click)="showFullInfo(user, i)"></item-user>
                    </mat-list>
                </mat-tab>

            </mat-tab-group>
        </mat-card>
    </div>

    <div class="full-info-user col-4" *ngIf="checkedUser">
        <mat-card>
            <mat-icon class="close-full-info" mat-list-icon (click)="showFullInfo(null)">close</mat-icon>
            <full-user-info [user]="checkedUser" [index]="indexCheckedUser"></full-user-info>
        </mat-card>
    </div>

</div>