<a class="wrapper" *ngIf="!respond && !questionnaire"
	   routerLink="{{addRoute() || viewRoute()}}">

	<div
		*ngIf="vacancy && vacancy.status === 3"
		class="timeout"
	>
		<div class="timeout-label">
			{{dictionary.ENTITY_TIME_IS_UP}}
		</div>
	</div>

	<div
		*ngIf="(vacancy && vacancy.status === 9) || (resume && resume.status === 9)"
		class="timeout"
	>
		<div class="timeout-label">
			Заблокировано
		</div>
	</div>

	<resume-view
			*ngIf="resume || (respond && typeUser === 'employer')"
			[resume]="respond ? respond.resume : resume"
			[dictionary]="dictionary"
			[ngStyle]="{'height':heightContent+'px'}"
			class="content"
	></resume-view>

	<vacancy-view
			*ngIf="vacancy || (respond && typeUser === 'worker')"
			[vacancy]="respond ? respond.vacancy : vacancy"
			[dictionary]="dictionary"
			[ngStyle]="{'height':heightContent+'px'}"
			class="content"
	></vacancy-view>

	<add-view
			*ngIf="addNew"
			[ngStyle]="{'height':heightContent+'px'}"
			class="content"
	>
	</add-view>

	<add-view
		*ngIf="addQuestionnaire"
		[ngStyle]="{'height':'144px'}"
		class="content"
	>
	</add-view>
</a>

<div class="wrapper not-link" *ngIf="respond || questionnaire">

	<questionnaire-view
		*ngIf="questionnaire"
		[questionnaire]="questionnaire"
		[dictionary]="dictionary"
		[ngStyle]="{'height':heightContent+'px'}"
		class="content"
	></questionnaire-view>

	<main-status
			*ngIf="respond"
			[typeUser]="typeUser"
			[entity]="respond.entity"
			[viewed]="typeUser === 'worker' ? respond.workerViewed : respond.employerViewed"
			[status]="respond.status"
			[dictionary]="dictionary"
			[respond]="respond"
	></main-status>

	<resume-view
			*ngIf="resume || (respond && typeUser === 'employer')"
			[resume]="respond ? respond.resume : resume"
			[dictionary]="dictionary"
			[ngStyle]="{'height':heightContent+'px'}"
			[respondTitle]="getRespondTitle()"
			class="content"
	></resume-view>

	<vacancy-view
			*ngIf="vacancy || (respond && typeUser === 'worker')"
			[vacancy]="respond ? respond.vacancy : vacancy"
			[dictionary]="dictionary"
			[ngStyle]="{'height':heightContent+'px'}"
			[respondTitle]="getRespondTitle()"
			class="content"
	></vacancy-view>
</div>

<detailed-status
	*ngIf="respond"
	[typeUser]="typeUser"
	[entity]="respond.entity"
	[status]="respond.status"
	[dictionary]="dictionary"
	[respond]="respond"
></detailed-status>

<a class="more-info" [ngClass]="{'add': addNew || addQuestionnaire }"
	 [routerLink]="[routeButtonMore()]" (click)="checkToViewed()"
	 *ngIf="!(questionnaire && questionnaire.type === 'file')"
>
	{{ textButtonMore() }}
	<img src="/assets/images/arrow.svg"/>
</a>

<a class="more-info"
	 href="{{routeButtonMore()}}"
	 *ngIf="questionnaire && questionnaire.type === 'file'"
	 target="_blank"
	 download="{{questionnaire.title}}"
>
	{{ textButtonMore() }}
	<img src="/assets/images/arrow.svg"/>
</a>