@import "colors";
@import "animations";
@import "blocks";

:host {
  @include card();

  .wrapper.not-link {
    cursor: default;
    pointer-events: none;
  }

  .wrapper > .content {
    display: block;
  }

  .more-info.add {
    text-align: center;
    background-color: $orange;
    color: white;
    @include animation();

    img {
      display: none;
    }
  }

  &:hover {
    .more-info.add  {
      background-color: $white;
      color: $hover-orange;
    }
  }

}