<div class="component" *ngIf="currentLang === 'ru'">
	<div class="row">
		<div class="col">

			<div class="title">
				Политика конфиденциальности
			</div>


			<p>
				Мы придаем большое значение защите ваших личных данных. Настоящим хотим сообщить Вам, что мы собираем ваши
				данные, которые необходимы для процесса подачи заявки кандидатов и вакансий.
			</p>

			<p>
				Эта политика конфиденциальности может быть доступна в любое время на нашем сайте. Наши пользователи могут
				распечатать копию Политики конфиденциальности.
			</p>

			<p>
				Данная Политика конфиденциальности может меняться время от времени в соответствии с действующем
				законодательством и/или разработки прецедентного права. Таким образом, декларация о защите данных имеет
				исключительно важное значение и доступна в онлайн-версии.
			</p>

			<p>
				Мы не передаем эти данные из файла журнала третьим сторонам, а только оцениваем их в статистических целях,
				посредством чего мы анонимизируем данные. Совпадений данных с другими источниками данных нет.
			</p>

			<ol>
				<li>
					Пользователи могут посетить наш веб-сайт без предоставления персональных данных. Поскольку соискатели или
					работодатели представляют личные данные - при регистрации или авторизации - это делается добровольно. Мы
					занимаемся всеми личными данными, которые пользователи передают. Данные пользователей используются и
					обрабатываются исключительно в рамках применимых законов о защите данных (европейские руководящие принципы
					защиты данных и любые другие применимые законы защиты данных).
					<br/>
					Несмотря на это, некоторые данные собираются при посещении нашего веб-сайта и мы хотели бы сообщить нашим
					пользователям об этом ниже.
				</li>

				<li>
					Каждый визит к нашему присутствию в Интернете хранит данные доступа в файле журнала на сервере нашего
					провайдера.<br>
					Эта запись состоит из IP-адреса пользователя, даты и времени запроса, имени запрашиваемого файла, имени файла,
					с которого был запрошен файл, количества переданных данных и статуса доступа, описания используемого
					веб-браузера и операционной системы, Имя поставщика услуг пользователя.<br>
					Эти данные собираются по техническим причинам. Оценка проводится исключительно для статистических целей и без
					личных обращений.<br>
					Мы храним файлы cookie на жестком диске наших пользователей. Это изначально так называемые файлы cookie
					сеансов, которые генерируются через наш веб-сервер. Они содержат уникальный номер, который не имеет никакого
					значения за пределами нашего веб-сайта. Файлы cookie должны распознавать повторяющиеся визиты наших
					пользователей, а также определять и разрешать пользователям после успешной регистрации в охраняемой зоне на
					весь период посещения. <br>
					Пользователи имеют право и возможность настроить браузер, используемый таким образом, чтобы они отказывались
					от наших файлов cookie. В этом случае объем нашего интернет-предложения может быть ограничен.
				</li>

				<li>
					Для того, чтобы сделать наш сайт максимально привлекательным, мы интегрировали различные плагины социальных
					сетей, о которых мы хотели бы сообщить нашим пользователям в будущем. Однако ни в коем случае использование
					нашего веб-сайта не требует регистрации с третьими лицами, упомянутыми ниже. На нашем веб-сайте интегрированы
					плагины из социальных сетей Facebook, LinkedIn и Istagram. Вы можете распознать плагины по соответствующей
					эмблеме.<br>
					<ul>
						<li>
							Facebook. Если вы посетите один из наших сайтов, который содержит такой плагин, ваш браузер будет напрямую
							подключаться к серверам Facebook. Facebook будет проинформирован о том, что вы посетили наш сайт с вашим
							IP-адресом. Если вы вошли в Facebook, Facebook может назначить посещение вашей учетной записи Facebook.
							Например, когда вы взаимодействуете с плагинами, нажмите кнопку «Мне нравится» или сделайте комментарий,
							соответствующая информация будет отправлена непосредственно Facebook и будет сохранена там. Поскольку эта
							передача является прямой, мы не знаем о переданных данных. Информацию о целях и объеме сбора данных
							Facebook, дальнейшей обработке и использовании данных Facebook, а также о ваших правах и настройках для
							защиты вашей конфиденциальности см. в политике конфиденциальности Facebook.
						</li>

						<li>
							Linkedin. После подтверждения кнопкой «LinkedIn», нашим пользователям предоставляется возможность
							рекомендовать определенный контент нашего веб-сайта через существующий профиль LinkedIn. Для этого
							требуется учетная запись LinkedIn. Однако сбор данных или передача данных через наш сайт LinkedIn не
							происходит. Каждый доступ к нашему сайту хранится в файле журнала. В этом файле журнала мы имеем следующие
							данные:

							<ul>
								<li>IP-адрес запрашивающего компьютера;</li>
								<li>Дата и время запроса и продолжительность посещения;</li>
								<li>Браузер запрашивающего;</li>
								<li>Операционная система запрашивающего;</li>
								<li>Переданные наборы данных или параметры URL-адреса.</li>
							</ul>
						</li>
					</ul>
				</li>

			</ol>

			<p>
				<b>Это делается следующим образом:</b>
			</p>

			<ol start="4">
				<li>
					Защита персональных данных. Европейский союз уважает конфиденциальность пользователей. «Защита физических лиц
					при обработке персональных данных была определена в Положениях Европейского парламента и Совета от 18 декабря
					2000 года. Правило ЕС 45 2001 и Правило ЕС 2011 833. <br>
					Это правило ЕС распространяется на все сайты учреждений. Хотя вы можете просматривать большинство
					интернет-страниц без раскрытия вашей личной информации, в некоторых случаях для предоставления желаемого
					онлайн-сервиса требуется личная информация. <br>
					На страницах Интернета, для которых требуется такая информация, рассматривается в соответствии с
					вышеупомянутым. Эти веб-сайты предоставляют информацию об использовании ваших данных в инструкции по защите
					персональных данных.<br>
					<ul>
						<li>Для каждого отдельного онлайн-сервиса лицо, ответственное за обработку данных, определяет цели и
							средства обработки персональных данных и гарантирует, что соответствующая онлайн-служба соответствует
							политике конфиденциальности.
						</li>
						<li>Для каждой интернет-заявки сотрудник по защите данных контролирует применение Положения о защите данных
							и консультирует лиц, ответственных за обработку данных при выполнении своих задач.
						</li>
					</ul>
				</li>
			</ol>

			<p>
				Что такое онлайн-сервис? Онлайн-сервис - это интернет-инструмент для улучшения коммуникационных возможностей
				между заинтересованными сторонами и предпринимателями.
			</p>

			<p>
				Также мы должны успешно обслуживать все детали, которые, как правило, находится в резюме. Запрашиваются
				следующие данные, но не ограничиваясь:
			</p>

			<p>
				Кроме того, в случае занятости нам необходимы дополнительные данные, необходимые для установления и
				осуществления трудовых отношений.
			</p>

			<ol start="5">
				<li>
					Сбор, обработка и использование ваших персональных данных. Мы создаем профили заявителей из предоставленных вами
					данных, которые мы делаем доступными для наших клиентов, желая использовать в нашей помощи своих потребностей в
					персонале. С этой целью мы храним и обрабатываем ваши личные и конфиденциальные данные до тех пор, пока это
					необходимо для предоставления наших услуг. По крайней мере ваше ФИО и ваши контактные данные. Мы используем
					электронную систему для управления соискателями и работодаелями, что позволяет нам предлагать вам подходящие
					профессиональные задачи.

					<ul>
						<li>Приветствие;</li>
						<li>Титул;</li>
						<li>Имя;</li>
						<li>Фамилия;</li>
						<li>День и место рождения;</li>
						<li>Гражданство;</li>
						<li>Семейное положение;</li>
						<li>Контактные данные;</li>
						<li>Образование;</li>
						<li>Профессиональное обучение;</li>
						<li>Профессии;</li>
						<li>Период обучения или учебы;</li>
						<li>Компьютерные навыки;</li>
						<li>Личные качества и преимущества;</li>
						<li>Родной язык;</li>
						<li>Другие языковые навыки;</li>
						<li>Занятость;</li>
						<li>Начало занятости;</li>
						<li>Начало обучения;</li>
						<li>Продолжительность работы,</li>
						<li>Загрузка документов;</li>
						<li>И др.</li>
					</ul>
				</li>
			</ol>

			<p>
				Кроме того, у вас есть возможность контролировать сферу действия и направление распространения вашего профиля.
			</p>

			<p>
				<b>Настоящим я даю разрешение на раскрытие моего адреса данных:</b>
			</p>

			<p>
				Вы можете изменить характеристики, которые вы сделали в любое время, но вы не можете отменить любые изменения,
				сделанные или инициированные во время изменения.
			</p>

			<p>
				Мы ни в коем случае не будем продавать или иным образом передавать данные третьим лицам в коммерческих целях. Мы
				можем передавать ваши данные третьим лицам, если мы по закону обязаны это сделать или обязаны сделать это по
				официальному или судебному решению, или если передача будет оправдывать и обеспечивать соблюдение наших прав и
				требований или защиты против незаконной деятельности.
			</p>

			<p>
				Также предоставляется передача ваших данных в страны за пределами Европейского Союза.
			</p>

			<ol start="6">
				<li>
					Защита данных. Ваши личные данные будут строго конфиденциальными и будут зашифрованы во время электронной
					передачи. Шифрование данных осуществляется в соответствии с известными нам уровнями техники и постоянно
					развивается в соответствии с техническими стандартами.<br>
					Если вы укажете адрес электронной почты в нашей системе, мы предполагаем, что мы также можем связаться с вами
					через этот адрес электронной почты. Мы хотели бы отметить, что при определенных обстоятельствах опытные
					пользователи могут читать, изменять, предотвращать доставку или создавать новые сообщения. Мы не можем нести
					ответственность за фактический процесс передачи данных через Интернет. Наши сотрудники полностью обучены
					обработке личных и конфиденциальных данных и в письменной форме заявили о необходимости тщательного обращения
					с такими данными, а также соответствия требованиям защиты данных.
				</li>

				<li>
					Передача и обработка персональных данных. Чтобы ваша заявка была успешной, мы опубликуем ваши данные, которые
					вы ввели в соответствии с пунктом 5 (сбор, обработка и использование ваших персональных данных), в анонимной
					форме (без их адресных данных) на веб-сайтах <a class="inline-link" href="https://www.cenozoicenergy.com" target="_blank">www.cenozoicenergy.com</a>
					и
					<a class="inline-link" href="https://www.cnzcommunity.com/" target="_blank">www.cnzcommunity.com</a>. Мы также
					используем предоставленные вами данные для создания профиля заявителя, который мы предоставляем нашим
					клиентам, которые с нашей помощью могут удовлетворить их требования к персоналу. Когда вы вводите данные
					своего заявителя, вы можете выбрать, отправлять ли ваш профиль в анонимной форме (без ваших адресных данных)
					или лично (с адресными данными).

					<ul>
						<li>да, всем заинтересованным работодателям;</li>
						<li>нет, только после консультации.</li>
					</ul>
				</li>

				<li>
					Хранение данных. Для того, чтобы эффективно разместить вашу заявку, мы сохраняем ваши данные на протяжении
					всего процесса подачи заявки. Вы, конечно, имеете право в любое время поручить нам удалить данные. В более
					длительных процессах заявки мы будем регулярно связываться с вами в отношении своевременности данных и
					спрашивать, хотите ли вы обновить и сохранить свою заявку.<br>
					Ваш Профиль будет храниться в нашем пуле кандидатов. Это также происходит, если вы сначала направили свое
					заявление на конкретную работу и активно подтвердили вход в пул кандидатов. Хранение в пуле кандидатов может
					осуществляется до момента аннулирования.
				</li>

				<li>
					Согласие или отказ от согласия на защиту данных. При регистрации вам будет предложено дать свое согласие на
					сбор и использование данных в соответствии с данной Политикой конфиденциальности. После того, как вы поставите
					флажок «Я прочитал Политику конфиденциальности и принимаю их", Вы даете свое полное согласие в соответствии с
					данной Политикой конфиденциальности. Если вы откажетесь от своего согласия, ваше приложение не может быть
					обработано.<br>
					Кроме того, вы всегда имеете право получать информацию о личных данных, происхождении и получателе, а также о
					целях хранения.
				</li>

				<li>
					Отзыв согласия, удаление данных, информация. Если вы дали согласие на сбор и обработку персональных данных, вы
					можете в любое время отозвать это посредством декларации, адресованной нам, которая будет действовать в
					будущем. Вы имеете право произвести исправление, удаление или блокировку ваших данных нами в соответствующей
					декларации, если это совместимо с установленными законом периодами хранения. Если вы хотите, мы можем удалить
					ваши данные и/или документы, загруженные и сохраненные в вашем электронном профиле, в любое время.
				</li>

				<li>
					Изменение политики конфиденциальности. Наши меры по защите данных регулярно пересматриваются и развиваются. Вы
					всегда можете получить доступ к соответствующей политике защиты данных на этой странице. Мы рекомендуем вам
					регулярно проверять Политику. Если у вас есть какие-либо вопросы, пожалуйста, свяжитесь с нами.
				</li>

				<li>
					Ответственность и авторское право. Веб-сайты предназначены для упрощения доступа общественности к информации о
					наших инициативах. Целью является распространение точной и актуальной информации. Если мы узнаем об ошибках,
					мы попытаемся исправить их. Однако мы не несем ответственности за содержание веб-сайта
					<a class="inline-link" href="https://www.cnzcommunity.com/" target="_blank">www.cnzcommunity.com</a> К содержанию относится
					следующее:
					<ul>

						<li>Информация общего характера без ссылки на конкретного человека или организации;</li>
						<li>не обязательно полная, подробная, точная или актуальная информация;</li>
						<li>при определенных обстоятельствах ссылки на сторонние сайты, на содержание которых мы не имеем никакого
							влияния и за которые мы не несем ответственности;
						</li>
						<li>не профессиональная или юридическая консультация;</li>
						<li>мы не принимаем на себя никакой ответственности за содержание и достоверность информации;</li>
						<li>Информация вакансий и кандидатов может быть использована только в законных целях.</li>
						<li>«Скрининг экрана» или другие автоматизированные или ручные системы для чтения данных на вакансии или
							приложения с целью дальнейшей обработки или повторной публикации информации не допускаются;
						</li>
						<li>Не разрешены действия, которые являются несоответствующими или несоразмерными нашим веб-сайтам или
							соответствующей инфраструктуре. Содержание предоставленной нами информации защищено авторским правом, а
							знак слова «Cenozoic Energy», «Cenozoic Energy Group», «Cenozoic Community» и наши логотипы защищены
							законом. Авторское право на весь контент, созданный нами, лежит исключительно на нас. Передача,
							использование, обработка или воспроизведение информации, данных, текстов, текстовых частей или изображений
							в электронной или печатной форме, предоставление или перенос использования записей третьими лицами и
							запись наших скриншотов не допускаются без нашего предварительного письменного согласия.
						</li>
						<li>Что касается всего остального содержимого, которое воспроизводится на наших веб-страницах и которое не
							было создано нами, берется с максимальной осторожностью в отношении авторских прав третьих лиц. Если какие
							либо части нашего сайта нарушают авторские права третьих лиц, мы запрашиваем соответствующие инструкции и
							удаляем их сразу же после нашего ознакомления с данным нарушением. Мы хотели бы избежать возможных ошибок,
							неправильно созданных файлов, неправильно структурированных форматов или других нарушений, за которые мы
							не несем ответственности.
						</li>
						<li>Все предложения и информация на нашем сайте не могут быть основанием для претензий к точности и полноте.
							Для них, следовательно, не должно возникать никаких юридических претензий. Точно так же устная или
							письменная информация, которая предоставляется за пределами индивидуального консультирования и не имеет
							обязательной силы. Ответственность за ущерб материального или нематериального характера, вызванный
							использованием или неиспользованием предоставленной нами информации или использованием неправильной, или
							неполной информации, исключается, если мы не можем быть признаны виновными или грубо небрежными. В случае
							прямых или косвенных ссылок на сторонние веб-сайты («ссылки») никакая гарантия не может быть принята за
							содержание связанных страниц, на которые мы не влияем. Ошибки в содержании наших веб-страниц немедленно
							исправляются, а также ссылки сразу же удаляются с наших веб-страниц, после того как нарушения будут
							выявлены.
						</li>
					</ul>
				</li>
			</ol>


		</div>
	</div>
</div>

<div class="component" *ngIf="currentLang === 'en'">
	<div class="row">
		<div class="col">

			<div class="title">
				Privacy Policy
			</div>


			<p>
				We attach great importance to the protection of your personal data. We hereby wish to inform you, that we collect your data, which we need for application process of candidates and vacancies.
			</p>

			<p>
				This Privacy Policy may be accessed any time via our website. Our users can print out a copy of the Privacy Policy.
			</p>

			<p>
				The Privacy Policy may change from time to time in accordance to the current legislation and/or developments of case law. Thus, the data protection declaration is extremely important and is available in the online version.
			</p>

			<ol>
				<li>
					Users can visit our website without providing any personal information. As applicants or employers submit personal data - when registering or authorizing - this is done voluntarily. We handle all personal data that users transmit. User data is used and processed exclusively under applicable data protection laws (European data protection guidelines and any other applicable data protection laws).
					<br/>
					Despite this, some data is collected when visiting our website and we would like to inform our users about it below.
				</li>

				<li>
					Each visit to our presence on the Internet stores the data in the archive of the journal on the server of our provider.<br>
					This entry consists of the user's IP addresses, the date and time of the request, the name of the requested file, the file name with which the file was requested the number of data transmitted and current accesses, the description of the Web browser and operating system used, and user's name of the service provide.<br>
					These data are collected for technical reasons. The evaluation is carried out exclusively for statistical purposes and without personal appeals.<br>
					We store cookies on the hard drive of our users. These are initially so-called session cookies that are generated through our web server. They contain a unique number that does not make any difference outside of our website. Cookies should recognize the repeated visits of our users, as well as identify and allow users after successful registration in the protected area for the entire visit period.<br>
					Users have the right and the ability to customize the browser used in such a way that they refuse our cookies. In this case, the volume of our Internet offer may be limited.
				</li>

				<li>
					In order to make our website as attractive as possible, we have integrated various social networking plug-ins that we would like to inform our users about in the future. However, in no case shall the use of our website require registration with third parties mentioned below. Plugins from the Facebook, LinkedIn and Instagram social networks are integrated on our website. You can recognize the plugins by the corresponding logo.
					<ul>
						<li>
							If you visit one of our sites that contains such a plug-in, your browser will directly connect to Facebook servers. Facebook will be informed that you visited our site with your IP address. If you are logged in to Facebook, Facebook can schedule a visit to your Facebook account. For example, when you interact with plug-ins, click the "Like" button or comment, the relevant information will be sent directly to Facebook Facebook and stored there. Since this transmition is direct, we do not know about the data transferred. For information on the purpose and scope of Facebook data collection, further processing and use of Facebook data, and about your rights and settings to protect your privacy, see Facebook Privacy Policy.
						</li>

						<li>
							Confirming the "LinkedIn" button, our users are given the opportunity to recommend certain content of our website through the existing LinkedIn profile. This requires a LinkedIn account. However, data collection or data transfer through our LinkedIn site does not occur. Each access to our site is stored in a log file. In this log file we have the following data:

							<ul>
								<li>IP address of the requesting computer;</li>
								<li>Date and time of the request and duration of the visit;</li>
								<li>The requestor's browser;</li>
								<li>The operating system of the requestor;</li>
								<li>Sent data sets or URL parameters.</li>
							</ul>
						</li>
					</ul>
				</li>

			</ol>

			<p>
				We do not transfer this data from the log file to third parties, but only evaluate them for statistical purposes, whereby we anonymize the data. There are no matches of data with other data sources.
			</p>

			<ol start="4">
				<li>
					Protection of personal data. The European Union respects the privacy of users. "The protection of individuals in the processing of personal data was defined in the Regulations of the European Parliament and of the Council of December 18, 2000. EU Regulation 45 and EU Regulation 2011 833.<br/>
					This EU rule applies to all sites of Community institutions. Although you can view most of the Internet pages without disclosing your personal information, in some cases personal information is required to provide the desired online service.<br/>
					On the Internet pages for which such information is required, it is considered in accordance with the above. These websites provide information about the use of your data in instructions for protecting personal data.<br/>
					<b>This is done as follows::</b>

					<ul>
						<li>For each individual online service, the person responsible for the processing of data determines the purposes and means of processing personal data and ensures that the corresponding online service complies with the privacy policy.</li>
						<li>For each Internet application, the data protection officer monitors the application of the Data Protection Regulations and advises those responsible for processing data in the performance of their tasks.</li>
					</ul>

					What is an online service? Online service is an Internet tool for improving communication opportunities between interested parties and entrepreneurs.
					<br><br>
					We also should successfully service all the details that are usually found in the summary. The following data are requested, but not limited to:
					<br><br>
					In addition, in case of employment, we need additional data necessary for establishing and implementing labor relations.

				</li>

				<li>
					Collection, processing and use of your personal data. We create application profiles from the data you provide, which we make available to our customers, wanting to use our staffing needs in our assistance. To this end, we store and process your personal and confidential data as long as it is necessary to provide our services. At least your name and your contact details. We use an electronic system to manage candidates and work, which allows us to offer you suitable professional tasks.

					<ul>
						<li>Greeting;</li>
						<li>Title;</li>
						<li>Name;</li>
						<li>Surname;</li>
						<li>Day and place of birth;</li>
						<li>Citizenship;</li>
						<li>Family status;</li>
						<li>Contact details;</li>
						<li>Education;</li>
						<li>Professional education;</li>
						<li>Professions;</li>
						<li>Period of study;</li>
						<li>Computer and other skills;</li>
						<li>Personal qualities and advantages;</li>
						<li>Native language;</li>
						<li>Other language skills;</li>
						<li>Employment;</li>
						<li>Start of employment;</li>
						<li>Start educationa date;</li>
						<li>Duration of work,</li>
						<li>Loading of documents;</li>
						<li>And etc.</li>
					</ul>

					If you specify an email address in our system, we assume that we can also contact you through this email address. We would like to note that under certain circumstances, experienced users can read, modify, prevent delivery or create new messages. We can not be responsible for the actual process of transferring data over the Internet. Our employees are fully trained in the processing of personal and confidential data and in writing have stated the need for careful handling of such data, as well as compliance with data protection requirements.
				</li>

				<li>
					Data Protection. Your personal data will be strictly confidential and will be encrypted during the electronic transfer. Encryption of data is carried out in accordance with the known levels of technology and is constantly developing in accordance with technical standards.<br>
					In addition, you have the ability to control the scope and direction of the distribution of your profile.
					<br><br>
					I hereby authorize the disclosure of my data address:
					<br><br>
					You can change the characteristics that you have made at any time, but you can not undo any changes made or initiated during the change.
					<br><br>
					We will in no case sell or otherwise transfer data to third parties for commercial purposes. We may transfer your data to third parties if we are legally required to do so or are required to do so by official or judicial decision, or if the transfer will justify and enforce our rights and demands or protection against illegal activities.
					<br><br>
					The transmission of your data to countries outside the European Union is also provided.
				</li>

				<li>
					Transmission and processing of personal data. In order for your application to be successful, we will publish your data, which you entered in accordance with clause 5 (collection, processing and use of your personal data) in an anonymous form (without their address data) on the websites <a class="inline-link" href="https://www.cenozoicenergy.com" target="_blank">www.cenozoicenergy.com</a> and <a class="inline-link" href="https://www.cnzcommunity.com" target="_blank">www.cnzcommunity.com</a>. We also use the information you provided to create an applicant profile that we provide to our customers who, with our help, can meet their requirements for staff. When you enter your applicant's details, you can choose whether to send your profile in an anonymous form (without your address data) or personally (with address data).

					<ul>
						<li>Yes, all interested employers;</li>
						<li>No, only after consultation.</li>
					</ul>

					Your profile will be stored in our candidate pool. This also happens if you first sent your application for a specific job and actively confirmed the entrance to the pool of candidates. The candidates can be stored in the pool until the cancellation.
				</li>

				<li>
					Storing data. In order to effectively place your application, we store your data throughout the application process. You, of course, have the right at any time to instruct us to delete the data. In the longer application processes, we will regularly contact you regarding the timeliness of the data and ask if you want to update and save your application.
				</li>

				<li>
					Grant or refusal to consent to data protection. Upon registration, you will be asked to consent to the collection and use of data in accordance with this Privacy Policy. After you have checked the box "I have read and accept the privacy policy," you give your full consent in accordance with this Privacy Policy .If you decline your consent, your application can not be processed.
				</li>

				<li>
					Withdrawal of consent, deletion of data, information. If you have consented to the collection and processing of personal data, you can at any time withdraw it by means of a declaration addressed to us, which will act in the future. You have the right to correct, delete or block your data by us in the relevant declaration, if it is compatible with statutory storage periods. If you want, we can delete your data and / or documents downloaded and stored in your electronic application at any time.
				</li>

				<li>
					Change the Privacy Policy. Our data protection measures are regularly reviewed and further developed. The applicable privacy statement you can always call on this page. We recommend to you, to verify the Policy at regular intervals. If you have any questions, please contact us.
				</li>

				<li>
					Liability and copyright. Websites is to enhance public access to information about our initiatives. The goal is the dissemination of accurate and timely information. If we become aware of errors, we will try, to rectify them. However, we accept no responsibility for the content of
					<a class="inline-link" href="https://www.cnzcommunity.com" target="_blank">www.cnzcommunity.com</a> website. The content includes the following:

					<ul>
						<li>General information without reference to a particular person or organization;</li>
						<li>not necessarily complete, detailed, accurate or up-to-date information;</li>
						<li>under certain circumstances, links to third-party sites for which we have no influence and for which we are not responsible;</li>
						<li>not professional or legal advice;</li>
						<li>we assume no responsibility for the content and reliability of the information;</li>
						<li>Information about vacancies and candidates can only be used for lawful purposes.</li>
						<li>"Screen Screening" or other automated or manual systems for reading data of vacancies or applications for the purpose of further processing or re-publication of information are not allowed;</li>
						<li>Actions that are inconsistent or disproportionate to our websites or related infrastructure are not permitted. The content of the information provided by us is protected by copyright, and the sign of the word «Cenozoic Energy», «Cenozoic Energy Group», "Cenozoic Community" and our logos are protected by law. The copyright to all the content created by us lies solely on us. The transfer, use, processing or reproduction of information, data, texts, text parts or images in electronic or printed form, the provision or transfer of the use of records by third parties and the recording of our screenshots are not allowed without our prior written consent.</li>
						<li>As for all other content that is reproduced on our web pages and which was not created by us, is taken with the utmost care regarding the copyright of third parties. If any parts of our site violate the copyrights of third parties, we request appropriate instructions and delete them immediately after our review of this violation. We would like to avoid possible errors, incorrectly created files, incorrectly structured formats or other violations for which we are not responsible;</li>
						<li>All offers and information on our website can not be grounds for claims to accuracy and completeness. Therefore, there should be no legal claims for them. Similarly, oral or written information that is provided outside of individual counseling and is not binding. Liability for damage of a tangible or intangible nature caused by the use or non-use of the information provided by us or the use of incorrect or incomplete information is excluded if we can not be found guilty or grossly negligent. In the case of direct or indirect links to third-party websites ("links"), no guarantee can be accepted for the content of linked pages that we do not influence. Errors in the content of our web pages are immediately corrected, and links are immediately deleted from our web pages after the violations are identified.</li>
					</ul>
				</li>
			</ol>




		</div>
	</div>
</div>