<div class="container">

    <div class="row main-info">

        <div class="col-7 left">

            <div class="city gray text">Санкт-Петербург</div>
            <div class="page-title">Главный специалист по промышленной безопасности газовых объектов</div>

            <div class="salary"><span>от</span> 32 000 рублей</div>

            <div class="name">Константинопльский Константин Константинович</div>

            <div class="table">
                <div class="line">
                    <div class="parameter gray text">
                        Возраст
                    </div>
                    <div class="value black text">
                        36
                    </div>
                </div>
                <div class="line">
                    <div class="parameter gray text">
                        Пол
                    </div>
                    <div class="value black text">
                        Мужской
                    </div>
                </div>
                <div class="line not-dott">
                    <div class="parameter gray text">
                        Опыт  работы
                    </div>
                    <div class="line">
                        <div class="parameter gray text">
                            в нефтегазовой промышленности
                        </div>
                        <div class="value black text">
                            4,5 года
                        </div>
                    </div>
                    <div class="line">
                        <div class="parameter gray text">
                            в горнодобывающей промышленности
                        </div>
                        <div class="value black text">
                            2,5 года
                        </div>
                    </div>
                </div>
                <div class="line">
                    <div class="parameter gray text">
                        Готовность к командировкам
                    </div>
                    <div class="value black text">
                        Да
                    </div>
                </div>
                <div class="line">
                    <div class="parameter gray text">
                        Переезд
                    </div>
                    <div class="value black text">
                        Не возможен
                    </div>
                </div>
                <div class="line">
                    <div class="parameter gray text">
                        График работы
                    </div>
                    <div class="value black text">
                        Вахтовый
                    </div>
                </div>
                <div class="line">
                    <div class="parameter gray text">
                        Занятость
                    </div>
                    <div class="value black text">
                        Полная
                    </div>
                </div>
                <div class="line">
                    <div class="parameter gray text">
                        Семейное положение
                    </div>
                    <div class="value black text">
                        Холост
                    </div>
                </div>
            </div>

        </div>

        <div class="col-4 offset-1 right">
            <div class="photo">

            </div>
            <div class="button">
                Редактировать
            </div>
        </div>

    </div>



    <div class="row add-info">
        <div class="col">
            <div class="title">
                Опыт работы
            </div>

            <table class="experience">

                <tr>
                    <td class="time-work">
                        <div class="text black">2 года 5 месяцев</div>
                        <div class="text gray">Ноябрь 2013 — март 2016</div>
                    </td>
                    <td class="work">
                        <div class="job side-title">Инженер по охране труда и технике безопасности</div>
                        <div class="company text gray">ООО "ДМ- Стройстандарт</div>
                        <div class="duties text black">
                            Координация работ по охране труда и технике безопасности; проведение профилактических работ, предупреждающих производственный травматизм и профзаболевания; проведение вводных инструктажей по технике безопасности; организация проверок по охране труда организации и подразделений; участие в составе комиссий, проверяющих знания по охране труда у работников предприятия; информирование всех сотрудников предприятия о новых нормативно-правовых актах в сфере охраны труда; разработка и внедрение инструкций по охране труда.
                            Имею "Удостоверение о проверке знаний требований охраны труда", выдано АНО "Комплексный экспертный центр охраны труда" 2013г.
                        </div>
                    </td>
                </tr>


            </table>
        </div>
    </div>


    <div class="row add-info education">
        <div class="col">
            <div class="title">
                Учебные заведения
            </div>

            <table class="experience">

                <tr>
                    <td class="time-work">
                        <div class="text gray">Высшее</div>
                        <div class="text gray">Год окончания: 2016</div>
                        <div class="text gray">5 лет</div>
                    </td>
                    <td class="education">
                        <div class="side-title">Россия, Саратов</div>
                        <div class="side-title">СГТУ им. Ю.А. Гагарина</div>
                        <div class="side-title">Инженер по охране труда и технике безопасности</div>
                        <div class="text black">Факультет: “Теплогазоснабжение и вентиляция”</div>
                        <div class="text black">Инженер теплогазоснабжения и вентиляции</div>
                    </td>
                </tr>


            </table>
        </div>
    </div>

    <div class="row add-info languages">
        <div class="col">
            <div class="title">
               Знание языков
            </div>

            <div class="text black">Русский - родной</div>
            <div class="text black">Английский - базовый</div>

        </div>
    </div>

    <div class="row add-info trainings">
        <div class="col">
            <div class="title">
                Профессиональные компетенции, Курсы, тренинги, сертификаты
            </div>

            <table class="experience">

                <tr>
                    <td class="time-work">
                        <div class="text gray">2017 год</div>
                    </td>
                    <td class="education">
                        <div class="side-title">Расчет производственных мощностей и загрузки оборудования. Практикум</div>
                        <div class="text gray">Москва</div>
                    </td>
                </tr>


            </table>
        </div>
    </div>

    <div class="row add-info additional">
        <div class="col">
            <div class="title">
                Дополнительная информация
            </div>

            <div class="text black">
                - умею находить общий язык с людьми;
                - ставлю реально выполнимые цели и добиваюсь их выполнения;
                - умею организовывать работу сотрудников ставить перед ними задачи и контролировать их выполнение в срок;
                - оценивать уровень пожарной безопасности объектов;
                - проводить обследование объекта на предмет соответствия объемно-планировочных, конструктивных, инженерно-технических и организационных решений
                требованиям действующих норм и правил пожарной безопасности;
                - организовывать на объекте противопожарный режим, проводить проверки противопожарного состояния территории и помещений объекта;
                - определять необходимость, количество, а также проверять техническое состояние автоматических систем противопожарной защиты объекта, наружного и
                внутреннего противопожарных водопроводов, первичных средств пожаротушения;
                - разрабатывать приказы, инструкции, положения и другую документацию в области обеспечения пожарной безопасности;
                - взаимодействие с надзорными органами.
            </div>

        </div>
    </div>

    <div class="row add-info personal-properties">
        <div class="col">
            <div class="title">
                Личные качества
            </div>

            <div class="text black">
                Добросовестность, пунктупльность, коммуникабельность
            </div>

        </div>
    </div>

    <div class="row add-info hobbies">
        <div class="col">
            <div class="title">
                Увлечения
            </div>

            <div class="text black">
                Гитара, книги, спорт, разведение шиншил
            </div>

        </div>
    </div>

    <div class="row add-info contacts">
        <div class="col">
            <div class="title">
                Контактные данные
            </div>

            <table class="experience">

                <tr>
                    <td class="time-work">
                        <div class="text gray">ФИО</div>
                    </td>
                    <td class="education">
                        <div class="text black">Москва</div>
                    </td>
                </tr>

                <tr>
                    <td class="time-work">
                        <div class="text gray">E-mail</div>
                    </td>
                    <td class="education">
                        <div class="text black">konstantinopolskiy_k@gmail.com</div>
                    </td>
                </tr>

                <tr>
                    <td class="time-work">
                        <div class="text gray">Телефон</div>
                    </td>
                    <td class="education">
                        <div class="text black">+7 (904) 242 62 30</div>
                    </td>
                </tr>


            </table>

        </div>
    </div>



</div>

