<div class="job">{{resume.job}}</div>
<div *ngIf="respondTitle" class="respond-title"> {{dictionary.TO_YOURS_VACANCY}}: <b>{{ respondTitle }}</b></div>

<div class="experience">
	<div class="title">
		{{dictionary.FULL_EXPERIENCE}}
	</div>
	<div class="value">
		{{experienceTime}}
	</div>
</div>

<div class="last-work-place" *ngIf="resume.experience.length > 0">
	<div class="title">
		{{dictionary.LAST_WORKPLACE}}
	</div>
	<div class="value">
		{{resume?.experience[0]?.job}}, {{resume?.experience[0]?.organization}}
	</div>
	<div class="value" *ngIf="resume.experience.length == 0">
		-
	</div>
</div>

<!--которое образоание, ага-->
<div class="last-work-place" *ngIf="resume.education.length > 0">
	<div class="title">
		{{dictionary.EDUCATION}}
	</div>
	<div>
		<div class="value" *ngIf="!resume.education[0].faculty">
			{{resume.education[0].university}}
		</div>
		<div class="value" *ngIf="resume.education[0].faculty">
			{{resume.education[0].university}}, {{resume.education[0].faculty}}
		</div>
	</div>
</div>