<section class="list-vacancy">
	<div class="container" [class.mainPage]="mainPage">

		<div class="list" [style.marginLeft]=" -282*offset+'px' ">
			<card
				*ngIf="config === 'user'"
				[typeUser]="typeCurrentUser"
				[dictionary]="dictionary"
				[addNew]="true"
				[heightContent]="350"
				class="item"
			></card>

			<card
				*ngFor="let vacancy of listVacancy; let i = index"
				[vacancy]="vacancy"
				[typeUser]="typeCurrentUser"
				[dictionary]="dictionary"
				[heightContent]="350"
				class="item {{vacancy.userId === currentUser?._id ? 'myItem' : '' }}"
			></card>
		</div>


		<!--кнопка "показать еще"-->
		<!--<div class="row show-more">-->
		<!--<button type="button" name="button">-->
		<!--<img src="/assets/images/dott.png" alt="">-->
		<!--<img src="/assets/images/dott.png" alt="">-->
		<!--<img src="/assets/images/dott.png" alt="">-->
		<!--Показать ещё-->
		<!--</button>-->
		<!--</div>-->
	</div>
</section>
