<section class="list-vacancy">
	<div class="container">

		<div class="row list">
			<card-vacancy
				*ngFor="let vacancy of listVacancy; let i = index"
				[vacancy]="vacancy"
				class="item"
			></card-vacancy>

			<card-vacancy
				*ngIf="config === 'user'"
				class="item"
				[add-vacancy]="true"
			></card-vacancy>

		</div>


		<!--кнопка "показать еще"-->
		<!--<div class="row show-more">-->
		<!--<button type="button" name="button">-->
		<!--<img src="/assets/images/dott.png" alt="">-->
		<!--<img src="/assets/images/dott.png" alt="">-->
		<!--<img src="/assets/images/dott.png" alt="">-->
		<!--Показать ещё-->
		<!--</button>-->
		<!--</div>-->
	</div>
</section>