<section class="list-vacancy">
	<div class="container">

		<div class="row list">
			<card
				*ngIf="config === 'user'"
				[typeUser]="typeCurrentUser"
				[dictionary]="dictionary"
				[addNew]="true"
				[heightContent]="300"
				class="item"
			></card>

			<card
				*ngFor="let vacancy of listVacancy; let i = index"
				[vacancy]="vacancy"
				[typeUser]="typeCurrentUser"
				[dictionary]="dictionary"
				[heightContent]="300"
				class="item"
			></card>
		</div>


		<!--кнопка "показать еще"-->
		<!--<div class="row show-more">-->
		<!--<button type="button" name="button">-->
		<!--<img src="/assets/images/dott.png" alt="">-->
		<!--<img src="/assets/images/dott.png" alt="">-->
		<!--<img src="/assets/images/dott.png" alt="">-->
		<!--Показать ещё-->
		<!--</button>-->
		<!--</div>-->
	</div>
</section>