@import "colors";
@import "animations";
@import "blocks";

:host {
  display: block;

  .mainPage {
    overflow: hidden;
    height: 470px;
    width: 100%;

    @media (max-width: 1024px) {
      overflow: scroll;
      -webkit-overflow-scrolling:touch;
      max-width: 100vw;

      .list {
        justify-content: flex-start !important;
      }
    }

    .list {
      flex-wrap: nowrap;
      @include animation(margin-left);

      .item {
        &:nth-child(4n) {
          margin-right: 20px;
        }
      }
    }
  }

  .list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  .item {
    display: block;
    margin-right: 20px;
    margin-top: 14px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 160px;

    button {

      img {
        margin-right: 4px;

        &:first-child {
          margin-left: -40px;
        }
      }

      width: 560px;
      height: 54px;
      background-color: $orange;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      font-family: Roboto;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.875rem;
      border-radius: 0.313rem;
    }
  }
}
