<div class="support-subtitle">
	{{ dictionary.FAQ_SUPPORT_FORM_TITLE}}
</div>

<form class="send-question" (submit)="createIssue()">

	<div class="field">
		<label class="field-title support-subtitle" for="change-reason">
			{{ dictionary.FAQ_SUPPORT_FORM_CHANGE_REASON }}
		</label>

		<select id="change-reason" name="change-reason" class="change-reason field-input" [(ngModel)]="issue.category">
			<option value="Сотрудничество">{{ dictionary.FAQ_SUPPORT_THEME_1 }}</option>
			<option value="Общие вопросы">{{ dictionary.FAQ_SUPPORT_THEME_2 }}</option>
			<option value="Проблемы с оплатой">{{ dictionary.FAQ_SUPPORT_THEME_3 }}</option>
		</select>
	</div>

	<div class="field">
		<label class="field-title support-subtitle" for="description">
			{{ dictionary.FAQ_SUPPORT_FORM_PROBLEM_DESC_LABEL }}
		</label>

		<textarea name="description" id="description" class="description"  [(ngModel)]="issue.description"></textarea>
	</div>

	<div class="field support-read">
		<input type="checkbox" id="support-is-reading" name="support-is-reading" (value)="true" [(ngModel)]="isReading">
		<label for="support-is-reading"> {{dictionary.FAQ_SUPPORT_FORM_I_HAVE_READ }}&nbsp;<a target="_blank" routerLink="/faq">{{dictionary.FAQ_SUPPORT_FORM_FAQ}}</a></label>
	</div>

	<button type="submit" class="field send-button" [disabled]="!issue.description || !isReading">
		{{ dictionary.FAQ_SUPPORT_CHAT_SEND_MESSAGE }}
	</button>

</form>