:host {

	@import (less) '../../../assets/styles/base.less';

	.header {
		background-color: @dark-gray;
		height: 84px;
		z-index: 10;

		.logo {
			height: 60px;
			width: 60px;
		}

		.row {
			align-items: center;
			height: inherit;

			.menu {
				width: 816px;
				height: inherit;

				.header-menu {
					width: 430px;
					height: inherit;

					.header-menu-item {
						display: flex;
						width: auto;
						padding: 0 10px;
						height: inherit;
						text-align: center;
						font-family: Roboto;
						font-size: 1rem;
						font-weight: 700;
						align-items: center;
						justify-content: center;
						position: relative;

						&.active {
							color: @orange;

							&:after {
								width: 100%;
								height: 5px;
								background-color: @orange;
								position: absolute;
								bottom: 0px;
								left: 0;
								content: '';
							}

						}
						&:hover {
							color: @orange;
						}

					}

				}

				.personal-area {
					font-family: Roboto;
					font-size: 1rem;
					font-weight: 700;
					line-height: 1;
					padding: 20px 70px;
					border-radius: 0.313rem;
					border: 0.063rem solid @white;
					cursor: pointer;
					.tr-bg-clr;

					&:hover {
						background-color: @white;
						color: @dark-gray;
					}
				}

				.authorize {
					position: relative;
					width: 200px;
					height: inherit;
					display: flex;
					padding: 10px;
					justify-content: flex-end;
					align-items: center;

					.blank-avatar {
						width: 48px;
						height: 48px;
						background-image: url("/assets/images/userBlank.png");
						background-size: 100%;
						background-repeat: no-repeat;
					}

					.status {
						margin: 10px;
						transform: rotate(-180deg);
						transition-property: transform;
						.transition-duration;
					}

					.little-menu {
						height: 0;
						overflow: hidden;
						position: absolute;
						background-color: @white;
						width: 200px;
						right: 0;
						top: 100%;
						box-shadow: 0 3px 6.79px 0.21px rgba(0, 0, 0, 0.2);
						transition-property: height;
						.transition-duration;
						z-index: 5;

						.item:last-child .link {
							border-bottom: none;
						}

						.link {
							display: block;
							font-family: Roboto;
							color: black;
							font-size: 1rem;
							width: 100%;
							height: 50px;
							line-height: 30px;
							padding: 10px 20px;
							.tr-color;
							border-bottom: 1px solid @light-gray;

							&:hover {
								color: @orange;
							}
						}
					}

					&:hover {

						.little-menu {
							height: 150px;
						}

						.status {
							transform: rotate(0deg);
						}
					}
				}

				.languages {
					color: @white;
					font-family: Roboto;
					font-size: 1.125rem;
					font-weight: 700;
					line-height: 1.875rem;
					text-transform: uppercase;

					.active {
						color: @dark-orange;
					}

					.change-language {
						cursor: pointer;
					}

					.change-language:hover {
						.tr-color;
						color: @dark-orange;
					}
				}
			}

		}

	}

	.mainPage.header {

		background-color: transparent !important;
		position: absolute;
		width: 100%;

		.container > .row {
			justify-content: flex-end !important;
		}

		.logo {
			display: none;
		}
	}



	.mobile-menu-button {
		display: none;
	}
	.mobile-menu {
		left: -320px;
		top: 0px;
		height: 100%;
		position: fixed;
		transition: all .2s linear;
		z-index: 999;
		padding: 20px;
		background-color: #8b8d8d;

		.item {
			margin-top: 10px;
			font-size: 20px;
		}
	}
	.mobile-menu-bg {
		display: none;
		left: 0;
		top: 0;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 888;
		background-color: rgba(21, 22, 22, 0.61);
	}

	@media (max-width: 1000px) {

		.logo {
			height: 50px !important;
			width: 50px !important;
		}

		.menu {
			width: auto !important;
		}

		.personal-area {
			padding: 20px 10px !important;
		}

		.authorize {
			width: auto !important;
		}

		.languages {
			.active {
				display: none !important;
			}
			span {
				display: none !important;
			}
		}
	}

	@media (max-width: 765px) {

		.logo {
			height: 50px !important;
			width: 50px !important;
		}

		.menu, .personal-area, .authorize{
			display: none !important;
		}

		.mobile-menu-button {
			display: block;
			color: white;
		}

		.mobile-menu-bg.active {
			display: block;
		}

		.mobile-menu.active {
			left: 0;
		}

		.languages {
			.active {
				display: none !important;
			}
			span {
				display: none !important;
			}
		}
	}

}

