<div class="container">
	<div class="row">
		<div class="col">
			<div class="title">
				{{ dictionary.FAQ_PAGE_TITLE}}
			</div>

			<ul class="list-faq">
				<li *ngFor="let faq of faqs; let i = index">
					<div class="question" (click)="toggleVisible(i)">
						{{faq.question}}
						<img src="/assets/images/icon-orange-triungle.svg" class="icon" [class.visible]="!faq.hidden">
					</div>
					<div class="answer" *ngIf="!faq.hidden" [innerHTML]="faq.answer"></div>
				</li>
			</ul>

			<div class="not-found">
				{{ dictionary.FAQ_NOT_FOUND_ANSWER}}
			</div>
			<div class="not-found-subtitle">
				{{ dictionary.FAQ_SEND_QUESTION_DESC}}
			</div>
			<div class="button" (click)="goToSupport()">
				{{ dictionary.FAQ_SEND_QUESTION }}
			</div>
		</div>
	</div>
</div>