<div class="container">
    <div class="row">
       <div class="col-9" *ngIf="currentUser">
           <form [formGroup]="passwords" validate (submit)="changePassword()" >
               <div class="side-title">
                   Параметры входа
               </div>
               <div class="parameter">
                   <div class="left">
                       <label for="email">
                           E-mail
                       </label>
                   </div>
                   <div class="right">
                       <input type="text" id="email" [ngModelOptions]="{standalone: true}" disabled [(ngModel)]="currentUser.email"> <!--временно выключен-->
                   </div>
               </div>
               <div class="parameter">
                   <div class="left">
                       <label for="old-psw">
                           Старый пароль
                       </label>
                   </div>
                   <div class="right">
                       <input type="password"
                              id="old-psw"
                              formControlName="oldPassword">
                   </div>
               </div>
               <div class="parameter">
                   <div class="left">
                       <label for="new-psw">
                           Новый пароль
                       </label>
                   </div>
                   <div class="right">
                       <input type="password"
                              id="new-psw"
                              formControlName="newPassword">
                   </div>
               </div>
               <div class="parameter">
                   <button type="submit" class="submit" [disabled]="passwords.invalid">
                       Сохранить
                   </button>
               </div>
           </form>
           <form [formGroup]="info" validate (submit)="changeUserInfo()">
               <div class="side-title">
                   Личные данные
               </div>
               <div class="parameter">
                   <div class="left">
                       <label for="fio">
                           ФИО
                       </label>
                   </div>
                   <div class="right">
                       <input type="text" id="fio" formControlName="fullName">
                   </div>
               </div>
               <div class="parameter">
                   <div class="left">
                       <label for="phone">
                           Телефон
                       </label>
                   </div>
                   <div class="right">
                       <input type="text" name="" id="phone" formControlName="phone">
                   </div>
               </div>
               <div class="side-title">
                   Оповещения
               </div>
               <div class="parameter" formGroupName="notifications">
                   <input id="inner" type="checkbox" value="true" formControlName="lk">
                   <label for="inner">Личный кабинет</label>
                   <input id="e-mail-notification" type="checkbox" value="true" formControlName="email">
                   <label for="e-mail-notification">E-mail</label>
               </div>
               <div class="parameter">
                   <button type="submit" class="submit" [disabled]="info.invalid">
                       Сохранить
                   </button>
               </div>
           </form>
       </div>
    </div>
</div>