<!--статусы сосикателя-->

<!--новое предложение-->
<div *ngIf="isWorker() && isOffer() && !viewed">
	<img src="/assets/images/dott-orange.svg"/>
	{{dictionary.NEW}}
</div>

<!--просмотренное предложение-->
<div *ngIf="isWorker() && isOffer() && viewed" class="viewed">
	<!--<img src="/assets/images/dott-gray.svg"/>-->
	{{dictionary.VIEWED_TRUE}}
</div>

<!--архивировать отклик-->
<div class="icon"
	*ngIf="isWorker() && !isOffer() && ((status === RESPOND_STATUS.APPROVED) || (status === RESPOND_STATUS.REJECTED))">
	<img class="default" src="/assets/images/icon-to-archive.svg"/>
	<img class="hover" title="В архив" src="/assets/images/icon-to-archive-orange.svg"/>
</div>
<!--отменить отклик-->
<div class="icon" (click)="cancel()"
	*ngIf="isWorker() && !isOffer() && ((status === RESPOND_STATUS.AWAITING) || (status === RESPOND_STATUS.WAIT_QUESTIONNAIRE) ||  (status === RESPOND_STATUS.QUESTIONNAIRE_DONE))">
	<img class="default" src="/assets/images/icon-gray-cross.svg"/>
	<img class="hover" title="Отменить отклик" src="/assets/images/icon-orange-cross.svg"/>
</div>

<!--конец статусов сосикателя-->



<!--статусы работодателя-->

<!--новый отклик-->
<div *ngIf="!isWorker() && !isOffer() && !viewed">
	<img src="/assets/images/dott-orange.svg"/>
	{{dictionary.NEW}}
</div>

<!--архивировать отклик-->
<div class="icon"
		 *ngIf="!isWorker() && !isOffer() && ((status === RESPOND_STATUS.APPROVED) || (status === RESPOND_STATUS.REJECTED))">
	<img class="default" src="/assets/images/icon-to-archive.svg"/>
	<img class="hover" title="В архив" src="/assets/images/icon-to-archive-orange.svg"/>
</div>

<!--архивировать предложение-->
<div class="icon"
	*ngIf="!isWorker() && isOffer()  && ((status === RESPOND_STATUS.APPROVED) || (status === RESPOND_STATUS.REJECTED))">
	<!--<img class="icon" src="/assets/images/icon-to-archive.svg"/>-->
	<img class="default" src="/assets/images/icon-to-archive.svg"/>
	<img class="hover" title="В архив" src="/assets/images/icon-to-archive-orange.svg"/>
</div>

<!--конец статусов работодателя-->











