<ng-container>
	<!--статусы сосикателя-->

	<!--обновлено-->
	<div>
		<ng-container *ngIf="!viewed">
			<img src="/assets/images/dott-orange.svg"/>
			{{dictionary.UPDATED}} &nbsp;
		</ng-container>

		<span  *ngIf="viewed" class="viewed"> {{lastUpdate()}} </span>
	</div>

	<div *ngIf="!viewed" class="viewed">
		{{lastUpdate()}}
	</div>

	<!--отменить отклик-->
	<div class="icon" (click)="cancel()"
			 *ngIf="isWorker() && !isOffer() && ((status === RESPOND_STATUS.AWAITING) || (status === RESPOND_STATUS.WAIT_QUESTIONNAIRE) ||  (status === RESPOND_STATUS.QUESTIONNAIRE_DONE))">
		<img class="default" src="/assets/images/icon-gray-cross.svg"/>
		<img class="hover" title="Отменить отклик" src="/assets/images/icon-orange-cross.svg"/>
	</div>

	<!--архивировать-->
	<ng-container *ngIf="!archived()">
		<div class="icon"
				 alt="Отправить в архив"
				 *ngIf="(status === RESPOND_STATUS.APPROVED) || (status === RESPOND_STATUS.REJECTED)">
			<img class="default" src="/assets/images/icon-to-archive.svg"/>
			<img class="hover" title="В архив" (click)="archive()" src="/assets/images/icon-to-archive-orange.svg"/>
		</div>
	</ng-container>
</ng-container>
