<div class="wrap">

	<div class="title">{{ dictionary.ANSWER_TO_RESPOND_TITLE }}</div>

	<div class="type" *ngIf="data.respond">
		<input type="radio" id="positive" name="type" [value]="true" [(ngModel)]="answer">
		<label for="positive">{{ dictionary.YES }}</label>

		<input type="radio" id="negative" name="type" [value]="false" [(ngModel)]="answer">
		<label for="negative">{{ dictionary.NO }}</label>
	</div>

	<div class="body-of-answer positive" *ngIf="answer">
		<div class="title">
			{{dictionary.ANSWER_TO_RESPOND_TEXT_POSITIVE}}
			<span class="name-of-vacancy" *ngIf="checkedVacancy">
                "{{checkedVacancy && checkedVacancy.title}}"
            </span>
		</div>

		<div *ngIf="listVacancy.length > 1" class="change-vacancy">
			<div class="title">
				{{dictionary.ANSWER_TO_OFFER_CHANGE_VACANCY}}.
			</div>

			<mat-select
				name="my-vacancy"
				class="my-vacancy"
				[(ngModel)]="checkedVacancy"
				[placeholder]="dictionary.CHANGE"
			>
				<mat-option
					*ngFor="let vacancy of listVacancy"
					[value]="vacancy"
				>
					{{ vacancy.title }}
				</mat-option>
			</mat-select>
		</div>

		<div class="questionnaire">
			<input type="checkbox" id="questionnaire" [(ngModel)]="isSendQuestionnaire">
			<label for="questionnaire">{{dictionary.ANSWER_TO_RESPOND_RESPOND_QUESTIONNAIRE}}</label>
		</div>

		<mat-select name="questionnaire"
								class="change-questionnaire"
								placeholder="{{dictionary.ANSWER_TO_RESPOND_NAME_QUESTIONNAIRE}}"
								[(ngModel)]="questionnaireId"
								[disabled]="!isSendQuestionnaire">
			<mat-option
				*ngFor="let questionnaire of listQuestionnaire"
				[value]="questionnaire._id"
			>
				{{ questionnaire.title }}
			</mat-option>
		</mat-select>

		<div class="summary" *ngIf="data.respond && isSendQuestionnaire">
			{{dictionary.ANSWER_TO_RESPOND_SUMMARY_QUESTIONNAIRE}}.
		</div>

		<div class="summary" *ngIf="data.respond && isSendQuestionnaire">
			{{dictionary.ANSWER_TO_RESPOND_SUMMARY_QUESTIONNAIRE}}.
		</div>

		<div class="summary" *ngIf="!data.respond">
			{{dictionary.ANSWER_TO_RESPOND_CREATE_OFFER}}.
		</div>


	</div>

	<div class="body-of-answer negative" *ngIf="!answer">
		<div class="title">
			{{dictionary.ANSWER_TO_RESPOND_TEXT_NEGATIVE}}
			<span class="name-of-vacancy">
                "{{checkedVacancy && checkedVacancy.title}}"
            </span>
		</div>

		<div class="summary">
			{{dictionary.ANSWER_TO_RESPOND_SUMMARY_NEGATIVE}}.
		</div>
	</div>

	<button class="button" [disabled]="(isSendQuestionnaire && !questionnaireId) || !checkedVacancy"
					(click)="sendRespond()">
		{{dictionary.SEND_ANSWER}}
	</button>

</div>
