<section class="filtr-summaryes">
    <div class="container">
        <div class="row search-field">
            <input type="text" placeholder="Я ищу...">
            <button class="button-search">
                Искать
            </button>
        </div>

        <form (change)="filterVacancyService.changeForm()">
            <div class="row">
                <mat-form-field>
                    <input matInput
                           name="city"
                           placeholder="{{dictionary.REGION_OF_ACTIVITY}}"
                           value="{{ filterVacancyService.parameters.city ? citiesService.locations.getCityToCode(filterVacancyService.parameters.city).name : dictionary.CHANGE_CITY }}"
                           (click)="filterVacancyService.changeCity($event)">
                </mat-form-field>

                <mat-form-field>
                    <mat-select name="salary" placeholder="{{dictionary.SALARY}}"
                                (change)="filterVacancyService.changeForm()"
                                [(ngModel)]="filterVacancyService.parameters.salary.from">
                        <mat-option value="60000">{{dictionary.FROM}} 60 000</mat-option>
                        <mat-option value="120000">{{dictionary.FROM}} 120 000</mat-option>
                        <mat-option value="180000">{{dictionary.FROM}} 180 000</mat-option>
                        <mat-option value="300000">{{dictionary.FROM}} 300 000</mat-option>
                        <mat-option value="420000">{{dictionary.FROM}} 420 000</mat-option>
                        <mat-option value="600000">{{dictionary.FROM}} 600 000</mat-option>
                        <mat-option value="other">{{dictionary.MORE_THAN}} 600 000</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select form="test" name="education" placeholder="{{dictionary.EDUCATION}}">
                        <!--
                            (change)="filterVacancyService.changeForm()"
                            [(ngModel)]="filterVacancyService.parameters.educationStage"
                        -->
                        <mat-option value="middle">{{dictionary.EDUCATION_STAGE_MIDDLE}}</mat-option>
                        <mat-option value="high">{{dictionary.EDUCATION_STAGE_HIGH}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select name="experience-time-all" placeholder="{{dictionary.FULL_EXPERIENCE}}"
                                (change)="filterVacancyService.changeForm()"
                                [(ngModel)]="filterVacancyService.parameters.experienceAllTime" disabled>
                        <mat-option value="маленький">маленький</mat-option>
                        <mat-option value="большой">большой</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field>
                    <mat-select name="languages"
                                placeholder="{{dictionary.KNOWLEDGE_OF_LANGUAGES}}"
                                multiple>
                        <!--
                            [(ngModel)]="filterVacancyService.parameters.languages"
                            (change)="filterVacancyService.changeForm()"
                        -->
                        <mat-option value="en">{{dictionary.LANGUAGE_EN}}</mat-option>
                        <mat-option value="ru">{{dictionary.LANGUAGE_RU}}</mat-option>
                        <mat-option value="chi">{{dictionary.LANGUAGE_CHI}}</mat-option>
                        <mat-option value="arab">{{dictionary.LANGUAGE_ARAB}}</mat-option>
                        <mat-option value="span">{{dictionary.LANGUAGE_SPAN}}</mat-option>
                        <mat-option value="port">{{dictionary.LANGUAGE_PORT}}</mat-option>
                        <mat-option value="ind">{{dictionary.LANGUAGE_IND}}</mat-option>
                        <mat-option value="fran">{{dictionary.LANGUAGE_FRAN}}</mat-option>
                        <mat-option value="dutch">{{dictionary.LANGUAGE_DEUTH}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select name="nationalities" placeholder="{{dictionary.NATIONALITY}}"
                                multiple>
                        <!--
                            (change)="filterResumesService.changeForm()"
                            [(ngModel)]="filterResumesService.parameters.nationalities"
                        -->
                        <mat-option *ngFor="let nationality of this.nationalitiesDefault"
                                    value="{{nationality.code}}">{{nationality.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select name="employmentType" placeholder="{{dictionary.EMPLOYMENT}}"
                                (change)="filterVacancyService.changeForm()"
                                [(ngModel)]="filterVacancyService.parameters.employmentType">
                        <mat-option>{{dictionary.IRRELEVANT}}</mat-option>
                        <mat-option value="full">{{dictionary.FULL_EMPLOYMENT}}</mat-option>
                        <mat-option value="part">{{dictionary.PART}}</mat-option>
                        <mat-option value="time">{{dictionary.TEMPORARY}}</mat-option>
                        <mat-option value="internship">{{dictionary.INTERNSHIP}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select name="schedule" placeholder="{{dictionary.SCHEDULE}}" (change)="filterVacancyService.changeForm()"
                                [(ngModel)]="filterVacancyService.parameters.schedule">
                        <mat-option>{{dictionary.IRRELEVANT}}</mat-option>
                        <mat-option value="full">{{dictionary.FULL_DAY}}</mat-option>
                        <mat-option value="remote">{{dictionary.REMOTE}}</mat-option>
                        <mat-option value="watch">{{dictionary.SHIFT}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select name="social" placeholder="{{dictionary.SOCIAL_PACKAGE}}"
                                (change)="filterVacancyService.changeForm()"
                                [(ngModel)]="filterVacancyService.parameters.social" disabled>
                        <mat-option value="есть">есть</mat-option>
                        <mat-option value="нет">нет</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
        <div class="row reset">
            <div class="button-text"
                 (click)="resetFilters()">
                {{dictionary.RESET_FILTERS}}
                <img class="button-icon" src="/assets/images/icon-gray-cross.svg">
            </div>
        </div>
    </div>
</section>