<section class="filtr-summaryes">
    <div class="container">
        <div class="row search-field">
            <input type="text" placeholder="Я ищу...">
            <button class="button-search">
                Искать
            </button>
        </div>

        <form (change)="filterVacancyService.changeForm()">
            <div class="row">
                <mat-form-field>
                    <input matInput
                           name="city"
                           placeholder="{{dictionary.REGION_OF_ACTIVITY}}"
                           value="{{ filterVacancyService.parameters.city ? citiesService.locations.getCityToCode(filterVacancyService.parameters.city).name : dictionary.CHANGE_CITY }}"
                           (click)="filterVacancyService.changeCity($event)">
                </mat-form-field>

                <mat-form-field>
                    <mat-select name="salary" placeholder="{{dictionary.SALARY}}"
                                (change)="filterVacancyService.changeForm()"
                                [(ngModel)]="filterVacancyService.parameters.salary" disabled>
                        <mat-option value="маленькая">маленькая</mat-option>
                        <mat-option value="большая">большая</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select name="educationStage" placeholder="{{dictionary.EDUCATION}}"
                                (change)="filterVacancyService.changeForm()"
                                [(ngModel)]="filterVacancyService.parameters.educationStage" disabled>
                        <mat-option value="среднее">{{dictionary.EDUCATION_STAGE_HIGH}}</mat-option>
                        <mat-option value="высшее">{{dictionary.EDUCATION_STAGE_MIDDLE}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select name="experience-time-all" placeholder="{{dictionary.FULL_EXPERIENCE}}"
                                (change)="filterVacancyService.changeForm()"
                                [(ngModel)]="filterVacancyService.parameters.experienceAllTime" disabled>
                        <mat-option value="маленький">маленький</mat-option>
                        <mat-option value="большой">большой</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field>
                    <mat-select name="languages" placeholder="{{dictionary.KNOWLEDGE_OF_LANGUAGES}}"
                                (change)="filterVacancyService.changeForm()"
                                [(ngModel)]="filterVacancyService.parameters.languages" multiple disabled>
                        <mat-option value="en">{{dictionary.LANGUAGE_EN}}</mat-option>
                        <mat-option value="ru">{{dictionary.LANGUAGE_RU}}</mat-option>
                        <mat-option value="chi">{{dictionary.LANGUAGE_CHI}}</mat-option>
                        <mat-option value="arab">{{dictionary.LANGUAGE_ARAB}}</mat-option>
                        <mat-option value="span">{{dictionary.LANGUAGE_SPAN}}</mat-option>
                        <mat-option value="port">{{dictionary.LANGUAGE_PORT}}</mat-option>
                        <mat-option value="ind">{{dictionary.LANGUAGE_IND}}</mat-option>
                        <mat-option value="fran">{{dictionary.LANGUAGE_FRAN}}</mat-option>
                        <mat-option value="dutch">{{dictionary.LANGUAGE_DEUTH}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select name="employmentType" placeholder="{{dictionary.EMPLOYMENT}}"
                                (change)="filterVacancyService.changeForm()"
                                [(ngModel)]="filterVacancyService.parameters.employmentType">
                        <mat-option>{{dictionary.IRRELEVANT}}</mat-option>
                        <mat-option value="full">{{dictionary.FULL_EMPLOYMENT}}</mat-option>
                        <mat-option value="part">{{dictionary.PART}}</mat-option>
                        <mat-option value="time">{{dictionary.TEMPORARY}}</mat-option>
                        <mat-option value="internship">{{dictionary.INTERNSHIP}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select name="schedule" placeholder="{{dictionary.SCHEDULE}}" (change)="filterVacancyService.changeForm()"
                                [(ngModel)]="filterVacancyService.parameters.schedule">
                        <mat-option>{{dictionary.IRRELEVANT}}</mat-option>
                        <mat-option value="full">{{dictionary.FULL_DAY}}</mat-option>
                        <mat-option value="remote">{{dictionary.REMOTE}}</mat-option>
                        <mat-option value="watch">{{dictionary.SHIFT}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select name="social" placeholder="{{dictionary.SOCIAL_PACKAGE}}"
                                (change)="filterVacancyService.changeForm()"
                                [(ngModel)]="filterVacancyService.parameters.social" disabled>
                        <mat-option value="есть">есть</mat-option>
                        <mat-option value="нет">нет</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
        <div class="row reset">
            <div class="button-text"
                 (click)="resetFilters()">
                {{dictionary.RESET_FILTERS}}
                <img class="button-icon" src="/assets/images/icon-gray-cross.svg">
            </div>
        </div>
    </div>
</section>