<section class="main-patners">
    <div class="container">
        <div class="title row">
            {{ dictionary.FOUR_STEPS_OF_SUCCESS_CAREER }}
        </div>
        <div class="circle row">
            <div class="col">
                <div class="img">
                    <img src="/assets/images/step01.svg">
                    <span class="label">01</span>
                </div>
                <div class="description">{{ dictionary.HOME_PAGE_STEP_1 }}</div>
            </div>
            <div class="col">
                <div class="img">
                    <img src="/assets/images/step02.svg">
                    <span class="label">02</span>
                </div>
                <div class="description">{{ dictionary.HOME_PAGE_STEP_2 }}</div>
            </div>
            <div class="col">
                <div class="img">
                    <img src="/assets/images/step03.svg">
                    <span class="label">03</span>
                </div>
                <div class="description">{{ dictionary.HOME_PAGE_STEP_3 }}</div>
            </div>
            <div class="col">
                <div class="img">
                    <img src="/assets/images/step04.svg">
                    <span class="label">04</span>
                </div>
                <div class="description">{{ dictionary.HOME_PAGE_STEP_4 }}</div>
            </div>
        </div>
        <div class="title partners row">
            {{ dictionary.JOB_IN_TOP_COMPANIES }}
        </div>
        <div class="partners-list row">
            <div class="row">
                <div class="col">
                    <div class="logo-1"></div>
                </div>
                <div class="col">
                    <div class="logo-2"></div>
                </div>
                <div class="col">
                    <div class="logo-3"></div>
                </div>
                <div class="col">
                    <div class="logo-4"></div>
                </div>
                <div class="col">
                    <div class="logo-5"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="logo-6"></div>
                </div>
                <div class="col">
                    <div class="logo-7"></div>
                </div>
                <div class="col">
                    <div class="logo-8"></div>
                </div>
                <div class="col">
                    <div class="logo-9"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="logo-10"></div>
                </div>
                <div class="col">
                    <div class="logo-11"></div>
                </div>
                <div class="col">
                    <div class="logo-12"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="logo-13"></div>
                </div>
                <div class="col">
                    <div class="logo-14"></div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <div class="logo-15"></div>
                </div>
            </div>
        </div>
    </div>
</section>