<section class="main-patners">
    <div class="container">
        <div class="title row">
            {{ dictionary.FOUR_STEPS_OF_SUCCESS_CAREER }}
        </div>
        <div class="circle row">
            <div class="col">
                <div class="img">
                    <img src="/assets/images/step01.svg">
                    <span class="label">01</span>
                </div>
                <div class="description">{{ dictionary.HOME_PAGE_STEP_1 }}</div>
            </div>
            <div class="col">
                <div class="img">
                    <img src="/assets/images/step02.svg">
                    <span class="label">02</span>
                </div>
                <div class="description">{{ dictionary.HOME_PAGE_STEP_2 }}</div>
            </div>
            <div class="col">
                <div class="img">
                    <img src="/assets/images/step03.svg">
                    <span class="label">03</span>
                </div>
                <div class="description">{{ dictionary.HOME_PAGE_STEP_3 }}</div>
            </div>
            <div class="col">
                <div class="img">
                    <img src="/assets/images/step04.svg">
                    <span class="label">04</span>
                </div>
                <div class="description">{{ dictionary.HOME_PAGE_STEP_4 }}</div>
            </div>
        </div>
        <div class="title partners row">
            {{ dictionary.JOB_IN_TOP_COMPANIES }}
        </div>
        <div class="partners-list row">
            <div class="row">
                <div class="col">
                    <div class="gazprom"></div>
                </div>
                <div class="col">
                    <div class="lukoyl"></div>
                </div>
                <div class="col">
                    <div class="surgut"></div>
                </div>
                <div class="col">
                    <div class="slavneft"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="surgut"></div>
                </div>
                <div class="col">
                    <div class="slavneft"></div>
                </div>
                <div class="col">
                    <div class="ukos"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="slavneft"></div>
                </div>
                <div class="col">
                    <div class="ukos"></div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <div class="bp"></div>
                </div>
            </div>
        </div>
    </div>
</section>