<section class="main-patners">
    <div class="container">
        <div class="title row">
            4 шага для успешной карьеры
        </div>
        <div class="circle row">
            <div class="col">
                <div class="img">
                    <img src="/assets/images/step01.svg">
                    <span class="label">01</span>
                </div>
                <div class="description">Зарегистрируйтесь на сайте</div>
            </div>
            <div class="col">
                <div class="img">
                    <img src="/assets/images/step02.svg">
                    <span class="label">02</span>
                </div>
                <div class="description">Разместите свое резюме</div>
            </div>
            <div class="col">
                <div class="img">
                    <img src="/assets/images/step03.svg">
                    <span class="label">03</span>
                </div>
                <div class="description">Получи отклик от работодателя</div>
            </div>
            <div class="col">
                <div class="img">
                    <img src="/assets/images/step04.svg">
                    <span class="label">04</span>
                </div>
                <div class="description">Получи желаемую работу</div>
            </div>
        </div>
        <div class="title partners row">
            Работа в ведущих компаниях
        </div>
        <div class="partners-list row">
            <div class="row">
                <div class="col">
                    <div class="gazprom"></div>
                </div>
                <div class="col">
                    <div class="lukoyl"></div>
                </div>
                <div class="col">
                    <div class="surgut"></div>
                </div>
                <div class="col">
                    <div class="slavneft"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="surgut"></div>
                </div>
                <div class="col">
                    <div class="slavneft"></div>
                </div>
                <div class="col">
                    <div class="ukos"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="slavneft"></div>
                </div>
                <div class="col">
                    <div class="ukos"></div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <div class="bp"></div>
                </div>
            </div>
        </div>
    </div>
</section>