<div class="container">
	<div class="filters">
		<div class="search-field">
			<input type="text" name="search" placeholder="{{dictionary.I_FIND}}" [(ngModel)]="searchInput">
			<button class="button-search" (click)="setFilter()">
				{{ dictionary.SEARCH }}
			</button>
		</div>

		<div class="order">
			<mat-form-field>
				<mat-select form="test" name="education" placeholder="По дате добавления"
										(change)="setFilter()"
										[(ngModel)]="order">
					<mat-option value="line">{{ dictionary.START_FROM_NEW }}</mat-option>
					<mat-option value="reverse">{{ dictionary.START_FROM_OLD }}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>

	<list-news [newsPage]="true" [searchString]="searchSubmit" [reverse]="order === 'reverse'"></list-news>
</div>
