<mat-card>
	<mat-card-header>
		<mat-card-title>Общая статистика по сайту</mat-card-title>
	</mat-card-header>

	<mat-card-content class="analytic">

		<div class="graph">
			<p class="desc">Новых откликов в день</p>

			<div class="center">
				<p class="no-data" *ngIf="statCommonResumeViewBuyPerDay.length === 0">
					нет данных
				</p>

				<ngx-charts-bar-vertical-2d
					[view]="[1000, 400]"
					[scheme]="{domain: ['#a4000d', '#5AA454']}"
					[results]="statCommonResumeViewBuyPerDay"
					[xAxis]="true"
					[yAxis]="true"
					[legend]="true"
					[legendTitle]="'Сколько'"
					[showXAxisLabel]="true"
					[showYAxisLabel]="true"
					[xAxisLabel]="'День'"
					[yAxisLabel]="'Резюме'"
					[barPadding]="4"
					[groupPadding]="12"
					style="height: 400px; display: block;"
				>
				</ngx-charts-bar-vertical-2d>
			</div>

		</div>

	</mat-card-content>
</mat-card>