<div class="hidden">
    <mat-form-field >
        <input matInput [matDatepicker]="dp" placeholder="Moment.js datepicker" [formControl]="date" (dateChange)="dateChanged()">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #dp ></mat-datepicker>
    </mat-form-field>
</div>

<div class="date-picker">
    <div class="calendar" (click)="dp.open();">
        <img src="/assets/images/calendar.svg"/>
    </div>
    <div class="data" (click)="dp.open();">{{data}}</div>
</div>