<div class="component" *ngIf="currentLang === 'ru'">
	<div class="row">
		<div class="col-12 offset-md-2 col-md-8">

			<div class="title">
				Услуги
			</div>

			<p>
				Проект Cenozoic Commumity предоставляет широкий спектр услуг по подбору персонала, поиску работы и создания
				деловых связей между соискателями и работодателями в горнодобывающей и нефтегазовой промышленностях.
			</p>

			<img src="/assets/images/services1.jpg" >

			<p>
				Основным направлением услуг является предоставление доступа к интеллектуальной онлайн базе данных, которая имеет
				широкую функциональность c большим спектром интерактивных сервисов для реализации решений стоящих задач перед
				каждым пользователем.
			</p>

			<p>
				Сервис ресурса помогает вам с помощью конструктора создать или отредактировать уникальные резюме или вакансии,
				которые обновляются в режиме реального времени. Функционал личных кабинетов предоставляет возможность сохранять
				результаты поиска, а также получать уведомления о вакансиях, которые соответствуют заданным параметрам.
				Работодатель имеет возможность организовать в удобном для него формате тестирование и опросный лист для
				потенциальных кандидатов. Соискатели имеют возможность через внутренний чат общаться с заинтересованными
				работодателями, таким образом создавая деловые контакты с новыми возможностями. Помимо резюме и вакансий на
				ресурсе размещены новости нефтегазовой и горнодобывающей промышленностях, которые обновляются ежечасно.
				Предоставляется возможность создавать, сохранять, комментировать статьи и получать уведомления, чтобы оставаться
				в курсе событий постоянно. Есть возможность в любой момент получить перечень компаний и кадровых агентств,
				узнать о различных тематических мероприятиях и найти курсы по обучению, повышению квалификации или
				профессиональной переподготовке.
			</p>

			<img src="/assets/images/services2.jpg" >

			<p>
				Во избежание сомнительных публикаций, повторов и спама все резюме проходят интеллектуальную модерацию, благодаря
				чему запросы от ищущих работу максимально соответствуют условиям работодателей.
			</p>

			<p>
				Проект Cenozoic Commumity обладает рекламными возможностями в соответствующей тематике и предлагает
				воспользоваться возможностью размещения рекламных банеров. Разместить информацию о различных тематических
				мероприятиях и объявить курсы по обучению, повышению квалификации или профессиональной переподготовке.
				Специальные гибкие настройки отображения рекламы позволят показывать нашим посетителям и пользователям рекламу
				так, чтобы ее точно увидела целевая аудитория. К каждому конкретному Клиенту мы осуществляем индивидуальный
				подход, но при этом у нас есть автоматизированная типовая схема взаимодействия с Клиентом через личный кабинет.
			</p>

			<p>
				Наш Интернет-Ресурс полностью адаптирован для мобильных устройств и смартфонов
			</p>

		</div>
	</div>
</div>

<div class="component" *ngIf="currentLang === 'en'">
	<div class="row">
		<div class="col-12 offset-md-2 col-md-8">

			<div class="title">
				Services
			</div>

			<p>
				The Cenozoic Commumity project provides a wide range of recruitment, job search and business networking services
				between job seekers and employers in the mining and oil and gas industries.
			</p>

			<img src="/assets/images/services1.jpg" >

			<p>
				The main focus of services is to provide access to an intelligent online database, which has broad functionality
				with a wide range of interactive services to implement solutions to the challenges facing each user.
			</p>

			<p>
				The resource service helps you with the help of the designer to create or edit unique resumes or vacancies that
				are updated in real time. The functionality of personal accounts provides the ability to save search results, as
				well as receive notifications of vacancies that match the specified parameters. The employer has the opportunity
				to organize testing and a questionnaire for potential candidates in a convenient format. Applicants have the
				opportunity through internal chat to communicate with interested employers, thus creating business contacts with
				new opportunities. In addition to resumes and vacancies, oil and gas and mining news are posted on the resource,
				which are updated hourly. Provides the ability to create, save, comment on articles and receive notifications to
				stay up to date with events. There is an opportunity at any time to get a list of companies and recruitment
				agencies, learn about various thematic events and find courses for training, professional development or
				professional retraining.
			</p>

			<img src="/assets/images/services2.jpg" >

			<p>
				In order to avoid questionable publications, repetitions and spam, all resumes undergo intellectual moderation,
				thanks to which requests from job seekers correspond to the conditions of employers to the maximum.
			</p>

			<p>
				The Cenozoic Commumity project has advertising opportunities in the relevant topics and offers to take advantage
				of the opportunity to place advertising banners. Post information on various thematic events and announce
				courses on training, professional development or professional retraining. Special flexible advertising display
				settings will allow advertising to be shown to our visitors and users so that the target audience will see it.
				For each specific Client we carry out an individual approach, but at the same time we have an automated typical
				scheme of interaction with the Client through a personal account.
			</p>

			<p>
				Our Internet Resource is fully adapted for mobile devices and smartphones.
			</p>


		</div>
	</div>
</div>