<div class="component" *ngIf="currentLang === 'ru'">
	<div class="row">
		<div class="col">

			<div class="title">
				Услуги
			</div>

			<p>
				Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют от нас анализа системы
				обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же постоянный
				количественный рост и сфера нашей активности позволяет оценить значение модели развития. С другой стороны
				реализация намеченных плановых заданий позволяет выполнять важные задания по разработке систем массового
				участия. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров играет важную роль в
				формировании позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего
				порядка, а также рамки и место обучения кадров представляет собой интересный эксперимент проверки системы
				обучения кадров, соответствует насущным потребностям.
			</p>

		</div>
	</div>
</div>

<div class="component" *ngIf="currentLang === 'en'">
	<div class="row">
		<div class="col">

			<div class="title">
				Services
			</div>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
				pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
				laborum.
			</p>

		</div>
	</div>
</div>