:host {

  .title {
    margin-top: 70px;
  }

  b {
    font-weight: bold;
  }

  p {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  li {
    margin-left: 20px;
  }

  ol {
    margin-top: 20px;

    & > li {
      margin-top: 20px;
    }
  }

  img {
    display: block;
    width: 100%;
    margin: 50px auto;
  }


  ul {
    list-style-type: disc;
  }
}