<div class="row" *ngIf="statistics">
	<div class="col-4">
		<mat-card>
			<mat-card-title>Пользователи</mat-card-title>
			<mat-card-content>
				Всего: {{statistics.totalUserAmount}} <br>
				Подтвержденных: {{statistics.activeUserAmount}}
			</mat-card-content>
			<mat-card-actions>
				<a [routerLink]="['/admin/users']" mat-button>Смотреть всех</a>
			</mat-card-actions>
		</mat-card>
	</div>
	<div class="col-3">
		<mat-card>
			<mat-card-title>Вакансии</mat-card-title>
			<mat-card-content>
				Всего: {{statistics.vacancyAmount}} <br>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="col-3">
		<mat-card>
			<mat-card-title>Резюме</mat-card-title>
			<mat-card-content>
				Всего: {{statistics.resumeAmount}} <br>
			</mat-card-content>
		</mat-card>
	</div>
</div>

<div class="row statistic">
	<div class="col">
		<mat-card>
			статистика

			<p>
				Количество откликов в день:
			</p>
			<ngx-charts-bar-vertical
				[view]="[700, 400]"
				[scheme]="{domain: ['#5AA454']}"
				[results]="barChart"
				[gradient]="false"
				[xAxis]="true"
				[yAxis]="true"
				[legend]="true"
				[legendTitle]="'Дни'"
				[showXAxisLabel]="true"
				[showYAxisLabel]="true"
				[xAxisLabel]="'День'"
				[yAxisLabel]="'Отклики'"
				style="height: 400px; display: block;"
			>
			</ngx-charts-bar-vertical>

			<p>
				Количество просмотренных резюме и количество купленных данных резюме:
			</p>
			<ngx-charts-line-chart
				[view]="[700, 400]"
				[scheme]="{domain: ['#a40b0d', '#5AA454']}"
				[results]="lineChart"
				[xAxis]="true"
				[yAxis]="true"
				[legend]="true"
				[legendTitle]="false"
				[showXAxisLabel]="true"
				[showYAxisLabel]="true"
				[xAxisLabel]="'День'"
				[yAxisLabel]="'Отклики'"
				style="height: 400px; display: block;"
			>
			</ngx-charts-line-chart>

			<p>
				Сколько откликов на рассмотрении у работодателя - % от общего количества на рассмотрении всего сайта
			</p>
			<ngx-charts-pie-chart
				[view]="[700, 400]"
				[scheme]="{domain: ['#a40b0d', '#5AA454']}"
				[results]="pieChart"
				[legend]="true"
				[legendTitle]="false"
				style="height: 400px; display: block;"
			>
			</ngx-charts-pie-chart>
		</mat-card>
	</div>
</div>