:host {
  position: relative;
  display: block;
  height: 100%;

  .title {
    font-family: 'Bebas Neue Bold';
    font-size: 38px;
    margin-bottom: 10px;
  }

  .city {
    padding: 5px 10px;
    width: 80%;
    border: 1px solid #000;
  }

  .presets {
    margin-top: 10px;

    li {
      display: inline-block;
      cursor: pointer;
      border-bottom: 1px dashed #807c7c;
      color: #807c7c;
      font-size: 13px;
      margin-right: 8px;
    }
  }

  .context-menu-cities {
    left: 0;
    max-width: 300px;
    width: 100%;
    height: auto;
    max-height: 215px;
    background-color: #fff;
    box-shadow: 0 3px 6.79px 0.21px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    transition: background-color .2s linear;

    .item {
      padding: 7px 10px ;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, .14);
      }
    }
  }

  .inline-link {
    margin-top: -3px;
    display: block;
    position: absolute;
    width: 290px;
    top: 100%;
  }
}
