<div class="title">{{dictionary.CHANGE_CITY}}</div>
<div class="form">
    <input type="text"
           class="city"
           placeholder="{{dictionary.CHANGE_CITY_PLACEHOLDER}}"
           (focus)="onShowContextMenu()"
           (input)="updatePopularCity()"
           [(ngModel)]="inputField">
           <!--(keyup)="update(cityInput.value)"/>-->
    <div *ngIf="showContextMenu" class="context-menu-cities">
        <div *ngFor="let city of popularCities" class="item" (click)="selectCity(city.code)">{{ city.name }}</div>
    </div>
    <!--<button (click)="handleClick()">{{dictionary.SAVE}}</button>-->
</div>

<a href="/support" class="inline-link" target="_blank">{{ dictionary.MY_CITY_DOESNOT_HAVE_IS_LIST }}</a>