<mat-card>


	<table>
		<caption>Список всех фраз на сайте</caption>
		<tr>
			<th>Ключ фразы</th>
			<th>Фраза RU</th>
			<th>Фраза EN</th>
		</tr>

		<tr *ngFor="let key of keysOfLocalization">
			<td class="key">
				{{key}}
			</td>
			<td>
				<input type="text" name="{{key}}-ru" [(ngModel)]="ruVocabulary[key]">
			</td>
			<td>
				<input type="text" name="{{key}}-en" [(ngModel)]="enVocabulary[key]">
			</td>
		</tr>
	</table>

	<button class="send-button" (click)="send()">
		Сохранить
	</button>

</mat-card>

