<div class="wrap">

	<div class="title">{{dictionary.QUESTIONNAIRE_FILE_ANSWER_TITLE}}</div>

	<div class="description">
		{{ dictionary.EMPLOYER_SEND_QUESTIONNAIRE_FILE }}:
		<b>{{questionnaire.title}}</b>
	</div>

	<a href="{{questionnaire.fileURL}}" class="download-file" download target="_blank">
		{{ dictionary.QUESTIONNAIRE_FILE_ANSWER_TITLE_DOWNLOAD }}
	</a>


	<div class="add-file">
		<input (change)="addFile($event)" id="load-file" type="file" size="0"
					 accept=".xlsx,.xls,.doc, .docx">
		<label class="add-file-button" for="load-file">
			{{ nameOfFile || dictionary.QUESTIONNAIRE_FILE_ANSWER_TITLE_LOAD}}
		</label>
		<div class="file-name">
			{{ dictionary.QUESTIONNAIRE_FILE_ANSWER_TITLE_LOAD_DESC }}
		</div>
	</div>


	<button class="button" (click)="sendAnswer()" [disabled]="!fileToUpload.data">
		{{ dictionary.QUESTIONNAIRE_FILE_ANSWER_SEND }}
	</button>

</div>
