<filter-resumes></filter-resumes>

<div class="container">
    <div class="row head">
        <div class="title">Резюме</div>
        <!--<form class="sort" *ngIf="sortParameter"> -->
            <!--<label for="typeSort">Сортировать</label>-->
            <!--<mat-form-field >-->
                <!--<mat-select [ngModelOptions]="{standalone: true}" id="typeSort" [(ngModel)]="sortParameter.type" (change)="updateSortParameters()">-->
                    <!--<mat-option value="date">По дате добавления</mat-option>-->
                    <!--<mat-option value="salary">По заработной плате</mat-option>-->
                    <!--<mat-option value="experience">По опыту</mat-option>-->
                <!--</mat-select>-->
            <!--</mat-form-field>-->

            <!--<mat-form-field >-->
                <!--<mat-select  [ngModelOptions]="{standalone: true}" [(value)]="selected" [(ngModel)]="sortParameter.order" (change)="updateSortParameters()">-->
                    <!--<mat-option value="1">По возрастанию</mat-option>-->
                    <!--<mat-option value="-1">По убыванию</mat-option>-->
                <!--</mat-select>-->
            <!--</mat-form-field>-->
        <!--</form>-->
    </div>
</div>

<list-resume [config]="'all'"></list-resume>