<div class="chat-layout">

	<div class="header">
		Чат техподдержки
		<img class="close" src="/assets/images/icon-white-cross.svg" (click)="closeChat()"/>
	</div>

	<div class="chat-window">

		<div class="message">
			<div class="info">
				<img class="avatar" src="/assets/images/support-user-icon.svg" />
				<!--<img class="avatar" src="/assets/images/default-user.svg" />-->

				<div class="name">
					Агент поддержки
				</div>
			</div>

			<div class="message-text">
				Очень супер пупер длинный тект сообщения и прочего. Очень супер пупер длинный тект сообщения и прочего.
				Очень супер пупер длинный тект сообщения и прочего. Очень супер пупер длинный тект сообщения и прочего.
				Очень супер пупер длинный тект сообщения и прочего. Очень супер пупер длинный тект сообщения и прочего.
				Очень супер пупер длинный тект сообщения и прочего. Очень супер пупер длинный тект сообщения и прочего.
			</div>
		</div>

		<div class="message">
			<div class="info">
				<!--<img class="avatar" src="/assets/images/support-user-icon.svg" />-->
				<img class="avatar" src="/assets/images/default-user.svg" />

				<div class="name">
					User
				</div>
			</div>

			<div class="message-text">
				Очень супер пупер длинный тект сообщения и прочего. Очень супер пупер длинный тект сообщения и прочего.
				Очень супер пупер длинный тект сообщения и прочего. Очень супер пупер длинный тект сообщения и прочего.
			</div>
		</div>

		<div class="message">
			<div class="info">
				<img class="avatar" src="/assets/images/support-user-icon.svg" />
				<!--<img class="avatar" src="/assets/images/default-user.svg" />-->

				<div class="name">
					Агент поддержки
				</div>
			</div>

			<div class="message-text">
				Очень супер пупер длинный тект сообщения и прочего. Очень супер пупер длинный тект сообщения и прочего.
			</div>
		</div>



	</div>

	<div class="send-message">
		<input type="text">
		<button type="submit">
			Отправить
		</button>
	</div>

</div>