<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col copyright">
                <img class="logo" src="/assets/images/logo.png">
                <div class="copyright">Copyright © Cenozoic energy group 2018</div>
            </div>
            <div class="col menu">
                <nav class="row menu-list">
                    <a href="#" class="link">{{ dictionary.ABOUT_COMPANY }}</a>
                    <a href="#" class="link">{{ dictionary.SERVICES }}</a>
                    <a href="#" class="link">{{ dictionary.SUPPORT }}</a>
                    <a href="#" class="link">{{ dictionary.CONTACTS }}</a>
                </nav>
                <nav class="row social-network">
                    <a href="#" class="link fb"></a>
                    <a href="#" class="link linkedin"></a>
                    <a href="#" class="link inst"></a>
                    <a href="#" class="link tg"></a>
                </nav>
            </div>
            <div class="col privacy">
                <a href="#" class="link">{{ dictionary.PRIVACY_POLICY }}</a>
            </div>
        </div>
    </div>
</footer>