<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col copyright">
                <img class="logo" src="/assets/images/logo-footer.png">
                <div class="copyright">Copyright © Cenozoic energy group 2017</div>
            </div>
            <div class="col menu">
                <nav class="row menu-list">
                    <a href="#" class="link">О компании</a>
                    <a href="#" class="link">Услуги</a>
                    <a href="#" class="link">Поддержка</a>
                    <a href="#" class="link">Контакты</a>
                </nav>
                <nav class="row social-network">
                    <a href="#" class="link fb"></a>
                    <a href="#" class="link linkedin"></a>
                    <a href="#" class="link inst"></a>
                    <a href="#" class="link tg"></a>
                </nav>
            </div>
            <div class="col privacy">
                <a href="#" class="link">Политика конфеденциальности</a>
                <a href="#" class="link">Privacy policy</a>
            </div>
        </div>
    </div>
</footer>