<div class="create-vacancy">
	<div class="container">
		<div class="row title">
			{{ dictionary.CREATE_QUESTIONNAIRE_PAGE_TITLE }}
		</div>
		<div class="row" *ngIf="questionnaire">
			<form class="col form" [formGroup]="questionnaire">

				<div class="title-questionnaire">
					<label
						for="name-questionnaire"
						class="name-questionnaire"
					>
						{{ dictionary.QUESTIONNAIRE_TITLE }}
					</label>
					<input
						id="name-questionnaire"
						type="text"
						class="title-questionnaire-input"
						formControlName="title"
					>
				</div>

				<div class="questionnaire-file" *ngIf="!edit">
					<input type="radio" id="constructor" name="questionnaire-file" [value]="false" [(ngModel)]="isFromFile"
								 [ngModelOptions]="{standalone: true}">
					<label for="constructor">{{dictionary.CONSTRUCTOR_QUESTIONNAIRE}}</label>

					<input type="radio" id="file" name="questionnaire-file" [value]="true" [(ngModel)]="isFromFile"
								 [ngModelOptions]="{standalone: true}">
					<label for="file">{{dictionary.LOAD_QUESTIONNAIRE}}</label>
				</div>

				<div class="description" *ngIf="!edit">
					<ng-container *ngIf="!isFromFile">
						{{ dictionary.CONSTRUCTOR_QUESTIONNAIRE_DESC }}
					</ng-container>
					<ng-container *ngIf="isFromFile">
						{{ dictionary.LOAD_QUESTIONNAIRE_DESC }}
					</ng-container>
				</div>

				<fieldset *ngIf="!isFromFile" formArrayName="sections" class="sections">
					<div
						class="section"
						*ngFor="let section of questionnaire.controls['sections'].controls; let i = index"
						formGroupName="{{i}}"
					>

						<div class="name">
							<label for="name-section-{{i}}" class="label-for-main-input">
								{{ dictionary.QUESTIONNAIRE_SECTION_NAME }}
							</label>

							<div class="input">
								<div class="number">
									{{i+1}}.
								</div>

								<input
									id="name-section-{{i}}"
									type="text"
									formControlName="title"
								>
							</div>

							<div class="delete-section" *ngIf="i > 0" (click)="removeSection(i)" >
								{{ dictionary.QUESTIONNAIRE_SECTION_DELETE }}
							</div>
						</div>

						<fieldset formArrayName="questions">
							<div
								class="field question"
								*ngFor="let question of questionnaire.controls['sections'].controls[i].controls['questions'].controls; let j = index"
								formGroupName="{{j}}"
							>
								<label for="question-{{i}}-{{j}}" class="label-for-main-input">
									{{dictionary.QUESTIONNAIRE_QUESTION}} {{j+1}}
								</label>
								<input type="text" formControlName="question" id="question-{{i}}-{{j}}">
								<img src="/assets/images/icon-black-cross.svg" class="delete-question" (click)="removeQuestion(i, j)" >
							</div>

							<div class="field">
								<label></label>
								<div class="add-question" (click)="addQuestion(i)">
									<span class="plus">
										+
									</span>
									{{ dictionary.QUESTIONNAIRE_QUESTION_ADD }}
								</div>
							</div>
						</fieldset>
					</div>

					<div class="add-section" (click)="addSection()">
						<img src="/assets/images/icon-enter.svg">
						{{ dictionary.QUESTIONNAIRE_SECTION_ADD }}
					</div>
				</fieldset>

				<div class="add-file" *ngIf="isFromFile">
					<input (change)="addFile($event)" id="load-file" type="file" size="0"
								 accept=".xlsx,.xls,.doc, .docx">
					<label class="add-file-button" for="load-file">
						{{ dictionary.QUESTIONNAIRE_LOAD_FILE }}
					</label>
					<div class="file-name">
						{{ nameOfFile || 'Форматы: doc”,“docx”,“xls”,“xlsx”. Ограничение на размер: 300kb' }}
					</div>
				</div>

				<ng-container *ngIf="!isSaving">
					<button class="save-button" *ngIf="!isFromFile" (click)="save()" [disabled]="questionnaire.invalid">
						{{ dictionary.QUESTIONNAIRE_SAVE }}
					</button>

					<button class="save-button" *ngIf="isFromFile" (click)="save()"
									[disabled]="questionnaire.controls['title'].invalid || !fileToUpload.data">
						{{ dictionary.QUESTIONNAIRE_SAVE }}
					</button>
				</ng-container>

				<button class="save-button" *ngIf="isSaving">
					<mat-progress-spinner
							class="example-margin"
							[diameter]="20"
							[mode]="'indeterminate'">
					</mat-progress-spinner>
				</button>
			</form>
		</div>
	</div>
</div>
