<section class="main-content">
    <div class="for">
        <div class="img"><img src="/assets/images/main-content_01.jpg" /></div>
        <div class="description">
            <img src="/assets/images/main-content_11.svg" />
            <div class="title">
                Соискателям
            </div>
            <p class="text">
                Мы собрали самые <a href="#" class="inline-link">актуальные вакансии</a> в нефте-газовой сфере. <br /> Составляйте свое резюме, отправляйте работодателям и вы обязательно найдете работу мечты!
            </p>
        </div>
    </div>
    <div class="for">
        <div class="img"><img src="/assets/images/main-content_02.jpg" /></div>
        <div class="description">
            <img src="/assets/images/main-content_12.svg" />
            <div class="title">
                Работодателям
            </div>
            <p class="text">
                На нашем портале вы сможете найти самую полную <a href="#" class="inline-link">базу сотрудников</a> нефте-газовой промышленности. Просто создайте вакансии и ждите отклика соискателей.
            </p>
        </div>
    </div>
    <div class="for">
        <div class="img"><img src="/assets/images/main-content_03.jpg" /></div>
        <div class="description">
            <img src="/assets/images/main-content_13.svg" />
            <div class="title">
                Сотрудничество
            </div>
            <p class="text">
                Приглашаем Вас к взаимовыгодному сотрудничеству. Для каждого заинтересованного партнера мы подготовим предложение, основанное на анализе Ваших потребностей.​ Если вам интересно сотрудничество <a href="#" class="inline-link">заполните форму</a> и
                мы свяжемся с вами в ближайшее время.
            </p>
        </div>
    </div>
</section>