<section class="last-added">
    <div class="container">
        <div class="row title">Последние добавленные</div>
        <div class="row type">
            <div class="typeof one">
                Резюме
            </div>
            <div class="typeof two checked">
                Вакансии
            </div>
        </div>
        <div class="row list">
            <a href="#" class="item">
                <div class="name-of-company">ООО «Перспектива»</div>
                <div class="post">Инженер техники безопасности </div>
                <div class="description">Сварка технологических трубопроводов 32 мм - 530 мм, толщина стенки 3 мм-20 мм. Опыт сварки труб под просвет. Наличие свидетельства НАКС, НГДО, ОХНВП.</div>
                <div class="terms">от <span class="number">55 000</span> ₽</div>
                <div class="more-info">Подробнее <img src="/assets/images/arrow.svg" /></div>
            </a>
            <a href="#" class="item">
                <div class="name-of-company">ООО «Перспектива»</div>
                <div class="post">Инженер техники безопасности </div>
                <div class="description">Сварка технологических трубопроводов 32 мм - 530 мм, толщина стенки 3 мм-20 мм. Опыт сварки труб под просвет. Наличие свидетельства НАКС, НГДО, ОХНВП.</div>
                <div class="terms">от <span class="number">55 000</span> ₽</div>
                <div class="more-info">Подробнее <img src="/assets/images/arrow.svg" /></div>
            </a>
            <a href="#" class="item">
                <div class="name-of-company">ООО «Перспектива»</div>
                <div class="post">Инженер техники безопасности </div>
                <div class="description">Сварка технологических трубопроводов 32 мм - 530 мм, толщина стенки 3 мм-20 мм. Опыт сварки труб под просвет. Наличие свидетельства НАКС, НГДО, ОХНВП.</div>
                <div class="terms">от <span class="number">55 000</span> ₽</div>
                <div class="more-info">Подробнее <img src="/assets/images/arrow.svg" /></div>
            </a>
            <a href="#" class="item">
                <div class="name-of-company">ООО «Перспектива»</div>
                <div class="post">Инженер техники безопасности </div>
                <div class="description">Сварка технологических трубопроводов 32 мм - 530 мм, толщина стенки 3 мм-20 мм. Опыт сварки труб под просвет. Наличие свидетельства НАКС, НГДО, ОХНВП.</div>
                <div class="terms">от <span class="number">55 000</span> ₽</div>
                <div class="more-info">Подробнее <img src="/assets/images/arrow.svg" /></div>
            </a>
        </div>
        <div class="row manage">
            <div class="steps">
                <div class="step active"></div>
                <div class="step"></div>
                <div class="step"></div>
            </div>
            <div class="arrows">
                <img class="prev" src="/assets/images/orange-arrow-prev.svg">
                <img class="next" src="/assets/images/orange-arrow-next.svg">
            </div>
            <a class="see-all" href="#">
                Смотреть все вакансии<img src="/assets/images/arrow-orange.svg" />
            </a>
        </div>
    </div>
</section>