<section class="last-added">
	<div class="container">
		<div class="row title">{{ dictionary.RECENTLY_ADDED }}</div>
		<div class="row type">
			<div class="typeof one" [class.checked]="type === 'resume'" (click)="setType('resume')">
				{{ dictionary.CVS }}
			</div>
			<div class="typeof two" [class.checked]="type === 'vacancy'" (click)="setType('vacancy')">
				{{ dictionary.VACANCIES }}
			</div>
		</div>
		<div class="row list">
			<list-resume *ngIf="type === 'resume'" [config]="'all'" [mainPage]="true" [offset]="offset"></list-resume>
			<list-vacancy *ngIf="type === 'vacancy'" [config]="'all'" [mainPage]="true" [offset]="offset"></list-vacancy>
		</div>
		<div class="row manage">
			<div class="steps">
				<div class="step" [class.active]="offset === 0" (click)="setOffset(0)"></div>
				<div class="step" [class.active]="offset === 3" (click)="setOffset(3)"></div>
				<div class="step" [class.active]="offset === 6" (click)="setOffset(6)"></div>
			</div>
			<div class="arrows">
				<img class="prev" src="/assets/images/orange-arrow-prev.svg" (click)="removeOffset()">
				<img class="next" src="/assets/images/orange-arrow-next.svg" (click)="addOffset()">
			</div>
			<a *ngIf="type === 'vacancy'" class="see-all" routerLink="/list-vacancy">
				{{ dictionary.SEE_ALL_VACANCIES }}<img src="/assets/images/arrow-orange.svg"/>
			</a>
			<a *ngIf="type === 'resume'" class="see-all" routerLink="/list-resume">
				{{ dictionary.SEE_ALL_RESUME }}<img src="/assets/images/arrow-orange.svg"/>
			</a>
		</div>
	</div>
</section>