<div class="wrap">

	<div class="title" *ngIf="data.respond">{{ dictionary.ANSWER_TO_OFFER_TITLE }}</div>
	<div class="title" *ngIf="!data.respond">{{ dictionary.ANSWER_TO_VACANCY_TITLE }}</div>

	<div class="type" *ngIf="data.respond">
		<input type="radio" id="positive" name="type" [value]="true" [(ngModel)]="answer">
		<label for="positive">{{ dictionary.YES }}</label>

		<input type="radio" id="negative" name="type" [value]="false" [(ngModel)]="answer">
		<label for="negative">{{ dictionary.NO }}</label>
	</div>

	<div class="body-of-answer positive" *ngIf="answer">
		<div class="title">
			{{dictionary.ANSWER_TO_OFFER_TEXT_POSITIVE_1}}
			<span class="name-of-vacancy">
                "{{vacancy.title}}"
            </span>
			<br/>
			{{dictionary.ANSWER_TO_OFFER_TEXT_POSITIVE_2}}
		</div>

		<!--<div *ngIf="checkedResume" class="contact-data">-->
			<!--<div class="row">-->
				<!--<div class="label">-->
					<!--{{dictionary.FIO}}-->
				<!--</div>-->
				<!--<div class="value">-->
					<!--{{checkedResume && checkedResume.fullName}}-->
				<!--</div>-->
			<!--</div>-->

			<!--<div class="row">-->
				<!--<div class="label">-->
					<!--E-Mail-->
				<!--</div>-->
				<!--<div class="value">-->
					<!--{{checkedResume && checkedResume.email}}-->
				<!--</div>-->
			<!--</div>-->

			<!--<div class="row">-->
				<!--<div class="label">-->
					<!--{{dictionary.PHONE}}-->
				<!--</div>-->
				<!--<div class="value">-->
					<!--{{checkedResume && checkedResume.phoneNumber}}-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

		<div *ngIf="resumeList.length > 1" class="change-resume">
			<div class="title">
				{{dictionary.ANSWER_TO_OFFER_CHANGE_RESUME}}.
			</div>

			<mat-select name="my-resume"
									class="my-resume"
									[(ngModel)]="checkedResume"
									[placeholder]="dictionary.CHANGE">
				<mat-option
					*ngFor="let resume of resumeList"
					[value]="resume"
				>
					{{ resume.job }}
				</mat-option>
			</mat-select>
		</div>
	</div>

	<div class="body-of-answer negative" *ngIf="!answer">
		<div class="title">
			{{dictionary.ANSWER_TO_OFFER_TEXT_NEGATIVE}}
			<span class="name-of-vacancy">
                "{{vacancy.title}}"
            </span>
		</div>

		<div class="summary">
			{{dictionary.ANSWER_TO_OFFER_SUMMARY_NEGATIVE}}.
		</div>
	</div>

	<button *ngIf="data.respond" class="button" (click)="sendRespond()" [disabled]="!checkedResume">
		{{dictionary.SEND_ANSWER}}
	</button>

	<button *ngIf="!data.respond" class="button" (click)="sendRespond()" [disabled]="!checkedResume">
		{{dictionary.SEND_RESPONSE}}
	</button>

</div>
