<ng-container [class.unconfirmed]="user.status === 1"
              [class.banned]="user.status === 9">

    <td>{{user.email}}</td>

    <td >{{user.fullName}}</td>

    <td class="number">{{ user.resumeCount || user.vacancyCount || 0 }}</td>

    <td>{{user.companyName || ''}}</td>
</ng-container>

<!--Компании: -->
    <!--эл.почта. -->
    <!--фио контактного лица, -->
    <!--количество вакансий, -->
    <!--название компании, -->
<!--Соискатели: -->
    <!--эл.почта-->
    <!--ФИО соискателя, -->
    <!--кол-во резюме, -->
