<ng-container>
    <td>{{user.email}}</td>

    <td *ngIf="!isShowAnalytics" >{{user.fullName}}</td>

    <td *ngIf="!isShowAnalytics" class="number">{{ user.resumeCount || user.vacancyCount || 0 }}</td>

    <td *ngIf="!isShowAnalytics">{{user.companyName || ''}}</td>
</ng-container>

<!--Компании: -->
    <!--эл.почта. -->
    <!--фио контактного лица, -->
    <!--количество вакансий, -->
    <!--название компании, -->
<!--Соискатели: -->
    <!--эл.почта-->
    <!--ФИО соискателя, -->
    <!--кол-во резюме, -->
