<section class="list-summaryes">
    <div class="container">

        <div class="row head">
            <div class="title">Резюме</div>
            <form class="sort">
                <label for="">Сортировать</label>
                <select name="" id="">
                    <option value="date">По дате добавления</option>
                </select>
            </form>
        </div>


        <div class="row list">

            <a href="#" class="item">
                <div class="job">Инженер техники безопасности </div>
                <div class="experience">
                    <div class="title">
                        Стаж работы
                    </div>
                    <div class="value">
                        4 года 3 месяца
                    </div>
                </div>
                <div class="last-work-place">
                    <div class="title">
                        Последнее место работы
                    </div>
                    <div class="value">
                        Машинист цементных мельниц, <br /> ООО ХайдельбергЦементРус
                    </div>
                </div>
                <div class="more-info">Подробнее <img src="/assets/images/arrow.svg" /></div>
            </a>
            <a href="#" class="item">
                <div class="job">Инженер техники безопасности </div>
                <div class="experience">
                    <div class="title">
                        Стаж работы
                    </div>
                    <div class="value">
                        4 года 3 месяца
                    </div>
                </div>
                <div class="last-work-place">
                    <div class="title">
                        Последнее место работы
                    </div>
                    <div class="value">
                        Машинист цементных мельниц, <br /> ООО ХайдельбергЦементРус
                    </div>
                </div>
                <div class="more-info">Подробнее <img src="/assets/images/arrow.svg" /></div>
            </a>
            <a href="#" class="item">
                <div class="job">Инженер техники безопасности </div>
                <div class="experience">
                    <div class="title">
                        Стаж работы
                    </div>
                    <div class="value">
                        4 года 3 месяца
                    </div>
                </div>
                <div class="last-work-place">
                    <div class="title">
                        Последнее место работы
                    </div>
                    <div class="value">
                        Машинист цементных мельниц, <br /> ООО ХайдельбергЦементРус
                    </div>
                </div>
                <div class="more-info">Подробнее <img src="/assets/images/arrow.svg" /></div>
            </a>
            <a href="#" class="item">
                <div class="job">Инженер техники безопасности </div>
                <div class="experience">
                    <div class="title">
                        Стаж работы
                    </div>
                    <div class="value">
                        4 года 3 месяца
                    </div>
                </div>
                <div class="last-work-place">
                    <div class="title">
                        Последнее место работы
                    </div>
                    <div class="value">
                        Машинист цементных мельниц, <br /> ООО ХайдельбергЦементРус
                    </div>
                </div>
                <div class="more-info">Подробнее <img src="/assets/images/arrow.svg" /></div>
            </a>
            <a href="#" class="item">
                <div class="job">Инженер техники безопасности </div>
                <div class="experience">
                    <div class="title">
                        Стаж работы
                    </div>
                    <div class="value">
                        4 года 3 месяца
                    </div>
                </div>
                <div class="last-work-place">
                    <div class="title">
                        Последнее место работы
                    </div>
                    <div class="value">
                        Машинист цементных мельниц, <br /> ООО ХайдельбергЦементРус
                    </div>
                </div>
                <div class="more-info">Подробнее <img src="/assets/images/arrow.svg" /></div>
            </a>
            <a href="#" class="item">
                <div class="job">Инженер техники безопасности </div>
                <div class="experience">
                    <div class="title">
                        Стаж работы
                    </div>
                    <div class="value">
                        4 года 3 месяца
                    </div>
                </div>
                <div class="last-work-place">
                    <div class="title">
                        Последнее место работы
                    </div>
                    <div class="value">
                        Машинист цементных мельниц, <br /> ООО ХайдельбергЦементРус
                    </div>
                </div>
                <div class="more-info">Подробнее <img src="/assets/images/arrow.svg" /></div>
            </a>
            <a href="#" class="item">
                <div class="job">Инженер техники безопасности </div>
                <div class="experience">
                    <div class="title">
                        Стаж работы
                    </div>
                    <div class="value">
                        4 года 3 месяца
                    </div>
                </div>
                <div class="last-work-place">
                    <div class="title">
                        Последнее место работы
                    </div>
                    <div class="value">
                        Машинист цементных мельниц, <br /> ООО ХайдельбергЦементРус
                    </div>
                </div>
                <div class="more-info">Подробнее <img src="/assets/images/arrow.svg" /></div>
            </a>
            <a href="#" class="item">
                <div class="job">Инженер техники безопасности </div>
                <div class="experience">
                    <div class="title">
                        Стаж работы
                    </div>
                    <div class="value">
                        4 года 3 месяца
                    </div>
                </div>
                <div class="last-work-place">
                    <div class="title">
                        Последнее место работы
                    </div>
                    <div class="value">
                        Машинист цементных мельниц, <br /> ООО ХайдельбергЦементРус
                    </div>
                </div>
                <div class="more-info">Подробнее <img src="/assets/images/arrow.svg" /></div>
            </a>
            <a href="#" class="item">
                <div class="job">Инженер техники безопасности </div>
                <div class="experience">
                    <div class="title">
                        Стаж работы
                    </div>
                    <div class="value">
                        4 года 3 месяца
                    </div>
                </div>
                <div class="last-work-place">
                    <div class="title">
                        Последнее место работы
                    </div>
                    <div class="value">
                        Машинист цементных мельниц, <br /> ООО ХайдельбергЦементРус
                    </div>
                </div>
                <div class="more-info">Подробнее <img src="/assets/images/arrow.svg" /></div>
            </a>


        </div>

        <div class="row show-more">
            <button type="button" name="button">
                <img src="/assets/images/dott.png" alt="">
                <img src="/assets/images/dott.png" alt="">
                <img src="/assets/images/dott.png" alt="">
                Показать ещё
            </button>
        </div>
    </div>
</section>