<section class="list-summaryes">
    <div class="container">

        <div class="row list">

            <a href="#" class="item" *ngFor="let item of listResume; let i = index" >
                <div class="job">{{item.job}}</div>
                <div class="experience">
                    <div class="title">
                        Стаж работы
                    </div>
                    <div class="value">
                        {{ item.experienceAll.oil.years }} лет {{ item.experienceAll.oil.month }} месяцев
                    </div>
                </div>
                <div class="last-work-place">
                    <div class="title">
                        Последнее место работы
                    </div>
                    <div class="value">
                        {{item.experience[0].job}}, <br /> {{item.experience[0].organization}}
                    </div>
                </div>
                <div class="more-info">Подробнее <img src="/assets/images/arrow.svg" /></div>
            </a>


            <a [routerLink]="['/create-resume']" class="add item" *ngIf="config === 'resume'" >
                <div class="inner">
                    <div class="circle">
                        <div class="plus">
                            +
                        </div>
                    </div>
                </div>
                <div class="more-info">Добавить новое резюме</div>
            </a>



        </div>

        <div class="row show-more">
            <button type="button" name="button">
                <img src="/assets/images/dott.png" alt="">
                <img src="/assets/images/dott.png" alt="">
                <img src="/assets/images/dott.png" alt="">
                Показать ещё
            </button>
        </div>
    </div>
</section>