<section class="list-summaryes">
    <div class="container">

        <div class="row head">
            <div class="title">Резюме</div>
            <form class="sort">
                <label for="">Сортировать</label>
                <select name="" id="">
                    <option value="date">По дате добавления</option>
                </select>
            </form>
        </div>


        <div class="row list">

            <a href="#" class="item" *ngFor="let item of listResume; let i = index" >
                <div class="job">{{item.job}}</div>
                <div class="experience">
                    <div class="title">
                        Стаж работы
                    </div>
                    <div class="value">
                        {{ item.experienceAll.oil.years }} лет {{ item.experienceAll.oil.month }} месяцевц
                    </div>
                </div>
                <div class="last-work-place">
                    <div class="title">
                        Последнее место работы
                    </div>
                    <div class="value">
                        {{item.experience[0].job}}, <br /> {{item.experience[0].organization}}
                    </div>
                </div>
                <div class="more-info">Подробнее <img src="/assets/images/arrow.svg" /></div>
            </a>



        </div>

        <div class="row show-more">
            <button type="button" name="button">
                <img src="/assets/images/dott.png" alt="">
                <img src="/assets/images/dott.png" alt="">
                <img src="/assets/images/dott.png" alt="">
                Показать ещё
            </button>
        </div>
    </div>
</section>