<section class="list-summaryes" *ngIf="listResume">
    <div class="container">

        <div class="row list">

            <a class="item" *ngFor="let item of listResume; let i = index"  [routerLink]="['/resume',item._id]">
                <div class="job">{{item?.job}}</div>
                <div class="experience">
                    <div class="title">
                        Стаж работы
                    </div>
                    <div class="value">
                        {{item?.experienceAllTime}}
                    </div>
                </div>
                <div class="last-work-place">
                    <div class="title">
                        Последнее место работы
                    </div>
                    <div class="value" *ngIf="item?.experience.length > 0">
                        {{item?.experience[0]?.job}}, {{item?.experience[0]?.organization}}
                    </div>
                    <div class="value" *ngIf="item?.experience.length == 0">
                       -
                    </div>
                </div>
                <div class="more-info">Подробнее <img src="/assets/images/arrow.svg" /></div>
            </a>


            <a [routerLink]="['/create-resume']" class="add item" *ngIf="config === 'resume'" >
                <div class="inner">
                    <div class="circle">
                        <div class="plus">
                            +
                        </div>
                    </div>
                </div>
                <div class="more-info">Добавить новое резюме</div>
            </a>



        </div>

        <div class="row show-more">
            <button type="button" name="button">
                <img src="/assets/images/dott.png" alt="">
                <img src="/assets/images/dott.png" alt="">
                <img src="/assets/images/dott.png" alt="">
                Показать ещё
            </button>
        </div>
    </div>
</section>