<div class="wrapper resume">

	<div class="status-new">
		<ng-container *ngIf="new">
			<img src="/assets/images/dott-orange.svg"/>
			{{dictionary.NEW}}
		</ng-container>
	</div>

	<div class="job">Инженер техники безопасности</div>

	<div class="experience">
		<div class="title">
			{{dictionary.FULL_EXPERIENCE}}
		</div>
		<div class="value">
			4 года 3 месяца
		</div>
	</div>

	<div class="last-work-place">
		<!--*ngIf="resume.experience.length > 0"-->
		<div class="title">
			{{dictionary.LAST_WORKPLACE}}
		</div>
		<div class="value">
			Машинист цементных мельниц, <br>
			ООО ХайдельбергЦементРус
		</div>
		<!--<div class="value" *ngIf="resume.experience.length == 0">-->
		<!-- - -->
		<!--</div>-->
	</div>

	<!--которое образоание, ага-->
	<!--<div class="last-work-place" *ngIf="resume.education.length > 0">-->
	<!--<div class="title">-->
	<!--{{dictionary.EDUCATION}}-->
	<!--</div>-->
	<!--<div *ngFor="let education of resume.education; let j = index">-->
	<!--<div class="value" *ngIf="!education.faculty && j < 2">-->
	<!--{{education.university}}-->
	<!--</div>-->
	<!--<div class="value" *ngIf="education.faculty && j < 2">-->
	<!--{{education.university}}, {{education.faculty}}-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->

	<div class="status-container">
		<ng-container [ngSwitch]="status">
			<ng-template ngSwitchCase="responded"><img class="icon" src="/assets/images/dott-green.svg"/></ng-template>
			<ng-template ngSwitchCase="refused"><img class="icon" src="/assets/images/dott-red.svg"/></ng-template>
			<ng-template ngSwitchDefault><img class="icon" src="/assets/images/dott-gray.svg"/></ng-template>
		</ng-container>

		<div class="text">
			<div class="header">
				{{dictionary.STATUS}}
			</div>
			<div class="status" [ngSwitch]="status">
				<ng-template ngSwitchCase="responded">{{dictionary.CANDIDATE_RESPONDED}}</ng-template>
				<ng-template ngSwitchCase="refused">{{dictionary.CANDIDATE_REFUSED}}</ng-template>
				<ng-template ngSwitchDefault>{{dictionary.PENDING}}</ng-template>
			</div>
			<div class="description" [ngSwitch]="status">
				<ng-template ngSwitchCase="responded"><a routerLink="#!">{{dictionary.SEE_ANSWER}}</a></ng-template>
				<ng-template ngSwitchCase="refused">{{dictionary.VACANCY_NOT_INTERESTED_FOR_CANDIDATE}}</ng-template>
				<ng-template ngSwitchDefault>{{dictionary.CANDIDATE_NOT_ANSWER}}</ng-template>
			</div>
		</div>

	</div>

	<a routerLink="#!" class="more-info">{{dictionary.MORE}}<img src="/assets/images/arrow.svg"/></a>
</div>