@import "colors";
@import "animations";

:host {

  .filtr-summaryes {
    padding: 32px 0 21px;
    box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, 0.06);
    background-color: $white;

    .search-field {
      position: relative;
      margin-bottom: 20px;

      input {
        width: 100%;
        border-radius: 0.188rem 0.063rem 0.063rem 0.188rem;
        border: 0.063rem solid #dadada;
        background-color: $white;
        height: 48px;
        color: $black;
        font-family: Roboto;
        font-size: 0.875rem;
        font-weight: 400;
        padding: 17px 51px;
        transition-property: border-color;
        transition-duration: $transition-duration-default;

        &:focus {
          outline: none;
          border-color: $dark-orange;
        }
      }

      .button-search {
        border-radius: 0 0.188rem 0.188rem 0;
        max-width: 180px;
        width: 30%;
        height: 48px;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-family: Roboto;
        font-size: 0.875rem;
        font-weight: 700;
        background-color: $orange;
        @include tr-bg;

        &:hover, &:focus {
          outline: none;
          background-color: $hover-orange;
        }

      }

    }

    form .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      &.additional-filters {
        margin: 10px 0;
      }

      .show-filter {
        width: 100%;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        .line {
          background-color: $light-gray;
          height: 1px;
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .text {
            color: $gray;
            font-family: Roboto;
            font-size: 0.875rem;
            font-weight: 400;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: white;
            padding: 0 10px;

            &:hover, &:focus {
              color: $black;
            }

            .button-icon {
              margin-right: 10px;
            }
          }
        }

      }

      select {
        width: 264px;
        height: 34px;
        background-color: transparent;
        border: 0.063rem solid #dadada;
        color: $black;
        font-family: Roboto;
        font-size: 0.875rem;
        font-weight: 400;
        margin-right: 18px;
        margin-top: 18px;
        padding-left: 22px;

        &:nth-child(4n) {
          margin-right: 0;
        }
      }

      .change-age {
        width: 180px;
        margin-top: -13px;

        .placeholder {
          color: rgba(0, 0, 0, 0.54);
          font-size: 16px;
          transform: scale(0.75) perspective(100px) translateX(-17%);
        }

        .entry {
          display: flex;
          height: 20px;

          input {
            display: inline-block;
            width: 30px;
            margin: 0 10px;
            height: 100%;
            background-color: transparent;
            color: $black;
            font-family: Roboto;
            font-size: 1rem;
            text-align: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.54);

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              /* display: none; <- Crashes Chrome on hover */
              -webkit-appearance: none;
              margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
            }
          }

          .text {
            height: 100%;
            display: inline-block;
            font-family: Roboto;
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.54);
            font-weight: 400;
          }
        }

      }

      .change-photo {
        width: 180px;
        color: rgba(0, 0, 0, 0.54);
      }

    }

    .reset {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @include tr-color;

      .button-text {
        color: $gray;
        font-family: Roboto;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 3.375rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover, &:focus {
          color: $black;
        }

        .button-icon {
          display: block;
          margin: 0 7px;
        }
      }
    }
  }

  @media (max-width: 1000px) {

    .filtr-summaryes form .row {
      justify-content: space-around !important;
    }

    form .row {
      justify-content: space-around !important;
    }

  }

  @media (max-width: 480px) {
    .change-age {
      margin: 20px 0 !important;
    }
  }

}