<div class="question">

	<div class="field">
		<div class="label">
			Категория:
		</div>
		<div class="value">
			Определенная категория вопроса
		</div>
	</div>

	<div class="field">
		<div class="label">
			Описание проблемы:
		</div>
		<div class="value">
			мега очень большое описание вопроса мега очень большое описание вопроса
			мега очень большое описание вопроса мега очень большое описание вопроса
			мега очень большое описание вопроса мега очень большое описание вопроса
		</div>
	</div>

	<div class="info">
		<div class="time">
			15:18, 20 октября 2016
		</div>
		<div class="status">
			находится на рассмотрениии
		</div>
	</div>

	<div class="button-container">
		<button class="open-chat">
			Перейти в чат с оператором
		</button>
	</div>

</div>

<div class="question">

	<div class="field">
		<div class="label">
			Категория:
		</div>
		<div class="value">
			Определенная категория вопроса
		</div>
	</div>

	<div class="field">
		<div class="label">
			Описание проблемы:
		</div>
		<div class="value">
			мега очень большое описание вопроса мега очень большое описание вопроса
			мега очень большое описание вопроса мега очень большое описание вопроса
			мега очень большое описание вопроса мега очень большое описание вопроса
		</div>
	</div>

	<div class="info">
		<div class="time">
			15:18, 20 октября 2016
		</div>
		<div class="status">
			находится на рассмотрениии
		</div>
	</div>

	<div class="button-container">
		<button class="open-chat">
			Перейти в чат с оператором
		</button>
	</div>

</div>