<div class="container">
    <div class="row">
        <div class="banner-logo col-lg-12 col-sm-4 col-12">
            <img src="/assets/images/logo.png" alt="">
        </div>
        <h2 class="banner-title col-lg-12 col-sm-7 col-12 offset-0 offset-sm-1 offset-md-1 offset-lg-0" [innerHTML]="dictionary.HOME_BANNER_TITLE">
        </h2>
    </div>

    <!--поиск в баннере на главной-->
    <!--<div class="search row">-->
    <!--<div class="search-field">-->
    <!--<input type="text" class="search" [placeholder]="dictionary.LOOKING_FOR"/>-->
    <!--<div class="border"></div>-->
    <!--<ul class="change_form type">-->
    <!--<li class="active">{{ dictionary.IN_VACANCIES }}</li>-->
    <!--<li>{{ dictionary.IN_CV }}</li>-->
    <!--</ul>-->
    <!--<div class="border"></div>-->
    <!--<ul class="change_form city">-->
    <!--<li class="active">{{ dictionary.IN_SBP }}</li>-->
    <!--<li>{{ dictionary.IN_MSK }}</li>-->
    <!--<li>{{ dictionary.IN_SAR }}</li>-->
    <!--</ul>-->
    <!--<div class="button">-->
    <!--{{ dictionary.SEARCH }}-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->


</div>