@import "colors";
@import "animations";

:host {
  display: block;
  width: 262px;
  height: 400px;
  padding: 30px;
  padding-bottom: 0;
  box-shadow: 1px 0rem 1.875rem rgba(0, 0, 0, 0.15);
  position: relative;
  @include transition-duration;
  transition-property: transform;
  margin-right: 20px;
  margin-top: 14px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:hover {
    transform: scale(1.05);

    .more-info {
      color: black;
    }
  }

  .name-of-company {
    color: $gray;
    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 3.375rem;
  }

  .post {
    color: $black;
    font-family: "Bebas";
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.5rem;
  }

  .description {
    margin-top: 41px;
    color: $black;
    font-family: Roboto;
    font-size: 0.813rem;
    font-weight: 400;
    line-height: 1.25rem;
  }

  .terms {
    margin-top: 36px;
    color: $dark-orange;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.375rem;
    font-size: 1rem;
    .number {
      font-size: 1.5rem;
    }
  }

  .more-info {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: $gray;
    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: 500;
    border-top: 1px solid #ddd;
    padding: 13px 30px;
    @include tr-color;

    img {
      margin-bottom: -2px;
      display: inline-block;
    }

  }
}