<mat-card-header>
	<mat-card-title>Статистика по пользователю</mat-card-title>
</mat-card-header>

<div *ngIf="changeForm$ | async"></div>
<form action="" [formGroup]="timePeriod">
	<mat-form-field style="margin-right: 40px">
		<input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dpFrom" placeholder="Выберите дату начала" formControlName="from" (click)="dpFrom.open()" readonly>
		<mat-datepicker-toggle matSuffix [for]="dpFrom"></mat-datepicker-toggle>
		<mat-datepicker touchUi="true" #dpFrom ></mat-datepicker>
	</mat-form-field>

	<mat-form-field>
		<input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dpTo" placeholder="Выберите дату конца" formControlName="to" (click)="dpTo.open()" readonly>
		<mat-datepicker-toggle matSuffix [for]="dpTo"></mat-datepicker-toggle>
		<mat-datepicker touchUi="true" #dpTo ></mat-datepicker>
	</mat-form-field>
</form>

<p style="margin-bottom: 30px;" class="inline-link" (click)="resetFilter()">Сбросить фильтр</p>

<mat-card-content class="analytic">

	<p>Просмотренно вакансий за день</p>
	<div class="center">
		<div class="no-data"  *ngIf="statWorkerViewVacancyPerDay.length === 0" >
			Нет данных
		</div>

		<ngx-charts-bar-vertical-2d
			[view]="[700, 400]"
			[scheme]="{domain: ['#a4000d', '#5AA454']}"
			[results]="statWorkerViewVacancyPerDay"
			[xAxis]="true"
			[yAxis]="true"
			[yScaleMax]="5"
			[legend]="true"
			[legendTitle]="'Сколько'"
			[showXAxisLabel]="true"
			[showYAxisLabel]="true"
			[xAxisLabel]="'День'"
			[yAxisLabel]="'Резюме'"
			[barPadding]="4"
			[groupPadding]="12"
			style="height: 400px; display: block;"
		>
		</ngx-charts-bar-vertical-2d>
	</div>

</mat-card-content>
