<div class="container">
	<div class="row">
		<div class="col">
			<div class="title">
				Восстановление пароля:
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p class="message">
				Введите новый пароль:
			</p>

			<form class="flex-container" [formGroup]="restorePassword">
				<input
					type="text"
					formControlName="password"
					placeholder="Пароль"
				>
			</form>

			<button class="button" [disabled]="restorePassword.invalid" (click)="saveNewPassword()">
				Сохранить пароль
			</button>
		</div>
	</div>
</div>