@import "colors";
@import "animations";
@import "fonts";

:host {
  display: block;
  padding: 10px 0;
  height: 80vh;
  margin: 50px 0;

  .container {
    height: auto;
  }

  .message {
    margin: 50px 0 10px;
    font-size: 1rem;
  }

  input {
    display: block;
    width: 400px;
    margin: 30px 0;
    padding: 10px 10px;
    border: 2px solid $orange;
    border-radius: 5px;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }

  .button {
    display: inline-flex;
    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1;
    width: 361px;
    height: 46px;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 0.313rem;
    background-color: $orange;
    @include tr-bg;

    &:hover {
      background-color: $hover-orange;
    }

    &:disabled {
      background-color: $gray;
      cursor: default;
    }
  }
}