<div class="container">
	<div class="row">
		<div class="col">
			<div class="title">
				{{ dictionary.RESTORE_PASSWORD_TITLE }}:
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p class="message">
				{{ dictionary.RESTORE_PASSWORD_INPUT_NEW_PASSWORD }}:
			</p>

			<form class="flex-container" [formGroup]="restorePassword">
				<input
					type="text"
					formControlName="password"
					placeholder="{{ dictionary.PASSWORD }}"
				>
			</form>

			<button class="button" [disabled]="restorePassword.invalid" (click)="saveNewPassword()">
				{{ dictionary.RESTORE_PASSWORD_SAVE_PASSWORD }}
			</button>
		</div>
	</div>
</div>