<section class="main-content">
    <div class="for">
        <div class="img"><img src="/assets/images/main-content_01.jpg"/></div>
        <div class="description">
            <img src="/assets/images/main-content_11.svg"/>
            <div class="title">
                {{ dictionary.FOR_CANDIDATES }}
            </div>
            <p class="text">
                {{dictionary.HOME_PAGE_CONTENT_1_1}}
                <a [routerLink]="['/list-vacancy']" class="inline-link">
                    {{dictionary.HOME_PAGE_CONTENT_1_2}}
                </a>
                {{dictionary.HOME_PAGE_CONTENT_1_3}}
            </p>
        </div>
    </div>
    <div class="for">
        <div class="img"><img src="/assets/images/main-content_02.jpg"/></div>
        <div class="description">
            <img src="/assets/images/main-content_12.svg"/>
            <div class="title">
                {{ dictionary.FOR_EMPLOYER }}
            </div>
            <p class="text">
                {{dictionary.HOME_PAGE_CONTENT_2_1}}
                <a [routerLink]="['/list-resume']" class="inline-link">
                    {{dictionary.HOME_PAGE_CONTENT_2_2}}
                </a>
                {{dictionary.HOME_PAGE_CONTENT_2_3}}
            </p>
        </div>
    </div>
    <div class="for">
        <div class="img"><img src="/assets/images/main-content_03.jpg"/></div>
        <div class="description">
            <img src="/assets/images/main-content_13.svg"/>
            <div class="title">
                {{ dictionary.FOR_PARTNERSHIPS }}
            </div>
            <p class="text" [innerHTML]="dictionary.HOME_PAGE_CONTENT_3"></p>
        </div>
    </div>
</section>