<ul class="description-list">
    <li class="description-item">
        <div class="cover">
            <img src="/assets/images/main-page/descripton-cover-01.jpg" alt="">
        </div>
        <div class="text">
            <img src="/assets/images/main-page/descripton-icon-11.svg" alt="" class="icon">
            <h2 class="description-title">{{ dictionary.FOR_CANDIDATES }}</h2>
            <p class="description-text">
                {{dictionary.HOME_PAGE_CONTENT_1_1}}
                <a [routerLink]="['/list-vacancy']" class="inline-link">
                    {{dictionary.HOME_PAGE_CONTENT_1_2}}
                </a>
                {{dictionary.HOME_PAGE_CONTENT_1_3}}
            </p>
        </div>
    </li>
    <li class="description-item">
        <div class="cover">
            <img src="/assets/images/main-page/descripton-cover-02.jpg" alt="">
        </div>
        <div class="text">
            <img src="/assets/images/main-page/descripton-icon-12.svg" alt="" class="icon">
            <h2 class="description-title">{{ dictionary.FOR_EMPLOYER }}</h2>
            <p class="description-text">
                {{dictionary.HOME_PAGE_CONTENT_2_1}}
                <a [routerLink]="['/list-vacancy']" class="inline-link">
                    {{dictionary.HOME_PAGE_CONTENT_2_2}}
                </a>
                {{dictionary.HOME_PAGE_CONTENT_2_3}}
            </p>
        </div>
    </li>
    <li class="description-item">
        <div class="cover">
            <img src="/assets/images/main-page/descripton-cover-03.jpg" alt="">
        </div>
        <div class="text">
            <img src="/assets/images/main-page/descripton-icon-13.svg" alt="" class="icon">
            <h2 class="description-title">{{ dictionary.FOR_PARTNERSHIPS }}</h2>
            <p class="description-text" [innerHTML]="dictionary.HOME_PAGE_CONTENT_3"></p>
        </div>
    </li>
</ul>