<div class="name-of-company">
	{{vacancy.companyName }}
</div>

<div class="post">
	{{vacancy.title}}
</div>
<div *ngIf="respondTitle" class="respond-title">На ваше резюме:  <b>{{ respondTitle }}</b></div>
<div *ngIf="vacancy.userId === user?._id" class="respond-title">Опубликовано до: {{ vacancy.timeoutDate.locale('ru').format('DD.MM.YYYY') }}</div>

<div class="description" [innerHtml]="vacancy.duties">

</div>


<div class="terms">
	{{dictionary.FROM}} <span class="number">{{vacancy.salaryGROSS.from}}</span>
	{{vacancy.currency === "rubles" ? "₽" : "$" }}
</div>