<div class="container" *ngIf="banner">
	<div class="row">
		<div class="col">

			<div class="time">
				{{ banner.creationDate.locale(currentLang).format('DD.MM.YYYY HH:mm') }}
			</div>

			<div class="title">
				{{ banner.title }}
			</div>

			<ng-container *ngIf="currentUser && ( currentUser.typeAccount === 'admin' || currentUser.typeAccount === 'manager' || banner.userId === currentUser._id)">
				<div class="not-public" *ngIf="!banner.publicate">
					{{ dictionary.BANNER_NOT_PUBLISH }}
				</div>
			</ng-container>

			<div class="not-public" *ngIf="banner.status === 3">
				{{ dictionary.BANNER_NOT_PUBLISH }}
			</div>

			<div class="photo-block">
				<div class="photo">
					<img *ngIf="!banner.imageUrl" src="{{banner.photoURL}}" alt="{{banner.title}}">

					<a  *ngIf="banner.imageUrl" [href]="banner.imageUrl" target="_blank">
						<img src="{{banner.photoURL}}" alt="{{banner.title}}">
					</a>
				</div>
				<div class="manage">
					<ng-container *ngIf="currentUser && (currentUser.typeAccount === 'admin' || currentUser.typeAccount === 'manager')">

						<div class="change-lang">
							<div class="lang">
								<input type="radio" id="lang-ru" name="lang" [value]="'ru'" [(ngModel)]="language">
								<label for="lang-ru">Ru</label>
							</div>


							<div class="lang">
								<input type="radio" id="lang-en" name="lang" [value]="'en'" [(ngModel)]="language">
								<label for="lang-en">En</label>
							</div>
						</div>

						<a class="button" [routerLink]="['/admin/chats', banner.userId]">
							Написать
						</a>

						<button class="button" *ngIf="!banner.publicate" (click)="publicate(true)">
							{{ dictionary.BANNER_PUBLIC }}
						</button>

						<button class="button" *ngIf="banner.publicate" (click)="publicate(false)">
							{{ dictionary.BANNER_UNPUBLIC }}
						</button>
					</ng-container>

					<ng-container *ngIf="currentUser && (currentUser.typeAccount === 'admin' || currentUser.typeAccount === 'manager' || currentUser._id === banner.userId)">
						<p *ngIf="banner.status !== 3">
							{{ dictionary.BANNER_PUBLIC_TO_TIME }}: {{ banner.timeoutDate.locale('ru').format('DD.MM.YYYY, HH:mm') }}
						</p>
					</ng-container>

					<ng-container *ngIf="currentUser && currentUser._id === banner.userId">
						<a class="button" [routerLink]="['/edit-banner', banner._id]">
							{{ dictionary.BANNER_EDIT }}
						</a>

						<button (click)="activateBanner()" class="button" *ngIf="banner.status === 3">
							{{ dictionary.BANNER_EXTEND }}
						</button>
					</ng-container>
				</div>
			</div>

			<div class="text-news" [innerHTML]="banner.text | safeHtml">

			</div>

		</div>
	</div>
</div>
