<div class="container-fluid">
    <div class="row">
        <div class="col">
            <mat-toolbar>
                Админ панель
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="inline-link" routerLink="/">Обратно на сайт</a>
            </mat-toolbar>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <mat-card>
                <mat-nav-list>
                    <h3 mat-subheader>Меню:</h3>
                    <ng-container  *ngFor="let menuItem of menuList; let i = index;">
                        <a mat-list-item
                           *ngIf="menuItem.accessDenied !== user.typeAccount"
                           [class.active]="currentRoute.getValue() === menuItem.link"
                           (click)="currentRoute.next(menuItem.link)"
                           routerLink="{{menuItem.link}}">
                            {{menuItem.name}}
                        </a>
                    </ng-container>
                </mat-nav-list>
            </mat-card>
        </div>
        <div class="col-10 row padding-fix">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
