<div class="container-fluid">
    <div class="row">
        <div class="col">
            <mat-toolbar>Админ панель</mat-toolbar>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <mat-card>
                <mat-nav-list>
                    <h3 mat-subheader>Меню:</h3>
                    <a mat-list-item
                       *ngFor="let menuItem of menuList; let i = index;"
                       routerLink="{{menuItem.link}}">
                        {{menuItem.name}}
                    </a>
                </mat-nav-list>
            </mat-card>
        </div>
        <div class="col-10 row padding-fix">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>