<section class="list-vacancy">
    <div class="container">

        <div class="row head">
            <div class="title">Вакансии</div>
            <form class="sort">
                <label for="">Сортировать</label>
                <select name="" id="">
                    <option value="date">По дате добавления</option>
                </select>
            </form>
        </div>

        <div class="row list">
            <a href="#" class="item" *ngFor="let vacancy of listVacancy; let i = index">
                <div class="name-of-company">ООО «Перспектива»</div>
                <div class="post">{{vacancy.title}}</div>
                <div class="description">
                    {{vacancy.duties}}
                </div>
                <div class="terms">от <span class="number">{{vacancy.salary.from}}</span> ₽</div>
                <div class="more-info">Подробнее <img src="/assets/images/arrow.svg"/></div>
            </a>
        </div>



        <!--кнопка "показать еще"-->
        <!--<div class="row show-more">-->
            <!--<button type="button" name="button">-->
                <!--<img src="/assets/images/dott.png" alt="">-->
                <!--<img src="/assets/images/dott.png" alt="">-->
                <!--<img src="/assets/images/dott.png" alt="">-->
                <!--Показать ещё-->
            <!--</button>-->
        <!--</div>-->
    </div>
</section>