<section class="list-vacancy">
    <div class="container">

        <div class="row list">
            <a [routerLink]="['/vacancy', vacancy._id]" class="item" *ngFor="let vacancy of listVacancy; let i = index">
                <div class="name-of-company">ООО «Перспектива»</div>
                <div class="post">{{vacancy.title}}</div>
                <div class="description" [innerHtml]="vacancy.duties">
                </div>
                <div class="terms">от <span class="number">{{vacancy.salaryGROSS.from}}</span> {{vacancy.currency === "rubles" ? "₽" : "$" }}</div>
                <div class="more-info">Подробнее <img src="/assets/images/arrow.svg"/></div>
            </a>

            <a [routerLink]="['/create-vacancy']" class="add item" *ngIf="config === 'user'">
                <div class="inner">
                    <div class="circle">
                        <div class="plus">
                            +
                        </div>
                    </div>
                </div>
                <div class="more-info">{{dictionary.ADD_NEW_VACANCY}}</div>
            </a>
        </div>


        <!--кнопка "показать еще"-->
        <!--<div class="row show-more">-->
        <!--<button type="button" name="button">-->
        <!--<img src="/assets/images/dott.png" alt="">-->
        <!--<img src="/assets/images/dott.png" alt="">-->
        <!--<img src="/assets/images/dott.png" alt="">-->
        <!--Показать ещё-->
        <!--</button>-->
        <!--</div>-->
    </div>
</section>