<a *ngIf="resume" class="wrapper resume" [routerLink]="['/resume', resume._id]">
	<div class="job">{{resume.job}}</div>

	<div class="experience">
		<div class="title">
			{{dictionary.FULL_EXPERIENCE}}
		</div>
		<div class="value">
			{{resume.experienceTime.all}}
		</div>
	</div>

	<div class="last-work-place" *ngIf="resume.experience.length > 0">
		<div class="title">
			{{dictionary.LAST_WORKPLACE}}
		</div>
		<div class="value">
			{{resume?.experience[0]?.job}}, {{resume?.experience[0]?.organization}}
		</div>
		<div class="value" *ngIf="resume.experience.length == 0">
			-
		</div>
	</div>

	<!--которое образоание, ага-->
	<div class="last-work-place" *ngIf="resume.education.length > 0">
		<div class="title">
			{{dictionary.EDUCATION}}
		</div>
		<div *ngFor="let education of resume.education; let j = index">
			<div class="value" *ngIf="!education.faculty && j < 2">
				{{education.university}}
			</div>
			<div class="value" *ngIf="education.faculty && j < 2">
				{{education.university}}, {{education.faculty}}
			</div>
		</div>
	</div>

	<div class="more-info">{{dictionary.MORE}}<img src="/assets/images/arrow.svg"/></div>
</a>

<a *ngIf="add" [routerLink]="['/create-resume']" class="add item">
	<div class="inner">
		<div class="circle">
			<div class="plus">
				+
			</div>
		</div>
	</div>
	<div class="more-info">{{dictionary.ADD_NEW_CV}}</div>
</a>