<div class="status-container" [class.big]="isBig()"
		 *ngIf="!((isWorker() && (entity === 'offer') && (status === RESPOND_STATUS.AWAITING)) || (!isWorker() && (entity === 'respond') && (status === RESPOND_STATUS.AWAITING)))">

	<div class="header" *ngIf="!((typeUser === 'employer') && (entity === 'respond'))">
		{{dictionary.STATUS}}
	</div>

	<ng-container *ngIf="isWorker()">
		<ng-container *ngIf="entity === 'offer'">
			<div class="status green" *ngIf="status === RESPOND_STATUS.APPROVED">{{dictionary.YOU_AGREED}}</div>
			<a  class="status file link" *ngIf="status === RESPOND_STATUS.WAIT_QUESTIONNAIRE">{{dictionary.FILL_THE_INTERVIEW}}</a>
			<div class="status red" *ngIf="status === RESPOND_STATUS.REJECTED">{{dictionary.YOU_REFUSED}}</div>
		</ng-container>
		<ng-container *ngIf="entity === 'respond'">
			<div class="status gray" *ngIf="status === RESPOND_STATUS.AWAITING">{{dictionary.PENDING}}</div>
			<a class="status file link" *ngIf="status === RESPOND_STATUS.WAIT_QUESTIONNAIRE">{{dictionary.FILL_THE_INTERVIEW}}</a>
			<div class="status gray" *ngIf="status === RESPOND_STATUS.QUESTIONNAIRE_DONE">{{dictionary.PENDING}}</div>
			<div class="status green"   *ngIf="status === RESPOND_STATUS.APPROVED">{{dictionary.STATUS_APPROVED}}</div>
			<div class="status red"   *ngIf="status === RESPOND_STATUS.REJECTED">{{dictionary.STATUS_REJECTED}}</div>
		</ng-container>
	</ng-container>

	<ng-container *ngIf="!isWorker()">
		<ng-container *ngIf="entity === 'offer'">
			<div class="status gray" *ngIf="status === RESPOND_STATUS.AWAITING">{{dictionary.PENDING}}</div>
			<div class="status green" *ngIf="status === RESPOND_STATUS.APPROVED">{{dictionary.CANDIDATE_RESPONDED}}</div>
			<div class="status red" *ngIf="status === RESPOND_STATUS.REJECTED">{{dictionary.CANDIDATE_REFUSED}}</div>
		</ng-container>
		<ng-container *ngIf="entity === 'respond'">
			<div class="status gray" *ngIf="status === RESPOND_STATUS.WAIT_QUESTIONNAIRE">{{dictionary.CANDIDATE_FILLING_INTERVIEW}}</div>
			<div class="status green" *ngIf="status === RESPOND_STATUS.QUESTIONNAIRE_DONE">{{dictionary.CANDIDATE_FILLED_INTERVIEW}}</div>
			<div class="status green"   *ngIf="status === RESPOND_STATUS.APPROVED">{{dictionary.YOU_WILL_CONNECT}}</div>
			<div class="status red"   *ngIf="status === RESPOND_STATUS.REJECTED">{{dictionary.CANDIDATE_NOT_SUIT}}</div>
		</ng-container>
	</ng-container>




	<ng-container *ngIf="isWorker()">
		<ng-container *ngIf="entity === 'respond'">
			<div class="description" *ngIf="status === RESPOND_STATUS.AWAITING">{{dictionary.RESUME_IS_NOT_VIEWED}}</div>
			<div class="description" *ngIf="status === RESPOND_STATUS.WAIT_QUESTIONNAIRE">{{dictionary.ANSWER_THE_QUESTIONS}}</div>
			<div class="description" *ngIf="status === RESPOND_STATUS.QUESTIONNAIRE_DONE">{{dictionary.COMPANY_CHECK_ANSWER}}</div>
			<div class="description"   *ngIf="status === RESPOND_STATUS.APPROVED">{{dictionary.WITH_YOU_WILL_CONNECT}}</div>
			<div class="description"   *ngIf="status === RESPOND_STATUS.REJECTED">{{dictionary.YOU_RESUME_IS_NOT_INTERESTED}}</div>
		</ng-container>
	</ng-container>

	<ng-container *ngIf="!isWorker()">
		<ng-container *ngIf="entity === 'offer'">
			<div class="description" *ngIf="status === RESPOND_STATUS.AWAITING">{{dictionary.CANDIDATE_NOT_ANSWER}}</div>
			<a class="description link" *ngIf="status === RESPOND_STATUS.APPROVED">{{dictionary.SEE_ANSWER}}</a>
			<div class="description" *ngIf="status === RESPOND_STATUS.REJECTED">{{dictionary.VACANCY_NOT_INTERESTED_FOR_CANDIDATE}}</div>
		</ng-container>
		<ng-container *ngIf="entity === 'respond'">
			<a class="description link" *ngIf="status === RESPOND_STATUS.WAIT_QUESTIONNAIRE">{{dictionary.CHANGE_SOLUTION}}</a>
			<a class="description link" *ngIf="status === RESPOND_STATUS.QUESTIONNAIRE_DONE">{{dictionary.SEE_ANSWER}}</a>
			<a class="description link"  (click)="changeStatus()" *ngIf="status === RESPOND_STATUS.APPROVED">{{dictionary.CHANGE_SOLUTION}}</a>
			<a class="description link"  (click)="changeStatus()" *ngIf="status === RESPOND_STATUS.REJECTED">{{dictionary.CHANGE_SOLUTION}}</a>
		</ng-container>
	</ng-container>


</div>


<div class="answer" [class.big]="isBig()" (click)="answer()"
		 *ngIf="isWorker() && (entity === 'offer') && (status === RESPOND_STATUS.AWAITING)">
	{{ dictionary.REPLY_EMPLOYER }}
</div>


<div class="answer" [class.big]="isBig()" (click)="answer()"
		 *ngIf="!isWorker() && (entity === 'respond') && (status === RESPOND_STATUS.AWAITING)">
	{{ dictionary.REPLY_WORKER }}
</div>