<section class="filtr-summaryes">
    <div class="container">
        <div class="row search-field">
            <input type="text" placeholder="Я ищу...">
            <button class="button-search">
                Искать
            </button>
        </div>

        <form (change)="filterResumesService.changeForm()" id="test" >

            <div class="row">


               <mat-form-field MatFormFieldControl="stateChanges:alert('писал криворукий')">
                   <mat-select form="test" name="education" placeholder="Образование"
                               [(ngModel)]="filterResumesService.parameters.education">
                       <mat-option value="Среднее">Среднее</mat-option>
                       <mat-option value="Высшее">Высшее</mat-option>
                       <mat-option value="Высшее">Образование</mat-option>
                   </mat-select>
               </mat-form-field>

                <!--<select form="test" name="education" placeholder="Образование"-->
                <!--[(ngModel)]="filterResumesService.parameters.education">-->
                <!--<option value="Среднее">Среднее</option>-->
                <!--<option value="Высшее">Высшее</option>-->
                <!--<option value="Высшее">Образование</option>-->
                <!--</select>-->

                <mat-form-field>
                    <mat-select name="place" placeholder="Место проживания"
                                [(ngModel)]="filterResumesService.parameters.placeResidence">
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select name="experience" placeholder="Общий стаж"
                                [(ngModel)]="filterResumesService.parameters.experienceAllTime">
                        <mat-option value="без опыта">без опыта</mat-option>
                        <mat-option value="до 1го года">до 1го года</mat-option>
                        <mat-option value="1-3 года">1-3 года</mat-option>
                        <mat-option value="3-5 лет">3-5 лет</mat-option>
                        <mat-option value="5-10 лет">5-10 лет</mat-option>
                        <mat-option value="10-19 лет">10-19 лет</mat-option>
                        <mat-option value="Более 20 лет">Более 20 лет</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select name="languages" placeholder="Язык резюме"
                                [(ngModel)]="filterResumesService.parameters.languagesResume">
                        <mat-option value="Русский">Русский</mat-option>
                        <mat-option value="Английский">Английский</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="row additional-filters">
                <div class="show-filter" *ngIf="showing" (click)="showFilters()">
                    <div class="line">
                        <span class="text">
                            <img class="button-icon" src="/assets/images/icon-gray-triangle.svg">
                            Скрыть
                        </span>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="showing">

                <mat-form-field>
                    <mat-select name="schedule" placeholder="Занятость"
                                [(ngModel)]="filterResumesService.parameters.schedule">
                        <mat-option value=0>Не имеет значения</mat-option>
                        <mat-option value="Полная занятость">Полная занятость</mat-option>
                        <mat-option value="Частичная занятость">Частичная занятость</mat-option>
                        <mat-option value="Временная работа">Временная работа</mat-option>
                        <mat-option value="Стажировка">Стажировка</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select name="languages" placeholder="Знание языков"
                                [(ngModel)]="filterResumesService.parameters.languages" multiple>
                        <mat-option value="Английский">Английский</mat-option>
                        <mat-option value="Русский">Русский</mat-option>
                        <mat-option value="Китайский">Китайский</mat-option>
                        <mat-option value="Арабский">Арабский</mat-option>
                        <mat-option value="Испанский">Испанский</mat-option>
                        <mat-option value="Португальский">Португальский</mat-option>
                        <mat-option value="Хинди(индийский)">Хинди(индийский)</mat-option>
                        <mat-option value="Французский">Французский</mat-option>
                        <mat-option value="Немецкий">Немецкий</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select name="salary" placeholder="Заработная плата"
                                [(ngModel)]="filterResumesService.parameters.salary">
                        <mat-option value="до 60 000 рублей">до 60 000 рублей</mat-option>
                        <mat-option value="до 120 000 рублей">до 120 000 рублей</mat-option>
                        <mat-option value="до 180 000 рублей">до 180 000 рублей</mat-option>
                        <mat-option value="до 300 000 рублей">до 300 000 рублей</mat-option>
                        <mat-option value="до 420 000 рублей">до 420 000 рублей</mat-option>
                        <mat-option value="До 600 000 рублей">До 600 000 рублей</mat-option>
                        <mat-option value="Свыше 600 000 рублей">Свыше 600 000 рублей</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select name="family" placeholder="Семейное положение"
                                [(ngModel)]="filterResumesService.parameters.family">
                        <mat-option value="0">Не имеет значение</mat-option>
                        <mat-option value="Холост/Не замужем">Холост/Не замужем</mat-option>
                        <mat-option value="В браке">В браке</mat-option>
                        <mat-option value="В разводе">В разводе</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="row" *ngIf="showing">

                <mat-form-field>
                    <mat-select name="gender" placeholder="Пол"
                                [(ngModel)]="filterResumesService.parameters.gender">
                        <mat-option value="0">Не имеет значения</mat-option>
                        <mat-option value="Мужчина">Мужской</mat-option>
                        <mat-option value="Женщина">Женский</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="change-age">
                    <div class="text from">от</div>
                    <input type="number" class="from" name="from"
                           (change)="filterResumesService.setAge();"
                           class="test"
                           [(ngModel)]="filterResumesService.age.from">
                    <div class="text before">до</div>
                    <input type="number" class="before" name="before"
                           (change)="filterResumesService.setAge();"
                           class="test"
                           [(ngModel)]="filterResumesService.age.before">
                    <div class="text age">лет</div>
                </div>

                <mat-form-field>
                    <mat-select name="photo"
                                [(ngModel)]="filterResumesService.parameters.photo">
                        <mat-option value="Фото">Фото</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </form>
        <div class="row reset">
            <div  class="button-text"
                   (click)="showFilters();"
                   *ngIf="!showing">
                <img class="button-icon" src="/assets/images/icon-gray-triangle.svg">
                Расширенный фильтр&nbsp;&nbsp;|&nbsp;&nbsp;
            </div>
            <div  class="button-text"
                   (click)="showFilters(true);">
                Сбросить фильтры
                <img class="button-icon" src="/assets/images/icon-gray-cross.svg">
            </div>
        </div>
    </div>
</section>