<section class="list-respond">
	<div class="container">

		<div class="row list">
			<card-respond
				class="item"
				[status]="'new'"
			>
			</card-respond>

			<card-respond
				class="item"
				[status]="'interview-pending'"
			>
			</card-respond>

			<card-respond
				class="item"
				[status]="'interview-ready'"
			>
			</card-respond>

			<card-respond
				class="item"
				[status]="'responded'"
			>
			</card-respond>

			<card-respond
				class="item"
				[status]="'refused'"
			>
			</card-respond>
		</div>

	</div>
</section>