<div class="create-summary">
    <div class="container">
        <div class="row title" *ngIf="isAuthorized">
            {{dictionary.CONSTRUCTOR_CV}}
        </div>
        <div class="row title alert" *ngIf="!isAuthorized">
            Вы должны авторизироваться чтобы создать резюме
        </div>
        <div class="row" *ngIf="isAuthorized">
            <div class="col form">
                <form id="create-summary" #myForm="ngForm" [ngClass]="{invalid: invalid}">

                    <div class="main-fields part">


                        <!--название-->
                        <div class="parameter job">
                            <div class="left">
                                <label for="job">{{dictionary.EXPECTED_POSITION}}<span class="required">*</span></label>
                            </div>
                            <div class="right">
                                <input type="text" name="job" id="job" [(ngModel)]="resumeForm.job" required>
                                <div class="validation-alert">{{dictionary.FIELD_SHOULD_BE_COMPLETED}}</div>
                            </div>
                        </div>

                        <!--название-->
                        <div class="parameter job">
                            <div class="left">
                                <label for="employmentPurpose">{{dictionary.EMPLOYMENT_PURPOSE}}</label>
                            </div>
                            <div class="right">
                                <input type="text" name="employmentPurpose" id="employmentPurpose" [(ngModel)]="resumeForm.employmentPurpose">
                            </div>
                        </div>


                        <!--зарплата-->
                        <div class="parameter salary">
                            <div class="left">
                                <label for="salary-from">{{dictionary.SALARY}}<span class="required">*</span></label>
                            </div>
                            <div class="right">
                                <div class="word from">
                                    {{dictionary.FROM}}
                                </div>

                                <input type="number" name="salary" id="salary-from" [(ngModel)]="resumeForm.salary.value"
                                       required [min]="0" >
                                <div class="validation-alert">{{dictionary.FIELD_SHOULD_BE_COMPLETED}}</div>
                                <!--<div class="word rub">-->
                                    <!--{{ resumeForm.salary.currency === 'rubles' ? dictionary.RUBLES_SHORT : '$'}}.-->
                                <!--</div>-->

                                <mat-form-field>
                                    <mat-select name="currency" [(ngModel)]="resumeForm.salary.currency" required>
                                        <mat-option value="dollars">
                                            {{dictionary.DOLLARS}}
                                        </mat-option>
                                        <mat-option value="rubles">
                                            {{dictionary.RUBLES}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <!--возраст-->
                        <div class="parameter age">
                            <div class="left">
                                <label>{{dictionary.BIRTHDAY}}<span class="required">*</span></label>
                            </div>
                            <div class="right">
                                <birthday-date-picker
                                        [dataInput]="this.resumeForm.birthday"
                                        (changed)="birthdayChanged($event);">
                                </birthday-date-picker>
                                <div class="validation-alert" [class.visible]="isBirthdayInvalid && isBirthdayTouched">{{dictionary.VALID_ENTRY_DATE}}</div>
                            </div>
                        </div>

                        <div class="parameter gender">
                            <div class="left">
                                <label for="gender">{{dictionary.SEX}}<span class="required">*</span></label>
                            </div>
                            <div class="right radio" id="gender">
                                <input type="radio" name="gender" id="man" value="man"
                                       [(ngModel)]="resumeForm.gender" checked/>
                                <label for="man">{{dictionary.MAN}}</label>
                                <input type="radio" name="gender" id="female" value="woman"
                                       [(ngModel)]="resumeForm.gender"/>
                                <label for="female">{{dictionary.WOMAN}}</label>
                            </div>
                        </div>

                        <div class="parameter schedule">
                            <div class="left">
                                <label>{{dictionary.NATIONALITIES}}<span class="required">*</span></label>
                            </div>
                            <div class="right">
                                <mat-form-field>
                                    <mat-select name="nationalities" [(ngModel)]="resumeForm.nationalities" multiple required>
                                        <mat-option *ngFor="let nationality of this.nationalitiesDefault"
                                                value="{{nationality.code}}">{{nationality.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="validation-alert">{{dictionary.FIELD_SHOULD_BE_COMPLETED}}</div>
                                <div class="line"></div>
                            </div>
                        </div>

                        <div class="parameter family-position">
                            <div class="left">
                                <label for="family-position">{{dictionary.FAMILY}}<span
                                        class="required">*</span></label>
                            </div>
                            <div class="right">
                                <mat-form-field>
                                    <mat-select name="family" id="family-position" class="short-input"
                                                [(ngModel)]="resumeForm.family" required>
                                        <mat-option value="single">{{dictionary.SINGLE}}</mat-option>
                                        <mat-option value="married">{{dictionary.MARRIED}}</mat-option>
                                        <!--<mat-option value="divorced">{{dictionary.DIVORCED}}</mat-option>-->
                                    </mat-select>
                                </mat-form-field>
                                <div class="validation-alert">{{dictionary.FIELD_SHOULD_BE_COMPLETED}}</div>
                            </div>
                        </div>


                        <div class="parameter business-trips">
                            <div class="left">
                                <label for="business-trips-yes">{{dictionary.BUSINESS_TRIPS}}<span
                                        class="required">*</span></label>
                            </div>
                            <div class="right radio">
                                <input type="radio" name="business-trips" id="business-trips-yes"
                                       [value]="true"
                                       [(ngModel)]="resumeForm.businessTrips"/>
                                <label for="business-trips-yes">{{dictionary.YES}}</label>
                                <input type="radio" name="business-trips" id="business-trips-no"
                                       [value]="false"
                                       [(ngModel)]="resumeForm.businessTrips" checked/>
                                <label for="business-trips-no">{{dictionary.NO}}</label>
                            </div>
                        </div>

                        <div class="parameter relocation">
                            <div class="left">
                                <label for="relocation-yes">{{dictionary.RELOCATION}}<span
                                        class="required">*</span></label>
                            </div>
                            <div class="right radio">
                                <input type="radio" name="relocation" id="relocation-yes" [value]="true"
                                       [(ngModel)]="resumeForm.relocation"/>
                                <label for="relocation-yes">{{dictionary.YES}}</label>
                                <input type="radio" name="relocation" id="relocation-no" [value]="false"
                                       [(ngModel)]="resumeForm.relocation" checked/>
                                <label for="relocation-no">{{dictionary.NO}}</label>
                            </div>
                        </div>


                        <div class="parameter schedule">
                            <div class="left">
                                <label>{{dictionary.SCHEDULE}}<span class="required">*</span></label>
                            </div>
                            <div class="right">
                                <mat-form-field>
                                    <mat-select name="schedule" [(ngModel)]="resumeForm.schedule" required>
                                        <mat-option value="irrelevant">{{dictionary.IRRELEVANT}}</mat-option>
                                        <mat-option value="full">{{dictionary.FULL_DAY}}</mat-option>
                                        <mat-option value="remote">{{dictionary.REMOTE}}</mat-option>
                                        <mat-option value="watch">{{dictionary.SHIFT}}</mat-option>
                                        <mat-option value="shiftWork">{{dictionary.SHIFT_WORK}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="validation-alert">{{dictionary.FIELD_SHOULD_BE_COMPLETED}}</div>
                                <div class="line"></div>
                            </div>
                        </div>

                        <div class="parameter employment">
                            <div class="left">
                                <label for="employment">{{dictionary.EMPLOYMENT}}<span class="required">*</span></label>
                            </div>
                            <div class="right">
                                <mat-form-field>
                                    <mat-select name="employment" id="employment"
                                                [(ngModel)]="resumeForm.employmentType"
                                                required>
                                        <mat-option value="irrelevant">{{dictionary.IRRELEVANT}}</mat-option>
                                        <mat-option value="full">{{dictionary.FULL_EMPLOYMENT}}</mat-option>
                                        <mat-option value="part">{{dictionary.PART}}</mat-option>
                                        <mat-option value="time">{{dictionary.TEMPORARY}}</mat-option>
                                        <mat-option value="internship">{{dictionary.INTERNSHIP}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="validation-alert">{{dictionary.FIELD_SHOULD_BE_COMPLETED}}</div>
                                <div class="line"></div>
                            </div>
                        </div>

                    </div>

                    <div class="experience-fields part">
                        <div class="mini-title">
                            {{dictionary.EXPERIENCE}}
                        </div>

                        <div class="workplace" *ngFor="let item of resumeForm.experience; let i = index">

                            <div class="side-title">
                                {{dictionary.PLACE_WORK}} {{i+1}}
                                <span class="remove-block-fields">
                                    <img src="/assets/images/icon-hidden.png" title="{{dictionary.COLLAPSE}}"
                                         (click)="manageVisible('experience', i)"
                                         [class.hidden]="!listVisibleElement.experience[i]">
                                    <img src="/assets/images/icon-garbage.svg" title="{{dictionary.DELETE}}"
                                         (click)="manageFields('experience', i)">
                                </span>
                            </div>

                            <div class="hidden-wrapper" [class.hidden]="!listVisibleElement.experience[i]">
                                <div class="parameter start">
                                    <div class="left">
                                        <label for="employment-start">{{dictionary.START_WORK}}<span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="right">
                                        <mat-form-field>
                                            <mat-select name="experience-startMonth-{{i}}" id="employment-start"
                                                        class="shortest-select"
                                                        (blur)="checkExperienceTimeValid(i, resumeForm.experience[i].endYear > 2018)"
                                                        [(ngModel)]="resumeForm.experience[i].startMonth"
                                                        required>
                                                <mat-option *ngFor="let month of dictionary.MONTHS; let number = index;"
                                                            [value]="number">{{month}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <input type="number" name="experience-startYear-{{i}}" id="start" required
                                               (blur)="checkExperienceTimeValid(i, resumeForm.experience[i].startYear > 2018)"
                                               class="shortest-input" [(ngModel)]="resumeForm.experience[i].startYear">
                                        <div class="word">{{dictionary.YEAR_WORK}}</div>
                                        <div class="validation-alert">{{dictionary.VALID_ENTRY_DATE_END_WORK}}</div>
                                        <div class="validation-alert"
                                             *ngIf="resumeForm.experience[i].startYear"
                                             [class.visible]="resumeForm.experience[i].startYear > 2018">
                                            {{dictionary.VALID_ENTRY_DATE}}
                                        </div>
                                    </div>
                                </div>

                                <div class="parameter end">
                                    <div class="left">
                                        <label for="employment-end">{{dictionary.END_WORK}}<span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="right">
                                        <div [ngClass]="{disabled: resumeForm.experience[i].present}"
                                             class="workplace-fix">
                                            <mat-form-field>
                                                <mat-select name="experience-endMonth-{{i}}"
                                                            id="employment-end"
                                                            class="shortest-select"
                                                            (blur)="checkExperienceTimeValid(i, resumeForm.experience[i].endYear > 2018)"
                                                            [disabled]="resumeForm.experience[i].present"
                                                            [(ngModel)]="resumeForm.experience[i].endMonth"
                                                            required>
                                                    <mat-option
                                                            *ngFor="let month of dictionary.MONTHS; let number = index;"
                                                            [value]="number">{{month}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <input type="number" name="experience-endYear-{{i}}" id="end"
                                               class="shortest-input"
                                               (blur)="checkExperienceTimeValid(i, resumeForm.experience[i].endYear > 2018)"
                                               [(ngModel)]="resumeForm.experience[i].endYear"
                                               [disabled]="resumeForm.experience[i].present"
                                               [required]="!resumeForm.experience[i].present">
                                        <div class="validation-alert">{{dictionary.VALID_ENTRY_DATE_END_WORK}}</div>
                                        <div class="validation-alert"
                                             *ngIf="resumeForm.experience[i].endYear"
                                             [class.visible]="resumeForm.experience[i].endYear > 2018">
                                            {{dictionary.VALID_ENTRY_DATE}}
                                        </div>
                                        <div class="word">{{dictionary.YEAR_WORK}}</div>
                                        <input type="checkbox" name="experience-name-{{i}}" value="true"
                                               (change)="checkExperienceTimeValid(i, false)"
                                               id="present-{{i}}" [(ngModel)]="resumeForm.experience[i].present">
                                        <label for="present-{{i}}"
                                               class="word present mobile-hidden">{{dictionary.TILL_NOW_WORK}}</label>
                                    </div>

                                    <div class="right mobile-visible">
                                        <input type="checkbox" name="experience-name-{{i}}" value="true"
                                               (change)="checkExperienceTimeValid(i, false)"
                                               id="present-{{i}}" [(ngModel)]="resumeForm.experience[i].present">
                                        <label for="present-{{i}}"
                                               class="word present ">{{dictionary.TILL_NOW_WORK}}</label>
                                    </div>



                                </div>

                                <div class="parameter type">
                                    <div class="left">
                                        <label for="employment-type">{{dictionary.TYPE_WORK}}<span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="right">
                                        <mat-form-field>
                                            <mat-select name="experience-type-{{i}}" id="employment-type"
                                                        class="shortest-select"
                                                        [(ngModel)]="resumeForm.experience[i].type"
                                                        required>
                                                <mat-option value="oil">{{dictionary.TYPE_WORK_OIL}}</mat-option>
                                                <mat-option value="mining">{{dictionary.TYPE_WORK_MINING}}</mat-option>
                                                <mat-option value="other">{{dictionary.TYPE_WORK_OTHER}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div class="validation-alert">{{dictionary.VALID_CHANGE_INDUSTRIAL}}</div>
                                    </div>
                                </div>

                                <div class="parameter company">
                                    <div class="left">
                                        <label for="company">{{dictionary.ORGANIZATION_WORK}}<span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="right">
                                        <input type="text" name="experience-company-{{i}}" id="company"
                                               [(ngModel)]="resumeForm.experience[i].organization" required>
                                        <div class="validation-alert">{{dictionary.FIELD_SHOULD_BE_COMPLETED}}</div>
                                    </div>
                                </div>

                                <div class="parameter was-job">
                                    <div class="left">
                                        <label for="was-job">{{dictionary.POSITION_WORK}}<span class="required">*</span></label>
                                    </div>
                                    <div class="right">
                                        <input type="text" name="experience-job-{{i}}" id="was-job"
                                               [(ngModel)]="resumeForm.experience[i].job" required>
                                        <div class="validation-alert">{{dictionary.FIELD_SHOULD_BE_COMPLETED}}</div>
                                    </div>
                                </div>

                                <div class="parameter duties">
                                    <div class="left">
                                        <label for="duties">{{dictionary.DUTIES_WORK}}<span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="right">
                                        <input type="text" name="duties-{{i}}" id="duties"
                                               style="display: none"
                                               [(ngModel)]="resumeForm.experience[i].duties" required>
                                    </div>
                                </div>

                                <div class="parameter duties" style="display: block">
                                    <quill-editor [(ngModel)]="resumeForm.experience[i].duties"
                                                  [ngModelOptions]="{standalone: true}"
                                                  [styles]="{height: '200px'}"></quill-editor>
                                    <div class="validation-alert">{{dictionary.FIELD_SHOULD_BE_COMPLETED}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="add">
                            +
                            <span class="add-button" (click)="manageFields('experience')">
                                {{dictionary.ADD_PLACE_WORK}}
                            </span>
                        </div>

                    </div>

                    <div class="education-fields part">

                        <div class="mini-title">
                            {{dictionary.EDUCATION}}
                        </div>

                        <!--<div class="parameter education">-->
                        <!--<input type="checkbox" name="education" id="russian" value="true"-->
                        <!--[(ngModel)]="resumeForm.educationCountries.russian" required>-->
                        <!--<label for="russian">Российское</label>-->
                        <!--<input type="checkbox" name="education" id="overseas" value="true"-->
                        <!--[(ngModel)]="resumeForm.educationCountries.foreign" required>-->
                        <!--<label for="overseas">Зарубежное</label>-->
                        <!--</div>-->

                        <div class="education-place" *ngFor="let item of resumeForm.education; let i = index">

                            <div class="side-title">
                                {{dictionary.EDUCATION_PLACE}} {{i+1}}
                                <span class="remove-block-fields">
                                    <img src="/assets/images/icon-hidden.png" title="{{dictionary.COLLAPSE}}"
                                         (click)="manageVisible('education', i)"
                                         [class.hidden]="!listVisibleElement.education[i]">
                                    <img src="/assets/images/icon-garbage.svg" title="{{dictionary.DELETE}}"
                                         (click)="manageFields('education', i)">
                                </span>
                            </div>

                            <div class="hidden-wrapper" [class.hidden]="!listVisibleElement.education[i]">
                                <!--*ngIf="listVisibleElement.education[i]"-->
                                <div class="parameter stage">
                                    <div class="left">
                                        <label for="stage">{{dictionary.EDUCATION_STAGE}}<span class="required">*</span></label>
                                    </div>
                                    <div class="right">
                                        <mat-form-field>
                                            <mat-select name="education-stage-{{i}}" id="stage" class="short-select"
                                                        [(ngModel)]="resumeForm.education[i].stage" required>
                                                <mat-option value="high">{{dictionary.EDUCATION_STAGE_HIGH}}
                                                </mat-option>
                                                <mat-option value="middle">{{dictionary.EDUCATION_STAGE_MIDDLE}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div class="validation-alert">{{dictionary.VALID_CHANGE_EDUCATION}}</div>
                                    </div>
                                </div>

                                <div class="parameter start-education">
                                    <div class="left">
                                        <label for="start-education">{{dictionary.EDUCATION_START}}<span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="right">
                                        <input type="number" name="education-start-{{i}}" id="start-education"
                                               (blur)="checkTimeValid(resumeForm.education[i].start > 2018)"
                                               class="short-input" [(ngModel)]="resumeForm.education[i].start" required>
                                        <div class="word">{{dictionary.EDUCATION_YEAR}}</div>
                                        <div class="validation-alert" [class.visible]="resumeForm.education[i].start > 2018">{{dictionary.VALID_ENTRY_DATE}}</div>
                                    </div>
                                </div>

                                <div class="parameter end-education">
                                    <div class="left">
                                        <label for="end-education">{{dictionary.EDUCATION_END}}<span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="right">
                                        <input type="number" name="education-end-{{i}}" id="end-education"
                                               (blur)="checkTimeValid(resumeForm.education[i].end > 2029)"
                                               class="short-input" [(ngModel)]="resumeForm.education[i].end" required>
                                        <div class="validation-alert">{{dictionary.VALID_ENTRY_DATE}}</div>
                                        <div class="validation-alert" [class.visible]="resumeForm.education[i].end > 2029">{{dictionary.VALID_ENTRY_DATE}}</div>
                                        <div class="word">{{dictionary.EDUCATION_YEAR}}</div>
                                    </div>
                                </div>

                                <!--div class="parameter country-education">
                                    <div class="left">
                                        <label for="country-education">Страна</label>
                                    </div>
                                    <div class="right">
                                        <mat-form-field>
                                            <mat-select name="education-country-{{i}}" id="country-education"
                                                        class="short-select" [(ngModel)]="resumeForm.education[i].country"
                                                        required>
                                                <mat-option value="Россия">Россия</mat-option>
                                                <mat-option value="Англия">Англия</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div-->

                                <div class="parameter city-eductation">
                                    <div class="left">
                                        <label>{{dictionary.EDUCATION_CITY}}<span class="required">*</span></label>
                                    </div>
                                    <div class="right">
                                        <button mat-raised-button color="primary" (click)="changeCity(i, 'education')">
                                            {{educationCityName[i] ? educationCityName[i] :
                                            dictionary.EDUCATION_CHANGE_CITY}}
                                        </button>
                                    </div>
                                </div>

                                <div class="parameter university">
                                    <div class="left">
                                        <label for="university">{{dictionary.EDUCATION_SCHOOL}}<span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="right">
                                        <input type="text" name="education-university-{{i}}" id="university"
                                               [(ngModel)]="resumeForm.education[i].university" required>
                                        <div class="validation-alert">{{dictionary.FIELD_SHOULD_BE_COMPLETED}}</div>
                                    </div>
                                </div>

                                <div class="parameter faculty">
                                    <div class="left" [ngClass]="{disabled: resumeForm.education[i].stage == 'middle'}">
                                        <label for="faculty">{{dictionary.EDUCATION_FACULTY}}<span class="required"
                                                                                                   *ngIf="resumeForm.education[i].stage !== 'middle'">*</span></label>
                                    </div>
                                    <div class="right">
                                        <input type=`text` name="education-faculty-{{i}}" id="faculty"
                                               [(ngModel)]="resumeForm.education[i].faculty" required
                                               [disabled]="resumeForm.education[i].stage === 'middle'">
                                        <div *ngIf="!(resumeForm.education[i].stage === 'middle')"
                                             class="validation-alert">{{dictionary.FIELD_SHOULD_BE_COMPLETED}}
                                        </div>
                                    </div>
                                </div>

                                <div class="parameter specialty">
                                    <div class="left" [ngClass]="{disabled: resumeForm.education[i].stage == 'middle'}">
                                        <label for="specialty">{{dictionary.EDUCATION_SPECIALTY}}<span class="required"
                                                                                                       *ngIf="resumeForm.education[i].stage !== 'middle'">*</span></label>
                                    </div>
                                    <div class="right">
                                        <input type="text" id="specialty" name="education-specialty-{{i}}"
                                               [(ngModel)]="resumeForm.education[i].specialty" required
                                               [disabled]="resumeForm.education[i].stage === 'middle'">
                                        <div *ngIf="!(resumeForm.education[i].stage === 'middle')"
                                             class="validation-alert">{{dictionary.FIELD_SHOULD_BE_COMPLETED}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="add">
                            +
                            <span class="add-button" (click)="manageFields('education')">
                                {{dictionary.ADD_EDUCATION_PLACE}}
                            </span>
                        </div>
                    </div>

                    <div class="languages-fields part">
                        <div class="mini-title">
                            {{dictionary.LANGUAGES}}
                        </div>
                        <div class="parameter language" *ngFor="let item of resumeForm.languages; let i = index">
                            <div class="left">
                                <label for="language">{{dictionary.LANGUAGE}}</label>
                            </div>
                            <div class="right">
                                <mat-form-field>
                                    <mat-select name="language-{{i}}" class="language"
                                                [placeholder]="dictionary.LANGUAGE" (blur)="setLangChecked()"
                                                [(ngModel)]="resumeForm.languages[i].name" id="language" required>
                                        <mat-option value="en" *ngIf="resumeForm.languages[i].name === 'en' || !languages.en">{{dictionary.LANGUAGE_EN}}</mat-option>
                                        <mat-option value="ru" *ngIf="resumeForm.languages[i].name === 'ru' || !languages.ru">{{dictionary.LANGUAGE_RU}}</mat-option>
                                        <mat-option value="chi" *ngIf="resumeForm.languages[i].name === 'chi' || !languages.chi">{{dictionary.LANGUAGE_CHI}}</mat-option>
                                        <mat-option value="arab" *ngIf="resumeForm.languages[i].name === 'arab' || !languages.arab">{{dictionary.LANGUAGE_ARAB}}</mat-option>
                                        <mat-option value="span" *ngIf="resumeForm.languages[i].name === 'span' || !languages.span">{{dictionary.LANGUAGE_SPAN}}</mat-option>
                                        <mat-option value="port" *ngIf="resumeForm.languages[i].name === 'port' || !languages.port">{{dictionary.LANGUAGE_PORT}}</mat-option>
                                        <mat-option value="ind" *ngIf="resumeForm.languages[i].name === 'ind' || !languages.ind">{{dictionary.LANGUAGE_IND}}</mat-option>
                                        <mat-option value="fran" *ngIf="resumeForm.languages[i].name === 'fran' || !languages.fran">{{dictionary.LANGUAGE_FRAN}}</mat-option>
                                        <mat-option value="dutch" *ngIf="resumeForm.languages[i].name === 'dutch' || !languages.dutch">{{dictionary.LANGUAGE_DEUTH}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="line"></div>
                                <mat-form-field class="short-input">
                                    <mat-select name="language-level-{{i}}" class="language"
                                                [placeholder]="dictionary.LANGUAGE_PLACEHOLDER"
                                                [(ngModel)]="resumeForm.languages[i].level" id="level" required>
                                        <mat-option value="start">{{dictionary.LANGUAGE_LVL_START}}</mat-option>
                                        <mat-option value="middle">{{dictionary.LANGUAGE_LVL_MIDDLE}}</mat-option>
                                        <mat-option value="hight">{{dictionary.LANGUAGE_LVL_HIGH}}</mat-option>
                                        <mat-option value="native">{{dictionary.LANGUAGE_LVL_BEST}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="validation-alert">{{dictionary.VALID_CHANGE_LANGUAGE}}</div>
                                <span class="remove-language" (click)="manageFields('languages', i)" *ngIf="i !== 0">
                                    <img src="/assets/images/icon-garbage.svg">
                                </span>
                            </div>
                        </div>
                        <div class="add" *ngIf="resumeForm.languages.length < 9 ">
                            +
                            <span class="add-button"  (click)="manageFields('languages')">
                                {{dictionary.LANGUAGE_ADD}}
                            </span>
                        </div>
                    </div>

                    <div class="trainings-fields part">
                        <div class="mini-title">
                            {{dictionary.TRAININGS}}
                        </div>

                        <div class="training" *ngFor="let item of resumeForm.trainings; let i = index">

                            <div class="side-title">
                                {{dictionary.TRAINING}} {{i+1}}
                                <span class="remove-block-fields">
                                    <img src="/assets/images/icon-hidden.png" title="{{dictionary.COLLAPSE}}"
                                         (click)="manageVisible('trainings', i)"
                                         [class.hidden]="!listVisibleElement.trainings[i]">
                                    <img src="/assets/images/icon-garbage.svg" title="{{dictionary.DELETE}}"
                                         (click)="manageFields('trainings', i)">
                                </span>
                            </div>

                            <div class="hidden-wrapper" [class.hidden]="!listVisibleElement.trainings[i]">
                                <div class="parameter year-training">
                                    <div class="left">
                                        <label for="year-training">{{dictionary.TRAINING_YEAR}}<span class="required">*</span></label>
                                    </div>
                                    <div class="right">
                                        <input type="text" name="training-year-{{i}}" id="year-training" required
                                               class="short-input" [(ngModel)]="resumeForm.trainings[i].year">
                                        <div class="validation-alert">{{dictionary.VALID_ENTRY_DATE}}</div>
                                    </div>
                                </div>

                                <div class="parameter durability-training">
                                    <div class="left">
                                        <label for="durability-training">{{dictionary.TRAINING_DURABILITY}}<span class="required">*</span></label>
                                    </div>
                                    <div class="right">
                                        <input type="text" name="training-durability-{{i}}" id="durability-training"
                                               class="short-input"
                                               required
                                               [(ngModel)]="resumeForm.trainings[i].durability">
                                        <div class="validation-alert">{{dictionary.FIELD_SHOULD_BE_COMPLETED}}</div>
                                    </div>
                                </div>

                                <!--<div class="parameter country-training">-->
                                <!--<div class="left">-->
                                <!--<label for="country-training">{{dictionary.TRAINING_COUNTRY}}</label>-->
                                <!--</div>-->
                                <!--<div class="right">-->
                                <!--<mat-form-field>-->
                                <!--<mat-select name="training-country-{{i}}" id="country-training"-->
                                <!--class="country-training"-->
                                <!--[(ngModel)]="resumeForm.trainings[i].country">-->
                                <!--<mat-option value="Англия">Англия</mat-option>-->
                                <!--<mat-option value="Россия">Россия</mat-option>-->
                                <!--<mat-option value="Швеция">Швеция</mat-option>-->
                                <!--<mat-option value="США">США</mat-option>-->
                                <!--</mat-select>-->
                                <!--</mat-form-field>-->
                                <!--<div class="line"></div>-->
                                <!--</div>-->
                                <!--</div>-->

                                <div class="parameter city-training">
                                    <div class="left">
                                        <label for="city-training">{{dictionary.TRAINING_CITY}}<span class="required">*</span></label>
                                    </div>
                                    <div class="right">
                                        <button mat-raised-button color="primary" (click)="changeCity(i, 'trainings')">
                                            {{trainingsCityName[i] ? trainingsCityName[i] :
                                            dictionary.TRAINING_CITY}}
                                        </button>
                                        <div class="validation-alert">{{dictionary.FIELD_SHOULD_BE_COMPLETED}}</div>
                                        <div class="line"></div>
                                    </div>
                                </div>


                                <div class="parameter name-training">
                                    <div class="left">
                                        <label for="name-training">{{dictionary.TRAINING_NAME}}<span class="required">*</span></label>
                                    </div>
                                    <div class="right">
                                        <input type="text" name="training-name-{{i}}" id="name-training"
                                               [(ngModel)]="resumeForm.trainings[i].name">
                                        <div class="validation-alert">{{dictionary.FIELD_SHOULD_BE_COMPLETED}}</div>
                                    </div>
                                </div>

                                <div class="parameter document-training">
                                    <div class="left">
                                        <label>{{dictionary.TRAINING_CERTIFICATE}}</label>
                                    </div>
                                    <div class="right">
                                        <input (change)="onImageChange($event, 'certificate', i)" class="load-photo-certificate" id="load-photo-certificate-{{i}}" name="load-photo-certificate-{{i}}" type="file" size="0"
                                               accept="image/*,image/jpeg,image/png,image/gif">
                                        <label class="button-for-load" for="load-photo-certificate-{{i}}">
                                            {{
                                                resumeForm.trainings[i].photoURL ?
                                                'Изменить сертификат' :
                                                nameImagesOfCertificate[i]
                                            }}
                                        </label>
                                        <div class="description-for-load-certificate">
                                            {{ dictionary.BANNER_ADD_COVER_FORMAT }}
                                        </div>
                                        <div class="button-for-delete"
                                             *ngIf="resumeForm.trainings[i].photoURL"
                                             (click)="deletePhotoCertificate(i)"
                                        >
                                            Удалить сертификат
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="add">
                            +
                            <span class="add-button" (click)="manageFields('trainings')">
                                {{dictionary.TRAINING_ADD}}
                            </span>
                        </div>
                    </div>

                    <div class="long-fields">
                        <div class="parameter">
                            <label>{{dictionary.ADDITIONAL_INFO}}</label>
                            <div class="description">
                                {{dictionary.ADDITIONAL_INFO_DESCRIPTION}}
                            </div>

                            <quill-editor [(ngModel)]="resumeForm.additionalInformation"
                                          [ngModelOptions]="{standalone: true}"
                                          [styles]="{height: '200px'}"></quill-editor>

                        </div>
                        <div class="parameter">
                            <label>{{dictionary.PERSONAL_QUALITIES}}</label>
                            <div class="description">
                                {{dictionary.PERSONAL_QUALITIES_DESCRIPTION}}
                            </div>

                            <quill-editor [(ngModel)]="resumeForm.personalQualities"
                                          [ngModelOptions]="{standalone: true}"
                                          [styles]="{height: '200px'}"></quill-editor>
                        </div>
                        <div class="parameter">
                            <label>{{dictionary.HOBBIES}}</label>
                            <div class="description">
                                {{dictionary.HOBBIES_DESCRIPTION}}
                            </div>

                            <quill-editor [(ngModel)]="resumeForm.hobbies"
                                          [ngModelOptions]="{standalone: true}"
                                          [styles]="{height: '200px'}"></quill-editor>
                        </div>
                    </div>

                    <div class="contact-info part">
                        <div class="mini-title">
                            {{dictionary.CONTACTS_RESUME}}
                        </div>

                        <div class="parameter email">
                            <div class="left">
                                <label for="age">E-mail<span class="required">*</span></label>
                            </div>
                            <div class="right">
                                <input type="email" name="email" id="email" class="" [(ngModel)]="resumeForm.email"
                                       required pattern="^[-._a-z0-9]+@(?:[a-z0-9][-a-z0-9]+\.)+[a-z]{2,6}$">
                                <div class="validation-alert">{{dictionary.VALID_EMAIL}}</div>
                            </div>
                        </div>

                        <div class="parameter phone-number">
                            <div class="left">
                                <label for="age">{{dictionary.PHONE}}<span class="required">*</span></label>
                            </div>
                            <div class="right">
                                <input type="tel"
                                       name="phone-number"
                                       id="phone-number"
                                       [(ngModel)]="resumeForm.phoneNumber" required>
                                <div class="validation-alert">{{dictionary.VALID_PHONE_NUMBER}}</div>
                            </div>
                        </div>

                    </div>

                    <div class="additionally">
                        <ng-container *ngIf="!isSaving">
                            <button type="submit" (click)="send()" class="save-button valid" *ngIf="myForm.valid && !invalidTime && !isBirthdayInvalid && isValidExperienceTime && isValidCityTrainings">
                                {{ dictionary.SAVE }}
                            </button>
                            <button type="submit" class="save-button invalid"
                                    *ngIf="!myForm.invalid && invalidTime">
                                {{ dictionary.BUTTON_SAVE_ALERT }}
                            </button>
                            <button type="submit" class="save-button invalid"
                                    *ngIf="!myForm.invalid && (!isValidExperienceTime || !isValidCityTrainings)">
                                {{ dictionary.BUTTON_SAVE_ALERT }}
                            </button>
                            <button type="submit" class="save-button invalid"
                                    *ngIf="!myForm.invalid && isBirthdayInvalid">
                                {{ dictionary.BUTTON_SAVE_ALERT }}
                            </button>
                            <button type="submit" (click)="showInvalidField()" class="save-button invalid"
                                    *ngIf="myForm.invalid ">
                                {{ dictionary.BUTTON_SAVE_ALERT }}
                            </button>
                        </ng-container>

                        <button class="save-button valid" *ngIf="isSaving">
                            <mat-progress-spinner
                                class="example-margin"
                                [diameter]="20"
                                [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </button>

                        <div class="message">
                            {{ dictionary.BUTTON_SAVE_DESCRIPTION }}
                        </div>
                    </div>

                </form>
            </div>

            <div class="col-auto add-photo">
                <div *ngIf="!resumeImage.data && !resumeForm.photoURL" class="image default">
                    <img src="/assets/images/icon-camera.svg"/>
                </div>
                <div *ngIf="resumeForm.photoURL && !resumeImage.data" class="image user">
                    <img [src]="imgUrl+resumeForm.photoURL">
                </div>
                <div *ngIf="resumeImage.data">
                    <image-cropper
                      [imageChangedEvent]="imageChangedEvent"
                      [maintainAspectRatio]="false"
                      [cropperMinWidth]="350"
                      [cropperMinHeight]="350"
                      [roundCropper]="false"
                      [imageQuality]="100"
                      format="png"
                      outputType="file"
                      (imageCropped)="imageCropped($event)"
                      style="max-width: 400px; margin-top: 30px"
                    ></image-cropper>
                </div>
                <input form="create-summary" (change)="onImageChange($event, 'avatar')" id="load-photo" type="file" size="0"
                       accept="image/*,image/jpeg,image/png,image/gif">
                <label for="load-photo">{{loadingPhotoButton}}</label>

                <div class="message" [innerHTML]="dictionary.LOAD_PHOTO_DESCRIPTION">
                </div>
            </div>
        </div>
    </div>
</div>
