<div class="manage">
	<div class="container">

		<div class="row">
			<div class="title">
				{{ typeCurrentUser === 'worker' ?
				dictionary.PERSONAL_ACCOUNT_WORKER :
				dictionary.PERSONAL_ACCOUNT_EMPLOYER }}
			</div>

			<div class="paid-options" *ngIf="this.typeCurrentUser === 'employer'">
				<div class="small-title">
					Доступно:
				</div>
				<div class="parameter">
					Вакансий: <b>{{currentUser.paidOptions.countPossibleCreateVacancy}}</b>
					<span (click)="buy('vacancy')" class="pay">+</span>
				</div>
				<div class="parameter">
					Рекламных баннеров: <b>{{currentUser.paidOptions.countPossibleCreateBanner}}</b>
					<span (click)="buy('banner')" class="pay">+</span>
				</div>
				<div class="parameter">
					Просмотров резюме: <b>{{currentUser.paidOptions.countPossibleViewResumeContacts}}</b>
					<span (click)="buy('resume')" class="pay">+</span>
				</div>
			</div>

			<ul class="list">

				<li class="item">
					<input type="radio"
								 id="responses"
								 name="manager"
								 [(ngModel)]="activeTab"
								 [value]="dictionary.ACCOUNT_PAGE_TAB_RESPOND">
					<label for="responses">{{ dictionary.ACCOUNT_PAGE_TAB_RESPOND }}</label>
				</li>

				<li class="item">
					<input type="radio"
								 id="suggestions"
								 name="manager"
								 [(ngModel)]="activeTab"
								 [value]="dictionary.ACCOUNT_PAGE_TAB_OFFERS">
					<label for="suggestions">{{ dictionary.ACCOUNT_PAGE_TAB_OFFERS }}</label>
				</li>

				<li class="item">
					<input type="radio"
								 id="archive"
								 name="manager"
								 [(ngModel)]="activeTab"
								 [value]="dictionary.ACCOUNT_PAGE_TAB_ARCHIVE">
					<label for="archive">{{ dictionary.ACCOUNT_PAGE_TAB_ARCHIVE }}</label>
				</li>

				<li class="item" *ngIf="typeCurrentUser === 'employer' || typeCurrentUser === 'admin'">
					<input type="radio"
								 id="interview"
								 name="manager"
								 [(ngModel)]="activeTab"
								 [value]="dictionary.ACCOUNT_PAGE_TAB_QUESTIONNAIRES">
					<label for="interview">{{dictionary.ACCOUNT_PAGE_TAB_QUESTIONNAIRES}}</label>
				</li>

				<li class="item" *ngIf="typeCurrentUser === 'employer'">
					<input type="radio"
								 id="news"
								 name="manager"
								 [(ngModel)]="activeTab"
								 [value]="dictionary.ACCOUNT_PAGE_TAB_NEWS">
					<label for="news">{{dictionary.ACCOUNT_PAGE_TAB_NEWS}}</label>
				</li>

				<li class="item" *ngIf="typeCurrentUser === 'employer'">
					<input type="radio"
								 id="banner"
								 name="manager"
								 [(ngModel)]="activeTab"
								 [value]="dictionary.ACCOUNT_PAGE_TAB_BANNERS">
					<label for="banner">{{dictionary.ACCOUNT_PAGE_TAB_BANNERS}}</label>
				</li>

				<li class="item" *ngIf="typeCurrentUser === 'worker' || typeCurrentUser === 'admin'">
					<input type="radio"
								 id="summary"
								 name="manager"
								 [(ngModel)]="activeTab"
								 [value]="dictionary.ACCOUNT_PAGE_TAB_CV">
					<label for="summary">{{ dictionary.ACCOUNT_PAGE_TAB_CV }}</label>
				</li>

				<li class="item" *ngIf="typeCurrentUser === 'employer' || typeCurrentUser === 'admin'">
					<input type="radio"
								 id="vacancy"
								 name="manager"
								 [(ngModel)]="activeTab"
								 [value]="dictionary.ACCOUNT_PAGE_TAB_CAREERS">
					<label for="vacancy">{{dictionary.ACCOUNT_PAGE_TAB_CAREERS}}</label>
				</li>

			</ul>

		</div>

	</div>
</div>

<div class="container">
	<div class="row" *ngIf=" dictionary.MY !== 'My'">
		<div class="side-title" *ngIf="activeTab !== 'Архив'">Мои {{ activeTab }}</div>
		<div class="side-title" *ngIf="activeTab === 'Архив'">Мой {{ activeTab }}</div>
	</div>
	<div class="row" *ngIf=" dictionary.MY === 'My'">
		<div class="side-title">My {{ activeTab }}</div>
	</div>
</div>

<div class="container description">
	<div class="row">
		<div class="message" [ngClass]="{ 'active': activeTab === dictionary.ACCOUNT_PAGE_TAB_RESPOND }">
			{{ typeCurrentUser === 'worker' ? dictionary.ACCOUNT_PAGE_TAB_RESPOND_DESC_WORKER : null }}
			{{ typeCurrentUser === 'employer' ? dictionary.ACCOUNT_PAGE_TAB_RESPOND_DESC_EMPLOYER : null }}
		</div>
		<div class="message" [ngClass]="{ 'active': activeTab === dictionary.ACCOUNT_PAGE_TAB_OFFERS }">
			{{ typeCurrentUser === 'worker' ? dictionary.ACCOUNT_PAGE_TAB_OFFERS_DESC_WORKER : null }}
			{{ typeCurrentUser === 'employer' ? dictionary.ACCOUNT_PAGE_TAB_OFFERS_DESC_EMPLOYER : null }}
		</div>
		<div class="message" [ngClass]="{ 'active': activeTab === dictionary.ACCOUNT_PAGE_TAB_ARCHIVE }">
			{{ dictionary.ACCOUNT_PAGE_TAB_ARCHIVE_DESC }}
		</div>
		<div class="message" [ngClass]="{ 'active': activeTab ===  dictionary.ACCOUNT_PAGE_TAB_QUESTIONNAIRES }">
			{{ dictionary.ACCOUNT_PAGE_TAB_QUESTIONNAIRES_DESC }}
		</div>
		<div class="message" [ngClass]="{ 'active': activeTab ===  dictionary.ACCOUNT_PAGE_TAB_NEWS }">
			{{ dictionary.ACCOUNT_PAGE_TAB_NEWS_DESC }}
		</div>
		<div class="message" [ngClass]="{ 'active': activeTab ===  dictionary.ACCOUNT_PAGE_TAB_BANNERS }">
			{{ dictionary.ACCOUNT_PAGE_TAB_BANNERS_DESC }}
		</div>
		<div class="message" [ngClass]="{ 'active': activeTab ===  dictionary.ACCOUNT_PAGE_TAB_CV }">
			{{ dictionary.ACCOUNT_PAGE_TAB_CV_DESC }}
		</div>
		<div class="message" [ngClass]="{ 'active': activeTab === dictionary.ACCOUNT_PAGE_TAB_CAREERS }">
			{{ dictionary.ACCOUNT_PAGE_TAB_CAREERS_DESC }}
		</div>
	</div>
</div>

<filter-respond
	class="block resume"
	[ngClass]="{ 'active': (activeTab === dictionary.ACCOUNT_PAGE_TAB_OFFERS) || (activeTab === dictionary.ACCOUNT_PAGE_TAB_RESPOND) }"
	*ngIf="(activeTab === dictionary.ACCOUNT_PAGE_TAB_OFFERS) || (activeTab === dictionary.ACCOUNT_PAGE_TAB_RESPOND)"
></filter-respond>


<!--список новостей-->
<list-news
	[user]="currentUser._id"
	[ngClass]="{ 'active': activeTab === dictionary.ACCOUNT_PAGE_TAB_NEWS }"
	*ngIf="activeTab === dictionary.ACCOUNT_PAGE_TAB_NEWS"
></list-news>

<!--список баннеров-->
<list-banner
	[user]="currentUser"
	[ngClass]="{ 'active': activeTab === dictionary.ACCOUNT_PAGE_TAB_BANNERS }"
	*ngIf="activeTab === dictionary.ACCOUNT_PAGE_TAB_BANNERS"
></list-banner>

<!--опросники-->
<list-questionnaire
	class="block resume"
	[typeUser]="typeCurrentUser"
	[ngClass]="{ 'active': activeTab === dictionary.ACCOUNT_PAGE_TAB_QUESTIONNAIRES }"
	[listQuestionnaire]="listQuestionnaire"
	*ngIf="activeTab === dictionary.ACCOUNT_PAGE_TAB_QUESTIONNAIRES"
></list-questionnaire>

<!--отклики-->
<list-respond
	class="block resume"
	[typeUser]="typeCurrentUser"
	[ngClass]="{ 'active': activeTab === dictionary.ACCOUNT_PAGE_TAB_OFFERS }"
	[listRespond]="listOfOffers"
	*ngIf="activeTab === dictionary.ACCOUNT_PAGE_TAB_OFFERS"
></list-respond>

<!--предложения-->
<list-respond
	class="block resume"
	[typeUser]="typeCurrentUser"
	[ngClass]="{ 'active': activeTab === dictionary.ACCOUNT_PAGE_TAB_RESPOND }"
	[listRespond]="listOfResponds"
	*ngIf="activeTab === dictionary.ACCOUNT_PAGE_TAB_RESPOND"
></list-respond>

<!--архив-->
<list-respond
	class="block resume"
	[typeUser]="typeCurrentUser"
	[ngClass]="{ 'active': activeTab === dictionary.ACCOUNT_PAGE_TAB_ARCHIVE }"
	[listRespond]="listOfArchive"
	*ngIf="activeTab === dictionary.ACCOUNT_PAGE_TAB_ARCHIVE"
></list-respond>

<!--резюме-->
<list-resume
	class="block resume"
	[ngClass]="{ 'active': activeTab === dictionary.ACCOUNT_PAGE_TAB_CV }"
	*ngIf="activeTab === dictionary.ACCOUNT_PAGE_TAB_CV"
	[config]="'user'"
></list-resume>

<!--вакансии-->
<list-vacancy
	class="block vacancy"
	*ngIf="activeTab === dictionary.ACCOUNT_PAGE_TAB_CAREERS"
	[ngClass]="{ 'active': activeTab === dictionary.ACCOUNT_PAGE_TAB_CAREERS }"
	[config]="'user'"
></list-vacancy>


<last-news></last-news>
