<div class="manage">
    <div class="container">

        <div class="row">
            <div class="title">
                Личный кабинет
            </div>

            <ul class="list">

                <li class="item">
                    <input type="radio"
                           id="responses"
                           name="manager"
                           [(ngModel)]="activeTab"
                           value="Отклики">
                    <label for="responses">Отклики</label>
                </li>

                <li class="item">
                    <input type="radio"
                           id="suggestions"
                           name="manager"
                           [(ngModel)]="activeTab"
                           value="Предложения">
                    <label for="suggestions">Предложения</label>
                </li>

                <li class="item">
                    <input type="radio"
                           id="archive"
                           name="manager"
                           [(ngModel)]="activeTab"
                           value="Архив">
                    <label for="archive">Архив</label>
                </li>

                <li class="item">
                    <input type="radio"
                           id="summary"
                           name="manager"
                           [(ngModel)]="activeTab"
                           value="Резюме">
                    <label for="summary">Резюме</label>
                </li>

            </ul>

        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="side-title" *ngIf="activeTab !== 'Архив'" >Мои {{ activeTab }}</div>
        <div class="side-title" *ngIf="activeTab === 'Архив'" >Мой {{ activeTab }}</div>
    </div>
</div>

<div class="container description">
    <div class="row">
        <div class="message" [ngClass]="{ 'active': activeTab === 'Отклики' }">
            В этом разделе показаны результаты всех ваших откликов на вакансии. Вы можете отменить отправленный отклик или переместить в архив отклики, на которые уже дан ответ работодателя.
        </div>
        <div class="message" [ngClass]="{ 'active': activeTab === 'Предложения' }">
            В этом разделе показаны предложения, поступившие вам со стороны компаний. Вы можете ответить на них или переместить в архив.
        </div>
        <div class="message" [ngClass]="{ 'active': activeTab === 'Архив' }">
            В этом разделе содержатся ваши старые отклики/предложения
        </div>
        <div class="message" [ngClass]="{ 'active': activeTab === 'Резюме' }">
            В этом разделе показаны все ваши резюме. Вы можежет просмотреть и отредактировать нужное, кликнув по нему
        </div>
    </div>
</div>

<list-resume class="block resume"
             [ngClass]="{ 'active': activeTab === 'Резюме' }"
             [config]="'resume'"></list-resume>


