<div class="chat-window">
	<div class="chat-preview-block" [class.mobile-hidden]="(isChatOpen | async)">

		<ng-container *ngIf="type === 'create'">
			<div class="chat-preview-item" [class.active]="type === 'create'">
				<div class="name-recipient">
					{{ dictionary.NEW_MESSAGE }}
				</div>

				<div class="last-message">
					&nbsp;
				</div>
			</div>
		</ng-container>

		<div class="chat-preview-item" *ngFor="let chat of chats" (click)="openChat(chat);" [class.active]="currentChat && chat._id === currentChat._id">
			<div class="name-recipient">
				{{ chat.recipient.typeAccount === 'admin' || chat.recipient.typeAccount === 'moderator' ?  dictionary.ADMIN : (name(chat.recipient) || (chat.creatorId === currentUser._id ? chat.recipientId : chat.creatorId))}}
				<img src="/assets/images/dott-orange.svg" *ngIf="chat.creatorId === currentUser._id ? !chat.viewedCreator : !chat.viewedRecipient "/>
			</div>

			<div class="last-message">
				{{ chat.messages[chat.messages.length-1].message}}
			</div>
		</div>

	</div>

	<div class="current-chat" [class.mobile-hidden]="!(isChatOpen | async)">
		<ng-container *ngIf="currentChat">
			<div class="name-recipient">
				<img
						class="icon-back"
						src="/assets/images/arrow.svg"
						(click)="this.isChatOpen.next(false);"
				>

				{{ currentChat.recipient.typeAccount === 'admin' || currentChat.recipient.typeAccount === 'moderator' ?  dictionary.ADMIN : name(currentChat.recipient) || currentChat.recipientId    }}
			</div>

			<div class="messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
				<div class="message" *ngFor="let message of currentChat.messages">
					<div class="header">
						<div class="name">
							<ng-container *ngIf="message.creatorId === currentUser._id">
								{{ dictionary.YOU }}
							</ng-container>

							<ng-container *ngIf="message.creatorId !== currentUser._id">
								{{ currentChat.recipient.typeAccount === 'admin' ||  currentChat.recipient.typeAccount === 'moderator' ? dictionary.ADMIN : name(currentChat.recipient) || currentChat.recipientId  }}
							</ng-container>
						</div>

						<div class="date">
							{{ moment(message.date).locale('ru').format('HH:mm, DD.MM.YYYY') }}
						</div>
					</div>

					<div class="text">
						{{ message.message }}
					</div>
				</div>
			</div>

			<form  autocomplete="off" class="new-message" (submit)="sendMessage(currentChat.recipientId)" >
				<input type="text" style="display: none;" autocomplete="false">
				<input type="text" name="message" [(ngModel)]="newMessage">
				<button type="submit" [disabled]="!newMessage">
					{{ dictionary.FAQ_SUPPORT_CHAT_SEND_MESSAGE }}
<!--					{{ currentChat.recipientId }}-->
				</button>
			</form>
		</ng-container>
	</div>
</div>
