<div class="container" *ngIf="news">
	<div class="row">
		<div class="col">

			<div class="time">
				{{ news.creationDate.locale(currentLang).format('DD.MM.YYYY HH:mm') }}
			</div>

			<div class="title">
				{{ news.title }}
			</div>

			<div class="not-public" *ngIf="!news.publicateToNewsPage">
				Данная новость не опубликована. Она появится в общем списке новостей сразу после одобрения администрацией.
			</div>

			<div class="photo-block">
				<div class="photo">
					<img src="{{news.photoURL}}" alt="{{news.title}}">
				</div>
				<div class="manage">
					<ng-container *ngIf="currentUser && currentUser.typeAccount === 'admin'">
						<button class="button" *ngIf="!news.publicateToNewsPage" (click)="publish('toNews')">
							Опубликовать
						</button>

						<button class="button" *ngIf="news.publicateToNewsPage" (click)="publish('fromNews')">
							Убрать с публикации
						</button>

						<button class="button" *ngIf="!news.publicateToMainPage" (click)="publish('toMain')">
							Опубликовать на главной
						</button>

						<button class="button" *ngIf="news.publicateToMainPage" (click)="publish('fromMainPage')">
							Убрать с главной
						</button>
					</ng-container>

					<ng-container *ngIf="currentUser && currentUser._id === news.userId">
						<a class="button" [routerLink]="['/edit-news', news._id]">
							Редактировать
						</a>

						<button class="button" (click)="removeNews()">
							Удалить
						</button>
					</ng-container>
				</div>
			</div>

			<div class="text-news" [innerHTML]="news.text">

			</div>

			<div class="tags">
				Теги:
				<div class="tag" *ngFor="let tag of news.tags">
					{{tag}}
				</div>
			</div>

			<div class="share">
				<div class="label">
					Поделиться
				</div>
				<div class="links">
					<a href="#" class="link"><img src="/assets/images/facebook-share.png" alt=""></a>
					<a href="#" class="link"><img src="/assets/images/logo-linkedin-share.png" alt=""></a>
					<a href="#" class="link"><img src="/assets/images/instagram-share.png" alt=""></a>
					<a href="#" class="link"><img src="/assets/images/telegram-logo-share.png" alt=""></a>
					<a href="#" class="link"><img src="/assets/images/all-share.png" alt=""></a>
				</div>
			</div>

			<div class="comments">
				<div class="title">
					Комментарии:
				</div>

				<div class="count-comment">
					<b>{{news.comments.length}}</b> комментариев
				</div>

				<div class="comment" *ngFor="let comment of news.comments; let i = index">
					<div class="username">
						{{ comment.userName }} <span class="time">в {{ comment.creationDate.locale(currentLang).format('HH:mm, DD.MM.YY') }}</span>
					</div>

					<div
						class="delete"
						*ngIf="currentUser && currentUser.typeAccount === 'admin'"
						(click)="removeComment(i)"
					>
						<img src="/assets/images/icon-black-cross.svg">
					</div>

					<div class="text">
						 {{ comment.text }}
					</div>
				</div>

				<div class="send-comment" *ngIf="currentUser && news.publicateToNewsPage">
					<textarea class="new-comment" name="new-comment" id="new-comment" [(ngModel)]="textComment"></textarea>
					<button class="send-button" type="submit" (click)="sendComment()" [disabled]="!textComment" >
						Добавить комментарий
					</button>
				</div>
			</div>

		</div>
	</div>
</div>
