<div class="container" *ngIf="news">
	<div class="row">
		<div class="col">

			<div class="time">
				{{ news.creationDate.locale(currentLang).format('DD.MM.YYYY HH:mm') }}
			</div>

			<div class="title">
				{{ news.title }}
			</div>

			<ng-container *ngIf="currentUser && ( currentUser.typeAccount === 'admin' || currentUser.typeAccount === 'manager' || news.userId === currentUser._id)">
				<div class="not-public" *ngIf="!news.publicateToNewsPage">
					{{ dictionary.NEWS_NOT_PUBLISH }}
				</div>
			</ng-container>

			<div class="photo-block">
				<div class="photo">
					<img src="{{news.photoURL}}" alt="{{news.title}}">
				</div>
				<div class="manage">
					<ng-container
						*ngIf="currentUser && ( currentUser.typeAccount === 'admin' || currentUser.typeAccount === 'manager' )">

						<div class="change-lang">
							<div class="lang">
								<input type="radio" id="lang-ru" name="lang" [value]="'ru'" [(ngModel)]="language">
								<label for="lang-ru">Ru</label>
							</div>


							<div class="lang">
								<input type="radio" id="lang-en" name="lang" [value]="'en'" [(ngModel)]="language">
								<label for="lang-en">En</label>
							</div>
						</div>

						<button class="button green" *ngIf="!news.publicateToNewsPage" (click)="publish('toNews')">
							{{ dictionary.NEWS_PUBLIC_ALL }}
						</button>

						<a class="button" [routerLink]="['/admin/chats', news.userId]">
							Написать
						</a>

						<button class="button red" *ngIf="news.publicateToNewsPage" (click)="publish('fromNews')">
							{{ dictionary.NEWS_UNPUBLIC_ALL }}
						</button>

						<button class="button green" *ngIf="!news.publicateToMainPage" (click)="publish('toMain')">
							{{ dictionary.NEWS_PUBLIC_MAIN }}
						</button>

						<button class="button red" *ngIf="news.publicateToMainPage" (click)="publish('fromMainPage')">
							{{ dictionary.NEWS_UNPUBLIC_MAIN }}
						</button>
					</ng-container>

					<ng-container *ngIf="currentUser && currentUser._id === news.userId">
						<a class="button" [routerLink]="['/edit-news', news._id]">
							{{ dictionary.NEWS_EDIT }}
						</a>

						<button class="button" (click)="removeNews()">
							{{ dictionary.NEWS_DELETE }}
						</button>
					</ng-container>
				</div>
			</div>

			<div class="text-news" [innerHTML]="news.text">

			</div>

			<div class="tags">
				{{dictionary.NEWS_FULL_TAGS}}:
				<div class="tag" *ngFor="let tag of news.tags">
					#{{tag}}
				</div>
			</div>

			<div class="share">
				<div class="label">
					{{ dictionary.NEWS_SHARE }}
				</div>
				<div class="links">
					<a href="#" class="link"><img src="/assets/images/facebook-share.png" alt=""></a>
					<a href="#" class="link"><img src="/assets/images/logo-linkedin-share.png" alt=""></a>
					<a href="#" class="link"><img src="/assets/images/instagram-share.png" alt=""></a>
					<a href="#" class="link"><img src="/assets/images/telegram-logo-share.png" alt=""></a>
					<a href="#" class="link"><img src="/assets/images/all-share.png" alt=""></a>
				</div>
			</div>

			<div class="comments">
				<div class="title">
					{{dictionary.NEWS_COMMENTS}}:
				</div>

				<div class="count-comment">
					<b>{{news.comments.length}}</b> {{ dictionary.NEWS_COMMENTS_COUNTER }}
				</div>

				<div class="comment" *ngFor="let comment of news.comments; let i = index">
					<div class="username">
						{{ getUserName(comment.userName, comment.typeAccount) }} <span class="time">в {{ comment.creationDate.locale(currentLang).format('HH:mm, DD.MM.YY') }}</span>
					</div>

					<div
						class="delete"
						*ngIf="currentUser && (currentUser.typeAccount === 'admin' || currentUser.typeAccount === 'manager')"
						(click)="removeComment(i)"
					>
						<img src="/assets/images/icon-black-cross.svg">
					</div>

					<div class="text">
						{{ comment.text }}
					</div>
				</div>

				<div class="send-comment" *ngIf="!currentUser">
					<p>
						{{ dictionary.NEWS_REGISTER_TO_SEND_COMMENT }}
					</p>
				</div>

				<div class="send-comment" *ngIf="currentUser && news.publicateToNewsPage">
					<textarea class="new-comment" name="new-comment" id="new-comment" [(ngModel)]="textComment"></textarea>
					<button class="send-button" type="submit" (click)="sendComment()" [disabled]="!textComment">
						{{ dictionary.NEWS_COMMENTS_ADD }}
					</button>
				</div>
			</div>

		</div>
	</div>
</div>
