<div class="create-vacancy">
	<div class="container">
		<div class="row title">
			{{ dictionary.CREATE_BANNER_PAGE_TITLE }}
		</div>

		<div class="row" *ngIf="banner">
			<form class="col-8  form" [formGroup]="banner">

				<div class="field title-banner">
					<label
						for="title-banner"
						class="title-banner"
					>
						{{dictionary.BANNER_NAME}} <span class="required">*</span>
					</label>
					<input
						id="title-banner"
						type="text"
						class="title-banner-input"
						formControlName="title"
					>
				</div>

				<div class="field">
					<label
						for="url-banner"
						class="url-banner"
					>
						{{dictionary.BANNER_LINK}}
					</label>
					<input
						id="url-banner"
						type="text"
						class="url-banner-input"
						formControlName="imageUrl"
					>
				</div>

				<div class="field">
					<label
						for="short-description"
						class="short-description"
					>
						{{ dictionary.BANNER_SHORT_DESCRIPTION}} <span class="required">*</span>
					</label>
					<input
						id="short-description"
						type="text"
						class="short-description-input"
						formControlName="shortDescription"
					>
				</div>

				<div class="field">
					<label
						for="name-questionnaire"
						class="name-questionnaire"
					>
						{{dictionary.BANNER_TEXT}} <span class="required">*</span>
					</label>
					<editor [init]="textEditorConfig"
									[(ngModel)]="textBanner"
									[ngModelOptions]="{standalone: true}"
					></editor>
				</div>

				<div class="field">
					<div class="label">
						{{ dictionary.BANNER_COVER }} <span class="required">*</span>
					</div>

					<div class="add-file">
						<input (change)="addFile($event)" id="load-file" type="file" size="0"
									 accept="image/*,image/jpeg,image/png,image/gif">
						<label class="add-file-button" for="load-file">
							{{ dictionary.BANNER_ADD_COVER}}
						</label>
						<div class="file-name">
							{{ nameOfFile || dictionary.BANNER_ADD_COVER_FORMAT}}
						</div>
					</div>
				</div>

				<button class="save-button" *ngIf="!edit" (click)="save()"
								[disabled]="!banner.value.title || !banner.value.shortDescription || !textBanner || !fileToUpload.data ">
					{{ dictionary.SAVE_BANNER }}
				</button>

				<button class="save-button" *ngIf="edit" (click)="save()"
								[disabled]="!banner.value.title || !banner.value.shortDescription || !textBanner ">
					{{ dictionary.SAVE_BANNER }}
				</button>
			</form>

			<div class="col-3 offset-1 preview-card">
				<h2>{{ dictionary.BANNER_PREVIEW }}</h2>

				<div class="card">
					<div class="photo-of-banner" *ngIf="!fileToUpload.data && photoUrl"
							 [style.backgroundImage]="'url(' + photoUrl + ')'"></div>
					<div class="photo-of-banner" *ngIf="fileToUpload.data"
							 [style.backgroundImage]="'url(' + fileToUpload.data + ')'"></div>
					<div class="photo-of-banner default" *ngIf="!fileToUpload.data  && !edit"></div>
					<div class="info">
						<div class="title">
							{{ banner.value.title }}
						</div>

						<div class="description">
							{{ banner.value.shortDescription }}
						</div>

						<div class="date">
							{{ currentDate.locale(currentLang).format('DD MMMM YYYY') }}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>