<div class="container">
    <div class="row">
        <div class="partners-title">{{ dictionary.FOUR_STEPS_OF_SUCCESS_CAREER }}</div>
    </div>
</div>

<div class="container four-steps">
    <div class="row steps">

        <div class="col-12 col-sm-6 col-lg-3 step">
            <div class="cover-step">
                <img src="/assets/images/main-page/step01.svg" alt="" class="icon">
                <span class="number">01</span>
            </div>
            <p class="label">{{ dictionary.HOME_PAGE_STEP_1 }}</p>
        </div>

        <div class="dots"><img src="/assets/images/main-page/dots.png" alt=""></div>

        <div class="col-12 col-sm-6 col-lg-3 step">
            <div class="cover-step">
                <img src="/assets/images/main-page/step02.svg" alt="" class="icon">
                <span class="number">02</span>
            </div>
            <p class="label">{{ dictionary.HOME_PAGE_STEP_2 }}</p>
        </div>

        <div class="dots"><img src="/assets/images/main-page/dots.png" alt=""></div>

        <div class="col-12 col-sm-6 col-lg-3 step">
            <div class="cover-step">
                <img src="/assets/images/main-page/step03.svg" alt="" class="icon">
                <span class="number">03</span>
            </div>
            <p class="label">{{ dictionary.HOME_PAGE_STEP_3 }}</p>
        </div>

        <div class="dots"><img src="/assets/images/main-page/dots.png" alt=""></div>

        <div class="col-12 col-sm-6 col-lg-3 step">
            <div class="cover-step">
                <img src="/assets/images/main-page/step04.svg" alt="" class="icon">
                <span class="number">04</span>
            </div>
            <p class="label">{{ dictionary.HOME_PAGE_STEP_4 }}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="partners-title">{{ dictionary.JOB_IN_TOP_COMPANIES }}</div>
    </div>
</div>

<div class="container partners full">
    <div class="row">
        <div class="col-md-2 item"><img src="/assets/images/main-page/logo/logo-01.png" /></div>
        <div class="col-md-2 item"><img src="/assets/images/main-page/logo/logo-02.png" /></div>
        <div class="col-md-2 item"><img src="/assets/images/main-page/logo/logo-03.png" /></div>
        <div class="col-md-2 item"><img src="/assets/images/main-page/logo/logo-04.png" /></div>
        <div class="col-md-2 item"><img src="/assets/images/main-page/logo/logo-05.png" class="chevron" /></div>
    </div>
    <div class="row">
        <div class="col-md-2 item"><img src="/assets/images/main-page/logo/logo-06.png" /></div>
        <div class="col-md-2 item"><img src="/assets/images/main-page/logo/logo-07.png" /></div>
        <div class="col-md-2 item"><img src="/assets/images/main-page/logo/logo-08.png" /></div>
        <div class="col-md-2 item"><img src="/assets/images/main-page/logo/logo-09.png" /></div>
    </div>
    <div class="row">
        <div class="col-md-2 item"><img src="/assets/images/main-page/logo/logo-10.png" /></div>
        <div class="col-md-2 item"><img src="/assets/images/main-page/logo/logo-11.png" /></div>
        <div class="col-md-2 item"><img src="/assets/images/main-page/logo/logo-12.png" /></div>
    </div>
    <div class="row">
        <div class="col-md-2 item"><img src="/assets/images/main-page/logo/logo-13.png" /></div>
        <div class="col-md-2 item"><img src="/assets/images/main-page/logo/logo-14.png" /></div>
    </div>
    <div class="row">
        <div class="col-md-2 item"><img src="/assets/images/main-page/logo/logo-15.png" style="width: 60%; margin-bottom: 20px;"/></div>
    </div>
</div>

<div class="partners mobile">
    <div class="container">
        <div class="item"><img src="/assets/images/main-page/logo/logo-01.png" /></div>
        <div class="item"><img src="/assets/images/main-page/logo/logo-02.png" /></div>
        <div class="item"><img src="/assets/images/main-page/logo/logo-03.png" /></div>
        <div class="item"><img src="/assets/images/main-page/logo/logo-04.png" /></div>
        <div class="item"><img src="/assets/images/main-page/logo/logo-05.png" /></div>
        <div class="item"><img src="/assets/images/main-page/logo/logo-06.png" /></div>
        <div class="item"><img src="/assets/images/main-page/logo/logo-07.png" /></div>
        <div class="item"><img src="/assets/images/main-page/logo/logo-08.png" /></div>
        <div class="item"><img src="/assets/images/main-page/logo/logo-09.png" /></div>
        <div class="item"><img src="/assets/images/main-page/logo/logo-10.png" /></div>
        <div class="item"><img src="/assets/images/main-page/logo/logo-11.png" /></div>
        <div class="item"><img src="/assets/images/main-page/logo/logo-12.png" /></div>
        <div class="item"><img src="/assets/images/main-page/logo/logo-13.png" /></div>
        <div class="item"><img src="/assets/images/main-page/logo/logo-14.png" /></div>
        <div class="item"><img src="/assets/images/main-page/logo/logo-15.png" /></div>
    </div>
</div>