<div class="create-vacancy">
	<div class="container">
		<div class="row title">
			{{ dictionary.CREATE_NEWS_PAGE_TITLE }}
		</div>

		<div class="row" *ngIf="news">
			<form class="col-12 col-md-8  form" [formGroup]="news">

				<div class="field title-news">
					<label
						for="title-news"
						class="title-news"
					>
						{{ dictionary.NEWS_TITLE }} <span class="required">*</span>
					</label>
					<input
						id="title-news"
						type="text"
						class="title-news-input"
						formControlName="title"
					>
				</div>

				<div class="field">
					<label
						for="short-description"
						class="short-description"
					>
						{{ dictionary.NEWS_SHORT_DESCRIPTION }}<span class="required">*</span>
					</label>
					<input
						id="short-description"
						type="text"
						class="short-description-input"
						formControlName="shortDescription"
					>
				</div>

				<div class="field">
					<label
						for="name-questionnaire"
						class="name-questionnaire"
					>
						{{ dictionary.NEWS_TEXT }} <span class="required">*</span>
					</label>

					<quill-editor [(ngModel)]="textNews"
												[ngModelOptions]="{standalone: true}"
												[styles]="{height: '200px'}"></quill-editor>
				</div>

				<div class="field">
					<label for="new-nag" class="new-nag">
						{{ dictionary.NEWS_TAGS }} <span class="required">*</span>
					</label>


					<div class="tags">
						<div
							class="tag"
							*ngFor="let tag of this.news.controls['tags'].value; let i = index"
						>
							#{{ tag }}
							<img
								src="/assets/images/icon-black-cross.svg"
								(click)="removeTag(i)"
							>
						</div>

						<div class="add-tag">
							<input
								id="new-nag"
								type="text"
								class="short-description-input"
								[ngModelOptions]="{standalone: true}"
								[(ngModel)]="newTag"
							>
							<button
								[disabled]="!newTag"
								(click)="addTag()"
							>
								{{ dictionary.NEWS_ADD_TAG }}
							</button>
						</div>
					</div>

				</div>

				<div class="field">
					<div class="label">
						{{ dictionary.NEWS_COVER }} <span class="required">*</span>
					</div>

					<div class="add-file">
						<input (change)="addFile($event)" id="load-file" type="file" size="0"
									 accept="image/*,image/jpeg,image/png,image/gif">
						<label class="add-file-button" for="load-file">
							{{ dictionary.NEWS_ADD_COVER }}
						</label>
						<div class="file-name">
							{{ nameOfFile || dictionary.NEWS_ADD_COVER_FORMAT }}
						</div>
					</div>

					<image-cropper
						[imageChangedEvent]="imageChangedEvent"
						[maintainAspectRatio]="false"
						[cropperMinWidth]="360"
						[cropperMinHeight]="267"
						[roundCropper]="false"
						[imageQuality]="100"
						format="png"
						outputType="file"
						(imageCropped)="imageCropped($event)"
						style="max-width: 400px; margin-top: 30px"
					></image-cropper>
				</div>

				<ng-container *ngIf="!isSaving">
					<button class="save-button" *ngIf="!edit" (click)="save()"
									[disabled]="!news.value.title || !news.value.shortDescription || !textNews || !fileToUpload.data ">
						{{ dictionary.NEWS_SAVE }}
					</button>

					<button class="save-button" *ngIf="edit" (click)="save()"
									[disabled]="!news.value.title || !news.value.shortDescription || !textNews ">
						{{ dictionary.NEWS_SAVE }}
					</button>
				</ng-container>

				<button class="save-button" *ngIf="isSaving">
					<mat-progress-spinner
							class="example-margin"
							[diameter]="20"
							[mode]="'indeterminate'">
					</mat-progress-spinner>
				</button>
			</form>

			<div class="col-3 offset-1 preview-card">
				<h2>{{ dictionary.NEWS_PREVIEW }}</h2>

				<div class="card">
					<div class="photo-of-news" *ngIf="!fileToUpload.data && photoUrl"
							 [style.backgroundImage]="'url(' + IMG_URL + photoUrl + ')'"></div>
					<div class="photo-of-news" *ngIf="fileToUpload.data"
							 [style.backgroundImage]="'url(' + fileToUpload.data + ')'"></div>
					<div class="photo-of-news default" *ngIf="!fileToUpload.data  && !edit"></div>
					<div class="info">
						<div class="title">
							{{ news.value.title }}
						</div>

						<div class="description">
							{{ news.value.shortDescription }}
						</div>

						<div class="date">
							{{ currentDate.locale(currentLang).format('DD MMMM YYYY') }}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
