@import "colors";
@import "animations";

@mixin card($add-card: false) {
  width: 262px;
  box-shadow: 1px 0 1.875rem rgba(0, 0, 0, 0.15);
  position: relative;
  background-color: $white;
  @include animation(transform);

  & > *:first-child {
    display: block;
    width: inherit;
    padding: 30px 30px 15px;
  }

  &:hover {
    transform: scale(1.05);

    .more-info {
      color: black;
    }
  }

  .more-info {
    display: block;
    width: 100%;
    color: $gray;
    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: 500;
    border-top: 1px solid #ddd;
    padding: 13px 30px;
    @include animation(color);

    img {
      margin-bottom: -2px;
      display: inline-block;
    }
  }
}

@mixin card-add() {
  @include card();

  .more-info {
    text-align: center;
    background-color: $orange;
    color: white;
    @include animation();
  }

  &:hover {

    .circle {
      background-color: $dark-orange;
      transform: scale(1.1);

      .plus {
        color: $white !important;
      }
    }

    .more-info {
      background-color: $white;
      color: $dark-orange;
    }
  }
}