@import "colors";
@import "animations";

@mixin card($add-card: false) {
  width: 262px;
  height: 400px;
  box-shadow: 1px 0 1.875rem rgba(0, 0, 0, 0.15);
  position: relative;
  background-color: $white;
  @include animation(transform);

  & > *:first-child {
    display: block;
    width: inherit;
    height: inherit;
    position: relative;
    padding: 30px 30px 43px;
  }

  &:hover {
    transform: scale(1.05);

    .more-info {
      color: black;
    }
  }

  .more-info {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: $gray;
    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: 500;
    border-top: 1px solid #ddd;
    padding: 13px 30px;
    @include animation(color);

    img {
      margin-bottom: -2px;
      display: inline-block;
    }
  }
}

@mixin card-add() {
  @include card();

  .more-info {
    text-align: center;
    background-color: $orange;
    color: white;
    @include animation();
  }

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .circle {
      width: 100px;
      height: 100px;
      border: 3px solid $dark-orange;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      @include animation();
      align-items: center;

      .plus {
        color: $dark-orange;
        font-family: "Bebas";
        font-size: 3.75rem;
        font-weight: 400;
        width: 24px;
        height: 24px;
        @include animation(color);

        display: flex;
        align-items: center;
        margin-top: 14px;
      }
    }
  }

  &:hover {

    .circle {
      background-color: $dark-orange;
      transform: scale(1.1);

      .plus {
        color: $white !important;
      }
    }

    .more-info {
      background-color: $white;
      color: $dark-orange;
    }
  }
}