$black: #000;
$light-gray: #C7C7C7;
$gray: #9c9c9c;
$dark-gray: #303030;
$dark-orange: #fe5704;
$orange: #ff682a;
$hover-orange: $orange - #333;
$white: #fff;
$transparent: rgba(0, 0, 0, 0);
$alert: red + #CCCCCC;
