@import "colors";
@import "animations";

// стилизация чекбоксов
input[type="checkbox"] {
  display: none;
  & + label {
    display: flex;
    align-items: center;
  }
  & + label:before {
    margin-right: 10px;
    content: '';
    display: inline-block;
    width: 21px;
    height: 21px;
    border-radius: 0.188rem;
    border: 0.063rem solid #dadada;
    background-color: $white;
    @include animation(background-color);
  }
  & + label:hover:before {
    background-color: $light-gray;
  }

  &:checked + label:before {
    background-size: 90%;
    background: url('/assets/images/checked.png') no-repeat center;
  }
}

.inline-link { // встроенные ссылки
  color: $orange;
  text-decoration: underline;
  @include animation(color);

  &:hover {
    color: $hover-orange;
  }

  &:focus {
    color: $hover-orange;
  }

  &:active {
    color: $hover-orange;
  }

}

.title {
  color: $black;
  font-family: "Bebas";
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.25rem;
}

.big-title {
  color: $black;
  font-family: "Bebas";
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.25rem;
}

.change_form { // стили для создания влкадок
  display: inline-block;
  color: #363636;
  font-family: Roboto;
  line-height: 0.875rem;
  font-size: 0.875rem;
  font-weight: 400;
  height: inherit;
  text-align: center;
  vertical-align: top;
  background-color: $white;

  display: flex;
  flex-direction: column;
  &:hover {
    height: auto;
    max-height: 240px;
    overflow-y: scroll;
    cursor: pointer;
  }

  li {
    &.active {
      display: block;
      border-color: $white;
    }
    display: none;
    line-height: 47px;
    border-top: 1px solid $orange;
    background-color: $white;

    &:not(.active):hover {
      background-color: $white - #111;
      cursor: pointer;
    }

  }

  &:hover {
    li {
      display: block;
    }
  }
}
