<section class="list-summaryes" *ngIf="listResume">
	<div class="container">

		<div class="row list">
			<card
				*ngFor="let resume of listResume; let i = index"
				[resume]="resume"
				[typeUser]="'worker'"
				[dictionary]="dictionary"
				class="item"
			></card>

			<!--<card-resume-->
				<!--*ngIf="config === 'user'"-->
				<!--[add-resume]="true"-->
				<!--class="item"-->
			<!--&gt;</card-resume>-->
		</div>

		<!--<div class="row show-more">-->
			<!--<button type="button" name="button">-->
				<!--<img src="/assets/images/dott.png" alt="">-->
				<!--<img src="/assets/images/dott.png" alt="">-->
				<!--<img src="/assets/images/dott.png" alt="">-->
				<!--Показать ещё-->
			<!--</button>-->
		<!--</div>-->

	</div>
</section>