<section class="list-summaryes" *ngIf="listResume">
	<div class="container">

		<div class="row list">
			<card
				*ngFor="let resume of listResume; let i = index"
				[resume]="resume"
				[typeUser]="'worker'"
				[dictionary]="dictionary"
				[heightContent]="230"
				class="item"
			></card>

			<card
				*ngIf="config === 'user'"
				[typeUser]="'worker'"
				[dictionary]="dictionary"
				[addNew]="true"
				[heightContent]="230"
				class="item"
			></card>

		</div>

		<!--<div class="row show-more">-->
			<!--<button type="button" name="button">-->
				<!--<img src="/assets/images/dott.png" alt="">-->
				<!--<img src="/assets/images/dott.png" alt="">-->
				<!--<img src="/assets/images/dott.png" alt="">-->
				<!--Показать ещё-->
			<!--</button>-->
		<!--</div>-->

	</div>
</section>