<section class="last-news">
    <div class="container">
        <div class="title row">
            {{ dictionary.HEADER_NEWS }}
        </div>
        <div class="list row">
            <list-news [offset]="offset" [mainPage]="true"></list-news>
        </div>
        <div class="row manage">
            <div class="steps">
                <div (click)="setOffset(0)" class="step" [class.active]="offset === 0"></div>
                <div (click)="setOffset(3)" class="step" [class.active]="offset === 3"></div>
                <div (click)="setOffset(6)" class="step" [class.active]="offset === 6"></div>
            </div>
            <div class="arrows">
                <img class="prev" src="/assets/images/orange-arrow-prev.svg" (click)="removeOffset()">
                <img class="next" src="/assets/images/orange-arrow-next.svg" (click)="addOffset()">
            </div>
            <a class="see-all" href="#">
                <!--Подписаться<img src="/assets/images/arrow-orange.svg"/>-->
            </a>
        </div>
    </div>
</section>