@import "colors";
@import "animations";

:host {

  .last-news {
    padding-top: 76px;
    background-color: $dark-gray;

    & > .container {
      padding-bottom: 50px;
      border-bottom: 3px solid white;
    }

    .title.row {
      justify-content: center;
      color: $white;
      font-family: "Bebas";
      font-size: 3rem;
      font-weight: 400;
      line-height: 3.381rem;
    }

    .list {
      margin-top: 67px;
      height: 600px;
      justify-content: space-between;
    }

    .manage {
      margin-top: 47px;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 1024px) {
        display: none;
      }

      .steps {
        width: 103px;
        height: 2px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        .step {
          width: 30px;
          height: inherit;
          background-color: $gray;
          @include tr-bg;

          &.active {
            background-color: $dark-orange;
          }
          &:hover {
            background-color: $dark-orange;
          }
        }

      }

      .arrows {
        position: absolute;
        left: 50%;
        transform: translate(-50%);

        img {
          padding: 0px 10px;
          opacity: 0.7;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }
      }

      .see-all {
        display: inline-block;
        color: $white;
        font-family: "Bebas";
        font-size: 1rem;
        font-weight: 400;
        padding: 12px 0;
        border-bottom: 1px solid $gray;

        &:hover {
          text-decoration: underline;
        }

      }
    }
  }
}