<section class="banner">
    <img src="/assets/images/main-banner.jpg"/>
    <img src="/assets/images/fire.gif" class="svistoperdelka"/>
    <div class="container">
        <div class="logo row"><img src="/assets/images/logo.svg" alt=""></div>
        <div class="description row" [innerHTML]="dictionary.HOME_BANNER_TITLE"></div>

    <!--поиск в баннере на главной-->
        <!--<div class="search row">-->
            <!--<div class="search-field">-->
                <!--<input type="text" class="search" [placeholder]="dictionary.LOOKING_FOR"/>-->
                <!--<div class="border"></div>-->
                <!--<ul class="change_form type">-->
                    <!--<li class="active">{{ dictionary.IN_VACANCIES }}</li>-->
                    <!--<li>{{ dictionary.IN_CV }}</li>-->
                <!--</ul>-->
                <!--<div class="border"></div>-->
                <!--<ul class="change_form city">-->
                    <!--<li class="active">{{ dictionary.IN_SBP }}</li>-->
                    <!--<li>{{ dictionary.IN_MSK }}</li>-->
                    <!--<li>{{ dictionary.IN_SAR }}</li>-->
                <!--</ul>-->
                <!--<div class="button">-->
                    <!--{{ dictionary.SEARCH }}-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </div>
</section>