<section class="banner">
    <img src="/assets/images/main-banner.jpg"/>
    <div class="container">
        <div class="logo row"><img src="/assets/images/logo-full.png" alt=""></div>
        <div class="description row">
            Работа в нефтяной, газовой <br/> и горнодобывающей промышленностях
        </div>
        <div class="search row">
            <div class="search-field">
                <input type="text" class="search" placeholder="Я ищу..."/>
                <div class="border"></div>
                <ul class="change_form type">
                    <li class="active">В вакансиях</li>
                    <li>В резюме</li>
                </ul>
                <div class="border"></div>
                <ul class="change_form city">
                    <li class="active">В Санкт-Петербурге</li>
                    <li>В Москве</li>
                    <li>В Cаратове</li>
                </ul>
                <div class="button">
                    Искать
                </div>
            </div>
        </div>
    </div>
</section>