<div class="component" *ngIf="currentLang === 'ru'">
	<div class="row">
		<div class="col">

			<div class="title">
				О нас
			</div>

			<p>Наш проект Cenozoic Commumity это международная онлайн-рекрутмент платформа для полного цикла подбора персонала
				и поиска работы в горнодобывающей и нефтегазовой промышленностях. Основным назначением проекта является помощь
				соискателям/работодателям в быстром и качественном поиске на основании онлайн анализа заданных потребностей.</p>

			<p>Вакансии и резюме на портале обновляются в режиме реального времени. Сервис сайта предоставляет возможность
				сохранять результаты поиска, а также получать уведомления о вакансиях, которые соответствуют заданным
				параметрам. Помимо резюме и вакансий на портале размещены новости нефти и газа, которые обновляются ежечасно.
				Предоставляется возможность сохранять статьи и получать уведомления, чтобы оставаться в курсе событий постоянно.
				Наш Интернет-Ресурс полностью адаптирован для мобильных устройств и смартфонов.</p>

			<p>Основная эксклюзивность проекта — это уникальная онлайн база данных специалистов профессионалов с огромным
				опытом работ из различных регионов мира, а также работодателей прошедших определенные этапы верификации и
				имеющих положительную репутацию на рынке. Также частью эксклюзивности является широкая функциональность для
				ручного или автоматического анализа и большой спектр интерактивных сервисов.</p>

		</div>
	</div>
</div>

<div class="component" *ngIf="currentLang === 'en'">
	<div class="row">
		<div class="col">

			<div class="title">
				About Us
			</div>

			<p>Our Cenozoic Community project is an international online recruitment system focused on jobseekers and
				recruiters in Oil&Gas Industry. The main priority of the project is to provide assistance based on high quality
				and fast analysis of specific input parameters.</p>

			<p>Jobs and candidate profiles are updating in real-time. Website features allow to save search results and to
				receive notifications about matched job postings. As well as this, there is an opportunity to publish articles
				and stay informed by reading latest Oil&Gas news updates every hour. Our Web-portal fully compatible with
				smartphones and tablets.</p>

			<p>The key feature of the project is unique online database of highly-skilled and experienced professionals from
				different countries and regions together with reputable verified recruiters.</p>

		</div>
	</div>
</div>