:host {

  b {
    font-weight: bold;
  }

  button {
    margin: 0 5px;

    a {
      color: white;
    }
  }

  mat-list-item {
    margin-top: 5px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-left: 3px solid;

    &.publicated {
      border-color: #07a400;
    }

    &.unpublicated {
      border-color: #bf1600;
    }
  }
}