<mat-card>
	<mat-list *ngIf="listNews">
		<h3 mat-subheader>Список всех новостей</h3>

		<mat-list-item *ngFor="let news of listNews; let i = index;">
			<mat-icon mat-list-icon>subject</mat-icon>

			<h4 mat-line><b>Заголовок:</b> {{news.title}}</h4>
			<h4 mat-line><b>Создана: </b> {{ this.news.creationDate.locale(currentLang).format('DD MMMM YYYY') }} </h4>
			<p mat-line><b>Краткое описание:</b> {{news.shortDescription}}</p>
			<p mat-line><b>ID создателя:</b> {{news.userId}}</p>
			<p mat-line>
				<b>Статус</b>
				<ng-container *ngIf="!news.publicateToMainPage && !news.publicateToNewsPage">
					На рассмотрении
				</ng-container>
				<ng-container *ngIf="news.publicateToMainPage">
					Опубликовано на главной
				</ng-container>
				<ng-container *ngIf="news.publicateToNewsPage">
					Опубликовано
				</ng-container>
			</p>

			<button mat-mini-fab color="primary">
				<a href="/news/{{news._id}}" target="_blank" color="white">
					<mat-icon aria-label="iExample icon-button with a heart con">open_in_new</mat-icon>
				</a>
			</button>

			<!--<button mat-mini-fab color="primary" (click)="deleteCurrentResume(news._id, resume.userId)">-->
			<!--<mat-icon aria-label="iExample icon-button with a heart con">delete</mat-icon>-->
			<!--</button>-->
		</mat-list-item>

	</mat-list>
</mat-card>