<div class="faq-subtitle">
	Отправить свой вопрос
</div>

<div class="send-question">

	<div class="field">
		<label class="field-title faq-subtitle" for="change-reason">
			Выберите одну из причин
		</label>

		<select id="change-reason" class="change-reason field-input">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
		</select>
	</div>

	<div class="field">
		<label class="field-title faq-subtitle" for="description">
			описание (пожалуйста опишите свою проблему подробно)
		</label>

		<textarea name="description" id="description" class="description"></textarea>
	</div>

	<div class="field faq-read">
		<input type="checkbox" id="faq-is-reading" >
		<label for="faq-is-reading">Я прочитал(а)&nbsp;<a href="/">часто задаваемые воопросы</a></label>
	</div>

	<button class="field send-button">
		Отправить запрос
	</button>

</div>