<div class="create-summary">
    <div class="container">
        <div class="row title" *ngIf="isAuthorized">
            Конструктор резюме
        </div>
        <div class="row title alert" *ngIf="!isAuthorized">
            Вы должны авторизироваться чтобы создать резюме
        </div>
        <div class="row" *ngIf="isAuthorized">
            <div class="col form">
                <form id="create-summary" #myForm="ngForm" [ngClass]="{invalid: invalid}">

                    <div class="main-fields part">

                        <div class="parameter job">
                            <div class="left">
                                <label for="job">Желаемая должность<span class="required">*</span></label>
                            </div>
                            <div class="right">
                                <input type="text" name="job" id="job" [(ngModel)]="resumeForm.job" required>
                            </div>
                        </div>

                        <div class="parameter salary">
                            <div class="left">
                                <label for="salary-from">Оклад<span class="required">*</span></label>
                            </div>
                            <div class="right">
                                <div class="word from">
                                    от
                                </div>

                                <input type="number" name="salary" id="salary-from" [(ngModel)]="resumeForm.salary"
                                       required>
                                <div class="word rub">
                                    руб.
                                </div>
                            </div>
                        </div>

                        <div class="parameter age">
                            <div class="left">
                                <label>Дата рождения<span class="required">*</span></label>
                            </div>
                            <div class="right">
                                <birthday-date-picker
                                        (changed)="birthdayChanged($event);">
                                </birthday-date-picker>
                            </div>
                        </div>

                        <div class="parameter gender">
                            <div class="left">
                                <label for="gender">Пол<span class="required">*</span></label>
                            </div>
                            <div class="right radio" id="gender">
                                <input type="radio" name="gender" id="man" value="Мужчина"
                                       [(ngModel)]="resumeForm.gender" checked/>
                                <label for="man">муж</label>
                                <input type="radio" name="gender" id="female" value="Женщина"
                                       [(ngModel)]="resumeForm.gender"/>
                                <label for="female">жен</label>
                            </div>
                        </div>

                        <div class="parameter family-position">
                            <div class="left">
                                <label for="family-position">Семейное положение<span class="required">*</span></label>
                            </div>
                            <div class="right">
                                <mat-form-field>
                                    <mat-select name="family" id="family-position" class="short-input"
                                                [(ngModel)]="resumeForm.family" required>
                                        <mat-option value="Холост/Не замужем">Холост/Не замужем</mat-option>
                                        <mat-option value="В браке">В браке</mat-option>
                                        <mat-option value="В разводе">В разводе</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>


                        <div class="parameter business-trips">
                            <div class="left">
                                <label for="business-trips-yes">Готовность к командировкам<span
                                        class="required">*</span></label>
                            </div>
                            <div class="right radio">
                                <input type="radio" name="business-trips" id="business-trips-yes" value="да"
                                       [(ngModel)]="resumeForm.businessTrips"/>
                                <label for="business-trips-yes">да</label>
                                <input type="radio" name="business-trips" id="business-trips-no" value="нет"
                                       [(ngModel)]="resumeForm.businessTrips" checked/>
                                <label for="business-trips-no">нет</label>
                            </div>
                        </div>

                        <div class="parameter relocation">
                            <div class="left">
                                <label for="relocation-yes">Переезд<span class="required">*</span></label>
                            </div>
                            <div class="right radio">
                                <input type="radio" name="relocation" id="relocation-yes" value="да"
                                       [(ngModel)]="resumeForm.relocation"/>
                                <label for="relocation-yes">да</label>
                                <input type="radio" name="relocation" id="relocation-no" value="нет"
                                       [(ngModel)]="resumeForm.relocation" checked/>
                                <label for="relocation-no">нет</label>
                            </div>
                        </div>


                        <div class="parameter schedule">
                            <div class="left">
                                <label>Метод работы<span class="required">*</span></label>
                            </div>
                            <div class="right">
                                <mat-form-field>
                                    <mat-select name="schedule" [(ngModel)]="resumeForm.schedule" required>
                                        <mat-option value="Не имеет значения">Не имеет значения</mat-option>
                                        <mat-option value="Полный рабочий день">Полный рабочий день</mat-option>
                                        <mat-option value="Удаленная работа">Удаленная работа</mat-option>
                                        <mat-option value="Вахтовый метод">Вахтовый метод</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="line"></div>
                            </div>
                        </div>

                        <div class="parameter employment">
                            <div class="left">
                                <label for="employment">Занятость<span class="required">*</span></label>
                            </div>
                            <div class="right">
                                <mat-form-field>
                                    <mat-select name="employment" id="employment"
                                                [(ngModel)]="resumeForm.employmentType"
                                                required>
                                        <mat-option value="Не имеет значения">Не имеет значения</mat-option>
                                        <mat-option value="Полная занятость">Полная занятость</mat-option>
                                        <mat-option value="Частичная занятость">Частичная занятость</mat-option>
                                        <mat-option value="Временная работа">Временная работа</mat-option>
                                        <mat-option value="Стажировка">Стажировка</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="line"></div>
                            </div>
                        </div>

                    </div>

                    <div class="experience-fields part">
                        <div class="mini-title">
                            Опыт работы<span class="required">*</span>
                        </div>

                        <div class="workplace" *ngFor="let item of resumeForm.experience; let i = index">

                            <div class="side-title">
                                Место работы {{i+1}}
                                <span class="remove-block-fields">
                                    <img src="/assets/images/icon-hidden.png" title="Свернуть" (click)="manageVisible('experience', i)" [class.hidden]="!listVisibleElement.experience[i]">
                                    <img src="/assets/images/icon-garbage.svg" title="Удалить"  (click)="manageFields('experience', i)">
                                </span>
                            </div>

                            <div class="hidden-wrapper" [class.hidden]="!listVisibleElement.experience[i]">
                                <div class="parameter start">
                                    <div class="left">
                                        <label for="employment-start">Начало работы</label>
                                    </div>
                                    <div class="right">
                                        <mat-form-field>
                                            <mat-select name="experience-startMonth-{{i}}" id="employment-start"
                                                        class="shortest-select"
                                                        [(ngModel)]="resumeForm.experience[i].startMonth"
                                                        required>
                                                <mat-option value="Январь">Январь</mat-option>
                                                <mat-option value="Февраль">Февраль</mat-option>
                                                <mat-option value="Март">Март</mat-option>
                                                <mat-option value="Апрель">Апрель</mat-option>
                                                <mat-option value="Май">Май</mat-option>
                                                <mat-option value="Июнь">Июнь</mat-option>
                                                <mat-option value="Июль">Июль</mat-option>
                                                <mat-option value="Июнь">Июнь</mat-option>
                                                <mat-option value="Август">Август</mat-option>
                                                <mat-option value="Сентябрь">Сентябрь</mat-option>
                                                <mat-option value="Октябрь">Октябрь</mat-option>
                                                <mat-option value="Ноябрь">Ноябрь</mat-option>
                                                <mat-option value="Декабрь">Декабрь</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <input type="number" name="experience-startYear-{{i}}" id="start"
                                               class="shortest-input" [(ngModel)]="resumeForm.experience[i].startYear">
                                        <div class="word">года</div>
                                    </div>
                                </div>

                                <div class="parameter end">
                                    <div class="left">
                                        <label for="employment-end">Окончание</label>
                                    </div>
                                    <div class="right">
                                        <div [ngClass]="{disabled: resumeForm.experience[i].present}" class="workplace-fix">
                                            <mat-form-field>
                                                <mat-select name="experience-endMonth-{{i}}"
                                                            id="employment-end"
                                                            class="shortest-select"
                                                            [disabled]="resumeForm.experience[i].present"
                                                            [(ngModel)]="resumeForm.experience[i].endMonth"
                                                            required>
                                                    <mat-option value="Январь">Январь</mat-option>
                                                    <mat-option value="Февраль">Февраль</mat-option>
                                                    <mat-option value="Март">Март</mat-option>
                                                    <mat-option value="Апрель">Апрель</mat-option>
                                                    <mat-option value="Май">Май</mat-option>
                                                    <mat-option value="Июнь">Июнь</mat-option>
                                                    <mat-option value="Июль">Июль</mat-option>
                                                    <mat-option value="Июнь">Июнь</mat-option>
                                                    <mat-option value="Август">Август</mat-option>
                                                    <mat-option value="Сентябрь">Сентябрь</mat-option>
                                                    <mat-option value="Октябрь">Октябрь</mat-option>
                                                    <mat-option value="Ноябрь">Ноябрь</mat-option>
                                                    <mat-option value="Декабрь">Декабрь</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <input type="number" name="experience-endYear-{{i}}" id="end"
                                               class="shortest-input"
                                               [(ngModel)]="resumeForm.experience[i].endYear"
                                               [disabled]="resumeForm.experience[i].present"
                                               [required]="!resumeForm.experience[i].present">
                                        <div class="word">года</div>
                                        <input type="checkbox" name="experience-name-{{i}}" value="true"
                                               id="present-{{i}}" [(ngModel)]="resumeForm.experience[i].present">
                                        <label for="present-{{i}}" class="word present">По настоящее время</label>
                                    </div>
                                </div>

                                <div class="parameter type">
                                    <div class="left">
                                        <label for="employment-type">Тип промышеленности</label>
                                    </div>
                                    <div class="right">
                                        <mat-form-field>
                                            <mat-select name="experience-type-{{i}}" id="employment-type"
                                                        class="shortest-select" [(ngModel)]="resumeForm.experience[i].type"
                                                        required>
                                                <mat-option value="Нефтегазовая">Нефтегазовая</mat-option>
                                                <mat-option value="Горнодобывающая">Горнодобывающая</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="parameter company">
                                    <div class="left">
                                        <label for="company">Организация</label>
                                    </div>
                                    <div class="right">
                                        <input type="text" name="experience-company-{{i}}" id="company"
                                               [(ngModel)]="resumeForm.experience[i].organization" required>
                                    </div>
                                </div>

                                <div class="parameter was-job">
                                    <div class="left">
                                        <label for="was-job">Должность</label>
                                    </div>
                                    <div class="right">
                                        <input type="text" name="experience-job-{{i}}" id="was-job"
                                               [(ngModel)]="resumeForm.experience[i].job" required>
                                    </div>
                                </div>

                                <div class="parameter duties">
                                    <div class="left">
                                        <label for="duties">Ваши обязанности</label>
                                    </div>
                                    <div class="right">
                                        <input type="text" name="duties-{{i}}" id="duties"
                                               [(ngModel)]="resumeForm.experience[i].duties" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="add">
                            +
                            <span class="add-button" (click)="manageFields('experience')">
                                Добавить место работы
                            </span>
                        </div>

                    </div>

                    <div class="education-fields part">

                        <div class="mini-title">
                            Образование
                            <span class="required">*</span>
                        </div>

                        <!--<div class="parameter education">-->
                        <!--<input type="checkbox" name="education" id="russian" value="true"-->
                        <!--[(ngModel)]="resumeForm.educationCountries.russian" required>-->
                        <!--<label for="russian">Российское</label>-->
                        <!--<input type="checkbox" name="education" id="overseas" value="true"-->
                        <!--[(ngModel)]="resumeForm.educationCountries.foreign" required>-->
                        <!--<label for="overseas">Зарубежное</label>-->
                        <!--</div>-->

                        <div class="education-place" *ngFor="let item of resumeForm.education; let i = index">

                            <div class="side-title">
                                Учебное заведение {{i+1}}
                                <span class="remove-block-fields">
                                    <img src="/assets/images/icon-hidden.png" title="Свернуть" (click)="manageVisible('education', i)" [class.hidden]="!listVisibleElement.education[i]">
                                    <img src="/assets/images/icon-garbage.svg" title="Удалить" (click)="manageFields('education', i)">
                                </span>
                            </div>

                            <div class="hidden-wrapper"  [class.hidden]="!listVisibleElement.education[i]">
                                <!--*ngIf="listVisibleElement.education[i]"-->
                                <div class="parameter stage">
                                    <div class="left">
                                        <label for="stage">Степень образования</label>
                                    </div>
                                    <div class="right">
                                        <mat-form-field>
                                            <mat-select name="education-stage-{{i}}" id="stage" class="short-select"
                                                        [(ngModel)]="resumeForm.education[i].stage" required>
                                                <mat-option value="Высшее">Высшее</mat-option>
                                                <mat-option value="Среднее">Среднее</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="parameter start-education">
                                    <div class="left">
                                        <label for="start-education">Начало обучения</label>
                                    </div>
                                    <div class="right">
                                        <input type="number" name="education-start-{{i}}" id="start-education"
                                               class="short-input" [(ngModel)]="resumeForm.education[i].start" required>
                                        <div class="word">год</div>
                                    </div>
                                </div>

                                <div class="parameter end-education">
                                    <div class="left">
                                        <label for="end-education">Окончание</label>
                                    </div>
                                    <div class="right">
                                        <input type="number" name="education-end-{{i}}" id="end-education"
                                               class="short-input" [(ngModel)]="resumeForm.education[i].end" required>
                                        <div class="word">год</div>
                                    </div>
                                </div>

                                <!--div class="parameter country-education">
                                    <div class="left">
                                        <label for="country-education">Страна</label>
                                    </div>
                                    <div class="right">
                                        <mat-form-field>
                                            <mat-select name="education-country-{{i}}" id="country-education"
                                                        class="short-select" [(ngModel)]="resumeForm.education[i].country"
                                                        required>
                                                <mat-option value="Россия">Россия</mat-option>
                                                <mat-option value="Англия">Англия</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div-->

                                <div class="parameter city-eductation">
                                    <div class="left">
                                        <label>Город</label>
                                    </div>
                                    <div class="right">
                                        <button mat-raised-button color="primary" (click)="changeEducationCity(i)">
                                            {{resumeForm.education[i].city ? resumeForm.education[i].city : 'Выберите город'}}
                                        </button>
                                    </div>
                                </div>

                                <div class="parameter university">
                                    <div class="left">
                                        <label for="university">Учебное заведение</label>
                                    </div>
                                    <div class="right">
                                        <input type="text" name="education-university-{{i}}" id="university"
                                               [(ngModel)]="resumeForm.education[i].university" required>
                                    </div>
                                </div>

                                <div class="parameter faculty">
                                    <div class="left">
                                        <label for="faculty">Факультет</label>
                                    </div>
                                    <div class="right" [ngClass]="{disabled: resumeForm.education[i].stage == 'Среднее'}">
                                        <input type=`text` name="education-faculty-{{i}}" id="faculty"
                                               [(ngModel)]="resumeForm.education[i].faculty" required>
                                    </div>
                                </div>

                                <div class="parameter specialty">
                                    <div class="left">
                                        <label for="specialty">Специальность</label>
                                    </div>
                                    <div class="right" [ngClass]="{disabled: resumeForm.education[i].stage == 'Среднее'}">
                                        <input type="text" id="specialty" name="education-specialty-{{i}}"
                                               [(ngModel)]="resumeForm.education[i].specialty" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="add">
                            +
                            <span class="add-button" (click)="manageFields('education')">
                                Добавить учебное заведение
                            </span>
                        </div>
                    </div>

                    <div class="languages-fields part">
                        <div class="mini-title">
                            Знание языков
                        </div>
                        <div class="parameter language" *ngFor="let item of resumeForm.languages; let i = index">
                            <div class="left">
                                <label for="language">Язык</label>
                            </div>
                            <div class="right">
                                <mat-form-field>
                                    <mat-select name="language-{{i}}" class="language"
                                                [(ngModel)]="resumeForm.languages[i].name" id="language" required>
                                        <mat-option value="Английский">Английский</mat-option>
                                        <mat-option value="Русский">Русский</mat-option>
                                        <mat-option value="Китайский">Китайский</mat-option>
                                        <mat-option value="Арабский">Арабский</mat-option>
                                        <mat-option value="Испанский">Испанский</mat-option>
                                        <mat-option value="Португальский">Португальский</mat-option>
                                        <mat-option value="Хинди(индийский)">Хинди(индийский)</mat-option>
                                        <mat-option value="Французский">Французский</mat-option>
                                        <mat-option value="Немецкий">Немецкий</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="line"></div>
                                <mat-form-field class="short-input">
                                    <mat-select name="language-level-{{i}}" class="language"
                                                [placeholder]="'Уровень владения'"
                                                [(ngModel)]="resumeForm.languages[i].level" id="level" required>
                                        <mat-option value="Начальный">Начальный</mat-option>
                                        <mat-option value="Средний">Средний</mat-option>
                                        <mat-option value="Высокий">Высокий</mat-option>
                                        <mat-option value="Носитель">Носитель</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span class="remove-language" (click)="manageFields('languages', i)">
                                    <img src="/assets/images/icon-garbage.svg">
                                </span>
                            </div>
                        </div>
                        <div class="add">
                            +
                            <span class="add-button" (click)="manageFields('languages')">
                                Добавить язык
                            </span>
                        </div>
                    </div>

                    <div class="trainings-fields part">
                        <div class="mini-title">
                            Профессиональные компетенции, курсы, тренинги, сертификаты и прочее.
                        </div>

                        <div class="training" *ngFor="let item of resumeForm.trainings; let i = index">

                            <div class="side-title">
                                Тренинг {{i+1}}
                                <span class="remove-block-fields" >
                                    <img src="/assets/images/icon-hidden.png" title="Свернуть" (click)="manageVisible('trainings', i)" [class.hidden]="!listVisibleElement.trainings[i]">
                                    <img src="/assets/images/icon-garbage.svg" title="Удалить" (click)="manageFields('trainings', i)">
                                </span>
                            </div>

                            <div  class="hidden-wrapper" [class.hidden]="!listVisibleElement.trainings[i]">
                                <div class="parameter year-training">
                                    <div class="left">
                                        <label for="year-training">Год прохождения/окончания</label>
                                    </div>
                                    <div class="right">
                                        <input type="text" name="training-year-{{i}}" id="year-training"
                                               class="short-input" [(ngModel)]="resumeForm.trainings[i].year">
                                    </div>
                                </div>

                                <div class="parameter durability-training">
                                    <div class="left">
                                        <label for="durability-training">Длительность курса</label>
                                    </div>
                                    <div class="right">
                                        <input type="text" name="training-durability-{{i}}" id="durability-training"
                                               class="short-input"
                                               [(ngModel)]="resumeForm.trainings[i].durability">
                                    </div>
                                </div>

                                <div class="parameter country-training">
                                    <div class="left">
                                        <label for="country-training">Страна</label>
                                    </div>
                                    <div class="right">
                                        <mat-form-field>
                                            <mat-select name="training-country-{{i}}" id="country-training"
                                                        class="country-training"
                                                        [(ngModel)]="resumeForm.trainings[i].country">
                                                <mat-option value="Англия">Англия</mat-option>
                                                <mat-option value="Россия">Россия</mat-option>
                                                <mat-option value="Швеция">Швеция</mat-option>
                                                <mat-option value="США">США</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div class="line"></div>
                                    </div>
                                </div>

                                <div class="parameter city-training">
                                    <div class="left">
                                        <label for="city-training">Город</label>
                                    </div>
                                    <div class="right">
                                        <mat-form-field>
                                            <mat-select name="training-city-{{i}}" id="city-training" class="city-training"
                                                        [(ngModel)]="resumeForm.trainings[i].city">
                                                <mat-option value="Саратов">Саратов</mat-option>
                                                <mat-option value="Москва">Москва</mat-option>
                                                <mat-option value="Киев">Киев</mat-option>
                                                <mat-option value="Лондон">Лондон</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div class="line"></div>
                                    </div>
                                </div>


                                <div class="parameter name-training">
                                    <div class="left">
                                        <label for="name-training">Название</label>
                                    </div>
                                    <div class="right">
                                        <input type="text" name="training-name-{{i}}" id="name-training"
                                               [(ngModel)]="resumeForm.trainings[i].name">
                                    </div>
                                </div>

                                <div class="parameter document-training">
                                    <div class="left">
                                        <label>Сертификат</label>
                                    </div>
                                    <div class="right">
                                        <input type="checkbox" name="training-document-{{i}}" id="document-training"
                                               value="true"
                                               [(ngModel)]="resumeForm.trainings[i].document" required>
                                        <label for="document-training" class="word">Документально подтвержден</label>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="add">
                            +
                            <span class="add-button" (click)="manageFields('trainings')">
                                Добавить
                            </span>
                        </div>
                    </div>

                    <div class="long-fields">
                        <div class="parameter">
                            <label>Дополнительная информация</label>
                            <div class="description">Добавьте всю информацию, которая поможет работодателю выбрать вас в
                                качестве сотрудника.
                            </div>
                            <editor [init]="textEditorConfig"
                                    [(ngModel)]="resumeForm.additionalInformation"
                                    [ngModelOptions]="{standalone: true}"></editor>
                        </div>
                        <div class="parameter">
                            <label>Личные качества</label>
                            <div class="description">Например: целеустремленность, пунктуальность, аккуратность</div>
                            <editor [init]="textEditorConfig"
                                    [(ngModel)]="resumeForm.personalQualities"
                                    [ngModelOptions]="{standalone: true}"></editor>
                        </div>
                        <div class="parameter">
                            <label>Увлечения</label>
                            <div class="description">Чем вы занимаетесь в свободное время</div>
                            <editor [init]="textEditorConfig"
                                    [(ngModel)]="resumeForm.hobbies"
                                    [ngModelOptions]="{standalone: true}"></editor>
                        </div>
                    </div>

                    <div class="contact-info part">
                        <div class="mini-title">
                            Контактные данные
                        </div>

                        <div class="parameter email">
                            <div class="left">
                                <label for="age">E-mail<span class="required">*</span></label>
                            </div>
                            <div class="right">
                                <input type="email" name="email" id="email" class="" [(ngModel)]="resumeForm.email"
                                       required>
                            </div>
                        </div>

                        <div class="parameter phone-number">
                            <div class="left">
                                <label for="age">Телефон<span class="required">*</span></label>
                            </div>
                            <div class="right">
                                <input type="tel" name="phone-number" id="phone-number"
                                       [(ngModel)]="resumeForm.phoneNumber" required>
                            </div>
                        </div>

                    </div>

                    <div class="additionally">
                        <button type="submit" (click)="send()" id="save" [disabled]="myForm.invalid">
                            Сохранить резюме
                        </button>
                        <div class="message" id="alert" (click)="showRequired()">
                            Заполнены не все обязательные поля!
                        </div>
                        <div class="message">
                            Вы всегда сможете отредактировать резюме в личном кабинете
                        </div>
                    </div>

                </form>
            </div>

            <div class="col-auto add-photo">
                <div *ngIf="!resumeImage.data && !resumeForm.photoURL" class="image default">
                    <img src="/assets/images/icon-camera.svg"/>
                </div>
                <div *ngIf="resumeImage.data || resumeForm.photoURL" class="image user">
                    <img [src]="resumeImage.data || resumeForm.photoURL">
                </div>
                <input form="create-summary" (change)="onImageChange($event)" id="load-photo" type="file" size="0"
                       accept="image/*,image/jpeg,image/png,image/gif">
                <label for="load-photo">{{loadingPhotoButton}}</label>

                <div class="message">
                    Фото должно быть в формате PNG, JPG или GIF., разрешением не меньше 360х360 px.
                    <br/><br/>
                    Размер файла не должен<br/> превышать 5 Mb.
                </div>
            </div>
        </div>
    </div>
</div>
