<div class="container">
    <div class="row">
        <div class="col-md-3 order-md-1 col-12  order-3 privacy">
            <img src="/assets/images/logo-footer.png" alt="" class="logo full">
            <div class="privacy-text">
                ©&nbsp;Cenozoic&nbsp;energy&nbsp;group<br/> 2017-2018
            </div>
        </div>
        <div class="col-md-6 order-md-2 col-12  order-1 menu-bar">
            <ul class="nav-menu">
                <li class="nav-menu-item"><a class="link" href="#">{{ dictionary.ABOUT_COMPANY }}</a></li>
                <li class="nav-menu-item"><a class="link" href="#">{{ dictionary.SERVICES }}</a></li>
                <li class="nav-menu-item"><a class="link" href="#">{{ dictionary.SUPPORT }}</a></li>
                <li class="nav-menu-item"><a class="link" href="#">{{ dictionary.PRIVACY_POLICY }}</a></li>
            </ul>
            <ul class="social-network">
                <li class="social-network-item"><a class="link fb" href="#"></a></li>
                <li class="social-network-item"><a class="link linkedin" href="#"></a></li>
                <li class="social-network-item"><a class="link inst" href="#"></a></li>
                <li class="social-network-item"><a class="link tg" href="#"></a></li>
            </ul>
        </div>
        <div class="col-md-3 order-md-3 col-12  order-2 cenozoic-group">
            <img src="/assets/images/cenozoic-group.png" alt="" class="rhinoceros">
            <img src="/assets/images/logo-footer.png" alt="" class="community mobile">
        </div>
    </div>
</div>